<div class = "details-pane">
<!--
<app-search-component (selected)="foundNode($event)" ></app-search-component>
-->
  <div *ngIf="node">
    <div [ngSwitch]= node.kind>
      <pharos-target-card *ngSwitchCase="'ix.idg.models.Target'"  [target]="node"></pharos-target-card>
      <div *ngSwitchCase="'ix.idg.models.Disease'">
        <span><h1><a routerLink="/diseases/{{node.name}}">{{node?.name}}</a></h1></span>
      </div>
      <pharos-ligand-card *ngSwitchCase="'ix.idg.models.Ligand'"  [ligand]="node"></pharos-ligand-card>
      <div *ngSwitchDefault></div>
    </div>
  </div>

  <div *ngIf="link">
    <mat-card>
    <div *ngIf="link.properties?.activity">
      <h4>{{link.source.name}} --> {{link.target.name}}</h4><br><br>
      {{link.properties?.activity}}
    </div>
      <div *ngIf="link.properties?.dataSource">
      <h4>{{link.source.name}} --> {{link.target.name}}</h4><br><br>
        <div *ngIf="link.properties?.dataSource">Data Source: {{link.properties?.dataSource}}</div>
        <div *ngIf="link.properties?.confidence">Confidence: {{link.properties?.confidence}}</div>
        <div *ngIf="link.properties?.log2foldchange">Log2 Fold Change: {{link.properties?.log2foldchange}}</div>
        <div *ngIf="link.properties?.pvalue">Pvalue: {{link.properties?.pvalue}}</div>
        <div *ngIf="link.properties?.IDG_Evidence">Evidence: {{link.properties?.IDG_Evidence}}</div>
    </div>
    </mat-card>
  </div>
</div>
