<div class = "details-pane">
<!--
<app-search-component (selected)="foundNode($event)" ></app-search-component>
-->
  <div *ngIf="node">
    <div [ngSwitch]= node.kind>
      <pharos-target-card *ngSwitchCase="'ix.idg.models.Target'"  [target]="node"></pharos-target-card>
      <div *ngSwitchCase="'ix.idg.models.Disease'"><span><h1><a routerLink="/diseases/{{node.name}}">{{node?.name}}</a></h1></span>
      </div>
      <pharos-ligand-card *ngSwitchCase="'ix.idg.models.Ligand'"  [ligand]="node"></pharos-ligand-card>
      <div *ngSwitchDefault></div>
    </div>
  </div>
</div>
