

<div class="table-list">
  <div *ngIf=" loading" class = "loadingIcon" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
    <div fxFlex="45">
<!--    <mat-form-field class="table-search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
  </mat-form-field>-->
    </div>
    <div fxFlex="45" fxFlexAlign="end">
      <pharos-custom-paginator (page)="paginationChanges($event)"></pharos-custom-paginator>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center" class="body-row">
    <div fxFlex="95">
  <div appPharosCustomContent></div>


  <pharos-custom-paginator (page)="paginationChanges($event)"></pharos-custom-paginator>
</div>
  </div>
</div>

