.table-list{
  height:100%;
  position: relative;
}

.table-search {
  width: 100%;
}

.loadingIcon {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 666;

}

.mat-column-list-select {
  overflow: visible;
}

.col0{
  min-width: 0%;
}
.col5{
  min-width: 5%;
}

.col2 {
  max-width: 2%;
  text-align: start;
}
