.table-search {
  width: 100%;
}

.loadingIcon {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 666;

}

.mat-column-list-select {
  overflow: visible;
}

.col0{
  min-width: 0%;
}
.col5{
  min-width: 5%;
}

.col2 {
  max-width: 2%;
  text-align: start;
}
