<mat-sidenav-container class="main-content">
  <mat-sidenav #sidenav
               [mode]="'side'"
               class="filters-panel"
               [opened]="isSmallScreen!==true">
    <!-- sidenav content -->
    <pharos-filter-panel #filters (closeClick)="sidenav.toggle()"></pharos-filter-panel>
  </mat-sidenav>
  <mat-sidenav #helppanel [position]="'end'" class="help-panel" [mode]="'over'" [opened]="false">
    <!-- sidenav content -->
    <pharos-help-panel></pharos-help-panel>
  </mat-sidenav>
  <mat-sidenav-content (click)="close($event)">
    <div fxLayout="row" fxLayoutAlign="start start" class="filter-help">
      <div fxFlex="5">
        <button type="button" *ngIf="sidenav.opened" class="sidenavToggle" mat-raised-button [color]="'primary'" (click)="sidenav.toggle()">
          Hide Filters <mat-icon>filter_list</mat-icon>
        </button>
        <button type="button"  *ngIf="!sidenav.opened" class="sidenavToggle" mat-raised-button [color]="'primary'" (click)="sidenav.toggle()">
          Show Filters <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>
    <pharos-data-list-visualizations></pharos-data-list-visualizations>
    <mat-divider class="space-divider"></mat-divider>
    <pharos-facet-list></pharos-facet-list>
<div class="table-list">
  <div *ngIf=" loading" class = "loadingIcon" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="body-row">
    <div fxFlex>
      <ng-template appPharosCustomContent></ng-template>
    </div>
  </div>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>
