.table-search{
  width:100%;
}

mat-table{
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.container{
  position: relative;
}

.facet-row {
  padding-bottom: 1vh;
  align-items: start;
  cursor: pointer;
}

.facet-row:hover {
  background-color: #f6f6f6;
}

.field-text {
  font: 400 15px/24px Roboto,"Helvetica Neue",sans-serif;
}

.mat-column-select {
  overflow: visible;
}

.mat-row {
  min-height: 32px;
  border: none;
}

.mat-column-label{
  min-width: 60%;
  text-align: start;
  padding-right: 1vw;
}

.filter-cell.count {
  padding-right: 0;
  max-width: 10vw;
  justify-content: flex-end;
}

.filter-cell.checkbox {
  padding-left: 0;
  max-width: 1vw;
  min-width: 20px;
}
.facetSpinner{
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
