<mat-form-field *ngIf="dataSource.data.length > 8" class="table-search">
  <input matInput (keyup)="filterFacet($event.target.value)" placeholder="Search {{facet.label}}">
</mat-form-field>
<div class="container">
  <div class="loadingIcon facetSpinner" [ngClass]="{loading: loading}" fxLayoutAlign="center center">
    <img class="rotating spinner" alt="loading..." src="../../../../../assets/images/pharos_spinner.svg">
  </div>
  <mat-table [dataSource]="filteredDataSource" (scroll)="scrollDetected($event)">
    <ng-container matColumnDef="select">
      <mat-cell *matCellDef="let row" class="filter-cell checkbox">
        <mat-checkbox *ngIf="!row.noLink" (click)="$event.stopPropagation()" aria-label="Select filter option"
                      (change)="$event ? filterSelection.toggle(row.value ? row.value : row.name) : null"
                      [indeterminate]="isIndeterminate(row)"
                      [checked]="filterSelection.isSelected(row.value ? row.value : row.name)"
                      [disabled]="row.count > 25000"
        ><label class="hidden">Select filter option</label>
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-cell *matCellDef="let row" class="filter-cell name"><span class="field-text" [innerHTML]="highlightText(row.name)"></span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="count">
      <mat-cell *matCellDef="let row" class="filter-cell count">
        <span class="field-text" [matTooltip]="getTooltip(row)">
          {{row.count}} <span class="filter-stats">{{formatStats(row)}}</span><mat-icon class="stats-icon">{{icon(row)}}</mat-icon>
        </span>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayColumns;" [matTooltip]="getRowTooltip(row)"
             (click)="row.count <= 25000 ? filterSelection.toggle(row.value ? row.value : row.name) : null"
             class="facet-row" [ngClass]="{disabled: row.count > 25000}">
    </mat-row>
  </mat-table>
</div>
