<div class="close-button" [dir]="'rtl'">
  <button mat-icon-button (click)="toggleMenu(false)" class="close-button" aria-label="Close help panel">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="help-panel-content" *ngIf="sources && sources.length > 0 || helpDataService.versions && helpDataService.versions.length > 0">
  <div class="description-row">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span class="mat-headline"> <strong>{{title}}</strong></span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" *ngIf="description">
      <div fxFlex="95">
        {{description}}
        <div *ngFor="let source of mainSource" class="source-link">
          <a [href]="source" target="_blank" rel="noreferrer">{{source}}<mat-icon [inline]="true">open_in_new</mat-icon></a>
        </div>
      </div>
    </div>
  </div>

  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="true" *ngIf="sources && sources.length > 0">
      <mat-expansion-panel-header>
        <span class="mat-headline">Descriptions and Definitions</span>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent *ngIf="sources.length">
        <div *ngFor="let source of sources; let i = index;">
          <div *ngIf="source.label">
            <div fxLayout="row" fxLayoutAlign="start center">
              <span class="mat-subheading-1"> <strong>{{source.label}}:</strong></span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around start">
              <div fxFlex="95">
                <p class="mat-body">{{source.description}}
                  <br/>
                  <span *ngIf="source.source" class="source-link">
                  <a [href]="source.source" target="_blank" rel="noreferrer">{{source.source}}<mat-icon [inline]="true">open_in_new</mat-icon></a>
                </span></p>
                <button *ngIf="source.article && !opened[i]" mat-stroked-button [color]="'primary'"
                        (click)="showArticle(source, i)">
                  Learn More...
                </button>
                <button *ngIf="source.article && opened[i]" mat-stroked-button [color]="'primary'"
                        (click)="closeArticle(i)">
                  Close
                </button>
                <ng-template cdkPortalOutlet>
                </ng-template>
                <br>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" *ngIf="this.helpDataService.versions.length > 0">
      <mat-expansion-panel-header>
        <span class="mat-headline">Data Sources</span>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let key of this.helpDataService.versions">
        <pharos-data-version-card [dvInfo]="key"></pharos-data-version-card>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" *ngIf="predictionDetails?.length > 0">
      <mat-expansion-panel-header>
        <span class="mat-headline">Citation for Predicted Data</span>
      </mat-expansion-panel-header>
      <div *ngFor="let citation of predictionDetails">
        <pharos-citation [citation]="citation" [full]="true"></pharos-citation>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
