<mat-card clas="flex30">
<mat-card-header>
    <mat-card-title ><span class="mat-title"> Text Mined References ({{dataSource?.data?.length}})</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="pmid">
    <mat-header-cell *matHeaderCellDef>PMID</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href ="pubmed" >{{row.pmid}} </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.year}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.title}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;">
  </mat-row>
</mat-table>
  </mat-card-content>
</mat-card>
<br>
