:host {
  flex: 1 1 calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin-top: 5.5vh;
  margin-left: 20px;
}

.flex30 {
  flex: 1 1 calc(100% - 20px);
  max-width: calc(100% - 20px);
}

.loadingIcon {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 666;

}
