@use '@angular/material' as mat;
@import '../../partials/ncats-theme';

.header-text{
  display: flex
}
.query-panel{
  margin-top: 5px;
}
.editButton{
  margin-top: 20px;
}

.snippet{
  overflow: scroll;
}

.toc-wrapper {
  padding-left: .3vw;
  height: 90vh;
  overflow-y: scroll;
}

.active {
  border-left: 8px solid mat.get-color-from-palette($pharos-app-primary);
}

.playground {
  border: none;
  min-height: 90vh;
  width:100%;
}

.api-frame{
  width:100%;
}

.container{
  width:100%;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
}

.mat-card{
  margin: 5px 5px 0 5px;
}
