<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GraphQL API Help Page Popup</title>
  </head>
  <body>
    <mat-panel-title class="section-header">Pharos API</mat-panel-title>
    <mat-card-content>
      <p>Welcome to the GraphQL Playground for the Pharos.</p>
      <p>Queryable endpoints can be found on the DOCS tab on the right.</p>
      <p>Datatype definitions are on the SCHEMA tab.</p>
      <br/>
      <ncats-property-display [property]="{externalLink:'https://graphql.org/', term:'GraphQL.org', label:'Learn more about GraphQL'}"></ncats-property-display>
    </mat-card-content>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="'ok'" cdkFocusInitial="true">Ok</button>
    </div>
  </body>
</html>
