@use '@angular/material' as mat;
@import '../../../partials/ncats-theme';

.sidenav-panel {
  padding: 1vw;
}

.sidenav-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  place-content: space-between;
}

.toc-wrapper {
  padding-left: .3vw;
  margin-right: 1vw;
}

.list-button {
  cursor: pointer;
  font-weight: 300;
}

.active {
  border-left: 8px solid mat.get-color-from-palette($pharos-app-primary);
}

.mat-list-item {
  margin-bottom: 1vh;
}

.subsection {
  div {
    padding: 10px 0;
  }
  border-top: 1px solid rgba(0, 0, 0, .54);

  .mat-list-item {
    height: 24px;
    padding: 0 16px;
  }
  .mat-list-item.active {
    padding: 0 16px;
  }
}
