<div *ngIf=facets.length fxLayout="row" fxLayoutAlign="space-around center"  class="facet-list-row">
  <div fxFlex="95">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="70">
        <span class=" mat-title">Selected Filters:</span>
      </div>
      <div fxFlex="30" fxLayoutAlign="end" (click)="removeAll()">
        <mat-chip [selected]="'true'" [color]="'warn'" (click)="removeAll()">
          <span>Clear All</span>
          <mat-icon matChipRemove class="removeIcon"  (click)="removeAll()">cancel</mat-icon>
        </mat-chip>
      </div>
    </div>
    <br>
    <div fxLayout="row-wrap" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutAlign="start start">
      <div fxFlex="17" *ngFor="let facet of facets">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="90" class="facetHeader">
            <span class="mat-subheader">{{facet.label || facet.facet}}</span>
          </div>
          <div fxFlex="10">
            <button mat-icon-button (click)='removefacetFamily(facet)'>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Facet List">
          <mat-chip *ngFor='let field of facet.values'
                    [selected]="'true'"
                    [color]="'primary'"
                    [removable]=true
                    (removed)="removeField(facet.facet, field.name)"
                    class="facet-chip">
            <span>{{field.name}}</span>
            <mat-icon matChipRemove class="removeIcon">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <br>
      </div>
    </div>
  </div>
</div>
