<div *ngIf=facets.length fxLayout="row" fxLayoutAlign="space-around center"  class="facet-list-row">
  <div fxFlex="95">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="70">
        <span class=" mat-title">Selected Filters:</span>
      </div>
      <div fxFlex="30" fxLayoutAlign="end" (click)="removeAll()">
        <mat-chip [highlighted]="'true'" [color]="'warn'" (click)="removeAll()">
          <span>Clear All</span>
          <mat-icon matChipRemove class="removeIcon"  (click)="removeAll()">cancel</mat-icon>
        </mat-chip>
      </div>
    </div>
    <br>
    <div fxLayout="row-wrap" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutAlign="start start">
      <div fxFlex="17" *ngFor="let facet of facets">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="90" class="facetHeader">
            <span class="mat-subheader">{{facet.label || facet.facet}}</span>
          </div>
          <div fxFlex="10">
            <button mat-icon-button (click)='removefacetFamily(facet)'>
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
        <ng-template #structure>
          <mat-chip
            [highlighted]="'true'"
            [color]="'primary'"
            [removable]=true
            (removed)="removeField(facet.facet, facet.values[0].name)"
            class="img-facet-chip">
            <pharos-structure-view [rounded]="true" [smiles]="ligandSmiles" [size] = 100 [ligandName]="'the query structure'"></pharos-structure-view>
            <button mat-icon-button (click)="editStructure()">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-chip>
        </ng-template>
        <mat-chip-list *ngIf="facet.facet !== 'associatedStructure' else structure" class="mat-chip-list-stacked" aria-label="Facet List">
          <mat-chip *ngFor='let upsetObj of facet.upSets'
                    [highlighted]="'true'"
                    [color]="'accent'"
                    [removable]=true
                    (removed)="removeUpset(facet.facet, upsetObj)"
                    class="facet-chip">
            <div class="upsetChip">
              <mat-icon>add</mat-icon><div *ngFor="let inVal of upsetObj.inGroup">{{inVal}}</div>
              <mat-icon *ngIf="upsetObj.outGroup.length > 0">remove</mat-icon><div *ngFor="let outVal of upsetObj.outGroup">{{outVal}}</div>
            </div>
            <div fxFlex=""></div>
            <mat-icon matChipRemove class="removeIcon">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngFor='let field of facet.values'
                    [highlighted]="'true'"
                    [color]="'primary'"
                    [removable]=true
                    (removed)="removeField(facet.facet, field.name)"
                    class="facet-chip">
            <span>{{getName(field, facet)}}</span>
            <mat-icon matChipRemove class="removeIcon">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <br>
      </div>
    </div>
  </div>
</div>
