.facet-list-row {
  margin-top: 1vh;
}

.removeIcon {
  vertical-align: middle;
}

.facet-chip {
  height: 100%;
}

.img-facet-chip {
  height: 100%;
  margin-bottom: 10px;
}

.upsetChip{
  display: flex;
  flex-direction: column;
}
