<!--
<div class = "main">
  <app-ncats-header></app-ncats-header>
  <mat-sidenav-container class="flex-body facetsDrawer">
    <mat-sidenav #sidenav [mode]="'over'">
      &lt;!&ndash; sidenav content &ndash;&gt;
      <pharos-filter-panel></pharos-filter-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <button type="button" class="sidenavToggle" mat-raised-button [color]="'primary'" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <pharos-scroll-to-top></pharos-scroll-to-top>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-ncats-footer class ="footer"></app-ncats-footer>
</div>
-->


<!--
<pharos-toi-header></pharos-toi-header>
-->
    <div class = "row" fxLayoutAlign="space-around stretch">
  <div fxFlex="95">
    <p>Imagination is the key to painting. Just let your mind wander and enjoy. This should make you happy. Isn't it great to do something you can't fail at? Nature is so fantastic, enjoy it. Let it make you happy. You're the greatest thing that has ever been or ever will be. You're special. You're so very special. I'm gonna start with a little Alizarin crimson and a touch of Prussian blue</p>
    <p>In this world, everything can be happy. Trees get lonely too, so we'll give him a little friend. This is your world, whatever makes you happy you can put in it. Go crazy. Put your feelings into it, your heart, it's your world. Even the worst thing we can do here is good. Don't fiddle with it all day.</p>
    <p>The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it. You have freedom here. The only guide is your heart. We don't want to set these clouds on fire. Let your imagination be your guide.</p>
  </div>
</div>
<div class = "row" fxLayoutAlign="space-around stretch">
  <div fxFlex = "25"><mat-card>Targets</mat-card></div>
  <div fxFlex = "25"><mat-card>Diseases</mat-card></div>
  <div fxFlex = "25"><mat-card>Ligands</mat-card></div>
  <div fxFlex = "25"><mat-card>Publications</mat-card></div>
</div>
