<pharos-target-panel-base [data]="data" [child]="this" nodataMessage="No orthologs found">
  <div>
    <mat-paginator
      [pageSize]="5"
      [length]="target.orthologCounts"
      [hidePageSize]="true"
      [showFirstLastButtons]=true
      (page)=paginate($event)
      #orthopaginator></mat-paginator>
    <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
    </div>

    <div fxHide.lt-md>
      <pharos-generic-table
        [showPaginator]=false
        [data]="targetProps.orthologs"
        [fieldsConfig]="fields">
      </pharos-generic-table>
    </div>
    <div fxHide.gt-sm>
      <pharos-generic-table
        [showPaginator]=false
        [data]="targetProps.orthologs"
        [fieldsConfig]="shortFields">
      </pharos-generic-table>
    </div>
  </div>
</pharos-target-panel-base>

