<div class = "pharos-footer">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="20" fxFlexAlign="start">
      <span class="links-header">NCATS</span>
      <div class="link-list">
        <a href = "http://ncats.nih.gov" target="_blank">NCATS</a>
        <a href = "http://ncats.nih.gov/privacy" target="_blank">Privacy Notice</a>
        <a href = "http://ncats.nih.gov/disclaimer" target="_blank">Disclaimer</a>
      </div>
    </div>

    <div fxFlex="20" fxFlexAlign="start">
      <span class="links-header">IDG</span>
      <div class="link-list">
        <a href = "https://commonfund.nih.gov/idg" target="_blank">NIH Common Fund</a>
        <a href = "https://druggablegenome.net/" target="_blank">IDG KMC</a>

      </div>
    </div>
    <div fxFlex="20" fxFlexAlign="start">
      <span class="links-header">PHAROS</span>
      <div class="link-list">
        <a href = "/about">About</a>
        <a href = "http://juniper.health.unm.edu/tcrd/" target="_blank">TCRD</a>
      </div>
    </div>
    <div fxFlex="20" fxFlexAlign="start">
      <span class="links-header">Help</span>
      <div class="link-list">
        <a href = "" target="_blank">Help</a>
        <a href = "http://ncats.nih.gov/accessibility" target="_blank">Accessibility</a>
        <a href = "http://ncats.nih.gov/foia" target="_blank">FOIA</a>
      </div>
    </div>
    <div fxFlex="20" fxFlexAlign="start">
      <span class="links-header">Contact us</span>
      <div class="link-list">
        <a href = "" target="_blank">Slack</a>
        <a href = "" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/channel/UCr5BtMcSjL7C4jwCEJOCKGg" target="_blank">Video tutorials</a>
        <a href = "" target="_blank">Download TCRD</a>
        <a href = "" target="_blank">Code repo</a>
      </div>
    </div>
  </div>
</div>
