<div class = "pharos-footer">
  <div fxLayout ="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="20" fxFlex.lt-sm="100" fxFlexAlign="start">
      <a href = "http://ncats.nih.gov" target="_blank" rel="noreferrer"><span class="links-header">NCATS</span></a>
      <div class="link-list">
        <a href="http://ncats.nih.gov/privacy" target="_blank" rel="noreferrer">Privacy Notice</a>
        <a href="http://ncats.nih.gov/disclaimer" target="_blank" rel="noreferrer">Disclaimer</a>
        <a href="http://hhs.gov/vulnerability-disclosure-policy/index.html" target="_blank" rel="noreferrer">HHS Vulnerability Disclosure</a>
        <a href="http://ncats.nih.gov/accessibility" target="_blank" rel="noreferrer">Accessibility</a>
        <a href="http://ncats.nih.gov/foia" target="_blank" rel="noreferrer">FOIA</a>
      </div>
    </div>

    <div fxFlex="20" fxFlex.lt-sm="100" fxFlexAlign="start" >
      <span class="links-header">IDG</span>
      <div class="link-list">
        <a href = "https://commonfund.nih.gov/idg" target="_blank" rel="noreferrer">NIH Common Fund</a>
        <a href = "https://druggablegenome.net/" target="_blank" rel="noreferrer">IDG KMC</a>

      </div>
    </div>
    <div fxFlex="20" fxFlex.lt-sm="100" fxFlexAlign="start">
      <span class="links-header">PHAROS</span>
      <div class="link-list">
        <span>Pharos Version {{this.version}}</span>
        <a href = "/changelog">Pharos Change Log</a>
        <span>TCRD Version {{this.tcrd_version}}</span>
        <a href = "http://juniper.health.unm.edu/tcrd/" target="_blank" rel="noreferrer">TCRD</a>
        <a href = "http://juniper.health.unm.edu/tcrd/download/" target="_blank" rel="noreferrer">Download TCRD</a>
        <a href = "/sitemap">Sitemap</a>
      </div>
    </div>
    <div fxFlex="20" fxFlex.lt-sm="100" fxFlexAlign="start">
      <span class="links-header">Contact us</span>
      <div class="link-list">
        <a href = "https://druggablegenome.slack.com" target="_blank" rel="noreferrer">Slack</a>
        <a href = "https://twitter.com/idg_pharos" target="_blank" rel="noreferrer">Twitter</a>
<!--
        <a href="https://www.youtube.com/channel/UCr5BtMcSjL7C4jwCEJOCKGg" target="_blank" rel="noreferrer">Video tutorials</a>
-->
      </div>
    </div>
  </div>
</div>
