<mat-card *ngIf="target" class="container">
  <mat-card-content>
    <div class="">
      <div fxFlex="95" class="toprow">
        <mat-checkbox *ngIf="loggedIn" (click)="$event.stopPropagation()"
                      (change)="$event ? this.toggleSelection($event) : null"
                      [checked]="this.selected">
        </mat-checkbox>
        <pharos-idg-level-indicator [level]="target.idgTDL"
                                    [matTooltip]="getTooltip('tdl')"></pharos-idg-level-indicator>
        <span class="title-bar" [matTooltip]="'See details for ' + target.gene" routerLink='/targets/{{target.accession}}'>
          <span class="mat-card-title">{{target?.gene || target?.accession}}</span>
          <span class="mat-card-subtitle">{{target?.name}}</span>
        </span>
      </div>
      <div>
        <pharos-help-panel-trigger [origin]="'targetList'"></pharos-help-panel-trigger>
      </div>
    </div>
    <div class="target-details">
      <div class="section">
        <pharos-gene-details [target]="target" [apiSources]="apiSources"></pharos-gene-details>
      </div>
      <div class="section">
        <pharos-knowledge-metrics [target]="target" [apiSources]="apiSources"></pharos-knowledge-metrics>
      </div>
      <div *ngIf="target.diseaseAssociationDetails?.length > 0"
          (click)="diseaseField.scrollable || expandingDiseases ? toggleDiseases(): null"
          class="section disease_details">
        <pharos-disease-association-details
          [target]="target"
          [apiSources]="apiSources"
          [expanded]="expanded"
          #diseaseField>
        </pharos-disease-association-details>
        <span *ngIf="!expanded && (diseaseField.scrollable || expandingDiseases)" class="expandLink">Click for more...</span>
      </div>
      <div *ngIf="target.ligandAssociationDetails"
           (click)="expanded=!expanded"
           class="section ligand_details"
           [ngClass]="{expanded: expanded, unexpanded: !expanded}">
        <pharos-ligand-association-details [target]="target" [apiSources]="apiSources" [expanded]="expanded"></pharos-ligand-association-details>
      </div>
      <div *ngIf="target.interactionDetails"
          (click)="expanded=!expanded"
          class="section interaction_details"
          [ngClass]="{expanded: expanded, unexpanded: !expanded}">
        <pharos-interaction-details [target]="target" [apiSources]="apiSources" [expanded]="expanded"></pharos-interaction-details>
      </div>
      <div *ngIf="target.similarityDetails?.commonOptions?.length > 0"
           (click)="expanded=!expanded"
           class="section similarity_details"
           [ngClass]="{expanded: expanded, unexpanded: !expanded}">
        <pharos-similarity-details [target]="target" [apiSources]="apiSources" [similarityTarget]="similarityTarget" [expanded]="expanded"></pharos-similarity-details>
        <span *ngIf="!expanded" class="expandLink">Click for details...</span>
      </div>
      <div *ngIf="target.targetPredictionDetails"
           (click)="expanded=!expanded"
           class="section prediction"
           [ngClass]="{expanded: expanded, unexpanded: !expanded}">
        <pharos-target-prediction-details [target]="target" [apiSources]="apiSources" [expanded]="expanded"></pharos-target-prediction-details>
      </div>
      <div class="section radar-chart" *ngIf="(!target.targetPredictionDetails || !target.ligandAssociationDetails)">
        <mat-card-subtitle>Illumination Graph</mat-card-subtitle>
        <pharos-radar-chart [size]="'small'"
                            *ngIf=target.hgdata [data]="[target.hgdata]"
                            [matTooltip]="getTooltip('illuminationGraph')"></pharos-radar-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
