
.list-grid {
  margin: 2px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  grid-gap: 2px;
}

@media only screen and (max-width: 960px) {
  .list-grid {
    grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
  }
}

.entry {
  margin: 2px;
}

.drilldown-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
