<a routerLink="/topics/{{topic?.id}}">
<mat-card class ="pharos-card topic-link">
  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <mat-chip-list>
<!--
        <mat-chip  [color]="'accent'" [selected]="true">{{topic?.class}}</mat-chip>
-->
      </mat-chip-list>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100">
      <span class="topic-header primary">{{topic?.name}}</span>
    </div>
  </div>
    <div *ngIf="desc" fxLayout="row" fxLayoutAlign="center center" class="counts-row">
      <div fxFlex="75">
        {{topic?.description}}
      </div>
    </div>
  <div class = "pharos-card-spacer"></div>
    <div fxLayout="row" fxLayoutAlign="center center" class="counts-row">
      <div fxFlex="30" *ngIf="topic?.targetCt != 0" routerLink="/targets" class="topic-sub-link" fxFlexAlign="center">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{topic?.targetCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="counts-row">
        <span class = "counter-type">Targets</span>
      </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="topic?.targetCt != 0"></div>
      <div fxFlex="30" *ngIf="topic?.diseaseCt != 0" routerLink="/diseases" class="topic-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{topic?.diseaseCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class = "counter-type">Diseases</span>
        </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="topic?.diseaseCt != 0"></div>
      <div fxFlex="30" *ngIf="topic?.ligandCt != 0" routerLink="/ligands" class="topic-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{topic?.ligandCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter-type">Ligands</span>
        </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="topic?.publicationCt != 0"></div>
      <div fxFlex="30" *ngIf="topic?.publicationCt != 0" routerLink="/publications" class="topic-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{topic?.publicationCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter-type">Publications</span>
        </div>
      </div>
    </div>
</mat-card>
</a>
