.spinner-holder {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
}

.dark {
  background-color: rgba(0,0,0,.3);
}

.light {
  background-color: rgba(255,255,255,.6);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.25s linear infinite;
  -moz-animation: rotating 1.25s linear infinite;
  -ms-animation: rotating 1.25s linear infinite;
  -o-animation: rotating 1.25s linear infinite;
  animation: rotating 1.25s linear infinite;
}

.spinner{
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  height: 30vh;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
