dist: jammy
language: node_js
node_js:
  - '18'

addons:
  chrome: stable

cache:
  directories:
    - ./node_modules

install:
  - npm install --legacy-peer-deps

script:
  - npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
