circle.guide{
  stroke: red;
  fill: none;
  stroke-width:5;
  stroke-dasharray:5, 5;
}

circle.dot{
  fill:#fff;
  stroke-width:1;
  stroke:#000;
}

circle.center{
  fill:#red;
  stroke-width:5;
  stroke:#000;
}

polygon.poly {
  fill: none;
  stroke: black;
  stroke-width: 1;
}
