
.facetsDrawer {
  height:100%;
  display:flex;
  flex-direction:column;
  margin-top:100px;
  background-color: #f7f7f7;
}

.filter-help {
  background-color: #f7f7f7;
}

.loadingIcon {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  color:#642F6C;
  z-index: 666;
}

.ncats-emphasis {
  color:#642F6C;
  font-weight: bold;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  background-color: #f7f7f7;
}

.sidenavToggle {
  margin-left: 1vw;
}

.help-panel {
  width: 40vw;
}
