<ng-container id="headertemplate" #headertemplate cdkPortalOutlet></ng-container>
<mat-sidenav-container class="main-content" [autosize]= autosize>
  <mat-sidenav #leftpanel
               [mode]="isSmallScreen!==true ? 'side' : 'over'"
               [opened]="isSmallScreen !== true">
    <!-- sidenav content -->
    <nav>
      <ng-container id="lefttemplate" #lefttemplate cdkPortalOutlet></ng-container>
    </nav>
  </mat-sidenav>

  <mat-sidenav #rightpanel [position]="'end'" [opened] = false>
    <!-- sidenav content -->
    <aside>
      <ng-container id="righttemplate" #righttemplate cdkPortalOutlet></ng-container>
    </aside>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="this.getClassForMarginsOnServer()" (click)="close()" class="pharos-sidenav-content" role="main" id="scrollspy-main">

    <div fxLayout="row" fxLayoutAlign="start start" class="sidenav-buttons">
      <div fxFlex="5">
        <button type="button"  *ngIf="!leftpanel.opened" class="sidenavToggle" mat-raised-button [color]="'primary'" (click)="leftpanel.toggle()">
          Show Shortcuts <mat-icon>filter_list</mat-icon>
        </button>
      </div>
    </div>

    <ng-container id="contenttemplate" #contenttemplate cdkPortalOutlet></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-container id="footertemplate" #footertemplate cdkPortalOutlet></ng-container>
