
.main-content {
  height:100%;
  display:flex;
  flex-direction:column;
  margin-top:75px;
  background-color: #f7f7f7;
  z-index: 0;
}

.filter-help {
  background-color: #f7f7f7;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  background-color: #f7f7f7;
}

.sidenavToggle {
  margin-left: 1vw;
}

.help-panel {
  width: 40vw;
}

.space-divider {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
