.main-content {
  margin-top: 60px;
  background-color: #f7f7f7;
  z-index: 0;
  min-height: 100vh;
}

.pharos-sidenav-content {
 padding: 1vw;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  background-color: #f7f7f7;
  overflow: visible;
}

.sidenavToggle {
  margin-left: 1vw;
}

.space-divider {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.list-content {
  overflow: visible;
}
