.main-content {
  margin-top: 60px;
  background-color: #f7f7f7;
  z-index: 0;
  min-height: 100vh;
}

.banner {
  margin-top: 40px;
}

.topMargin {
  padding-top: 4vh;
}

.pharos-sidenav-content {
  padding: 0.5vw 1vw 1vw 1vw;
}

// list page - based on 1500px width
.wideNavPanel{
  margin-left: 26%;
}

// details page - based on 1500px width
.thinNavPanel{
  margin-left: 385px;
}

.vthinNavPanel{
  margin-left: 220px;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  overflow: visible;
}

.sidenavToggle {
  margin-left: 1vw;
}

.space-divider {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.list-content {
  overflow: visible;
}

@media only screen and (max-width: 960px) {
  .pharos-sidenav-content {
    padding-top: 10vh;
  }
}
