<div class="flex-body">
  <app-ncats-header></app-ncats-header>
  <mat-sidenav-container class="facetsDrawer">
    <mat-sidenav #sidenav [mode]="'over'">
      <!-- sidenav content -->
      <pharos-filter-panel></pharos-filter-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <pharos-breadcrumb></pharos-breadcrumb>
      <button type="button" class="sidenavToggle" mat-raised-button [color]="'accent'" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <pharos-data-list-visualizations></pharos-data-list-visualizations>
      <pharos-data-list fxFlexAlign="stretch"></pharos-data-list>
      <!--<router-outlet fxFlexAlign="stretch"></router-outlet>-->

      <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
        <button  mat-fab color="primary" (click)="scrollToTop()">
          <mat-icon> arrow_upward </mat-icon>
        </button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-ncats-footer class ="footer"></app-ncats-footer>
