<section>
<div *ngIf= "diseases && diseases.length > 0">
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row disease-table">
  <div fxFlex="45">
    <div class = mat-display-1>Diseases <span *ngIf ="pageData">({{pageData.total}})</span></div>
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <pharos-custom-paginator [pageData]="pageData" (page)="changePage($event)"></pharos-custom-paginator>
  </div>
</div>

<pharos-generic-table *ngIf = "diseases"
                      [pageData]="pageData"
                      [showPaginator]="false"
                      [fieldsConfig]="fieldsData"
                      [data]="diseases"
                      (sortChange)="changeSort($event)"
                      (pageChange)="changePage($event)">
</pharos-generic-table>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <pharos-custom-paginator [pageData]="pageData" (page)="changePage($event)"></pharos-custom-paginator>
  </div>
</div>
</div>
</section>
