<section class="model-list">
<div *ngIf= "diseases && diseases.length > 0">
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row disease-table">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <mat-paginator class="model-list-paginator"
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
<pharos-generic-table *ngIf = "diseaseObjs" class="model-list-table"
                      [pageData]="pageData"
                      [showPaginator]="false"
                      [fieldsConfig]="this.associatedTarget ? fieldsDataWithTarget : fieldsData"
                      [data]="diseaseObjs"
                      (sortChange)="changeSort($event)"
                      (pageChange)="changePage($event)">
</pharos-generic-table>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <mat-paginator
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
</div>
</section>
