<section>
<div *ngIf= "diseases && diseases.length > 0">
  <mat-toolbar [color]="'primary'" class="target-table-toolbar">
    <div class=list-header>Diseases <span *ngIf="pageData">({{pageData.total}})</span>
    </div>
    <div fxFlex></div>
    <div fxFlex="10" fxLayoutAlign="end">
      <button mat-button class="tool-button" (click)="downloadData()"
              matTooltip="Download Disease List Data">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </mat-toolbar>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row disease-table">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <mat-paginator
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
<pharos-generic-table *ngIf = "diseaseObjs"
                      [pageData]="pageData"
                      [showPaginator]="false"
                      [fieldsConfig]="fieldsData"
                      [data]="diseaseObjs"
                      (sortChange)="changeSort($event)"
                      (pageChange)="changePage($event)">
</pharos-generic-table>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <mat-paginator
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
</div>
</section>
