<mat-card *ngIf="target">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <pharos-idg-level-indicator [level]="target?.idgTDL"></pharos-idg-level-indicator>
        <span class="mat-title">{{target?.name}}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
      <div fxFlex="95">
    <pharos-radar-chart  *ngIf = knowledge [data]="knowledge"></pharos-radar-chart>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
      <div fxFlex="95">
    <pharos-knowledge-table *ngIf = knowledge [data] = knowledge></pharos-knowledge-table>
      </div>
    </div>
    {{target?.gene}}
  </mat-card-content>
</mat-card>
