<article>
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
    <mat-card id={{field}}
              class="section-card"
              *ngIf="this.disease.parents.length > 0 || this.disease.children.length > 0"
              (pharosScrollspy)="active(field)"
              #doBrowser>
      <mat-card-content>
        <div>
          <div fxFlex="97">
            <mat-card-title>
              Disease Hierarchy
            </mat-card-title>
          </div>
          <div>
            <pharos-help-panel-trigger [origin]="'doBrowser'"
                                       [label]="'heirarchy'"></pharos-help-panel-trigger>
          </div>
        </div>
        <div class="content">
          <mat-card class="section">
            <mat-card-subtitle [matTooltip]="getTooltip('parents')">Parents</mat-card-subtitle>
            <div *ngFor="let parent of this.disease.parents" class="ancestorListItem">
              <ncats-property-display [showLabel]="false"
                                      [property]="{term:parent.name + ' (' + parent.targetCountsTotal + ')', internalLink:'/diseases/' + parent.name}">{{parent.targetCountsTotal}}</ncats-property-display>
              <div FxFlex class="assoc-count">
                <div *ngFor='let assocCount of parent.targetCounts'>
                  <div class="assoc-count">
                    <pharos-idg-level-indicator [level]="assocCount.name"></pharos-idg-level-indicator>
                    <h3>{{assocCount.value}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
          <mat-card class="section">
            <mat-card-subtitle [matTooltip]="getTooltip('children')">Children</mat-card-subtitle>
            <div *ngFor="let child of this.disease.children" class="ancestorListItem">
              <ncats-property-display [showLabel]="false"
                                      [property]="{term:child.name + ' (' + child.targetCountsTotal + ')', internalLink:'/diseases/' + child.name}">{{child.targetCountsTotal}}</ncats-property-display>
              <div FxFlex class="assoc-count">
                <div *ngFor='let assocCount of child.targetCounts'>
                  <div class="assoc-count">
                    <pharos-idg-level-indicator [level]="assocCount.name"></pharos-idg-level-indicator>
                    <h3>{{assocCount.value}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</article>
