<ng-template #nodata>
  <mat-card id={{field}}
            class="section-card"
            (pharosScrollspy)="active(field)"
            #doBrowser>
    <mat-card-content>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      No matching MONDO term found
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #headerrow>
  <pharos-component-header [description]="description" [field]="field" [headerText]="'Disease Hierarchy'"></pharos-component-header>
</ng-template>
<article>
    <mat-card id={{field}}
              class="section-card"
              *ngIf="hasData(); else nodata"
              (pharosScrollspy)="active(field)"
              #doBrowser>
      <mat-card-content>
        <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
        <div class="content">
          <mat-card class="section">
            <mat-card-subtitle [matTooltip]="getTooltip('parents')">Parents</mat-card-subtitle>
            <div *ngFor="let parent of this.disease.parents" class="ancestorListItem">
              <ncats-property-display [showLabel]="false"
                                      [property]="{term:parent.name + ' (' + (parent.targetCountsTotal || parent.associationCount) + ')',
                                       internalLink:['/diseases', parent.name]}">{{parent.targetCountsTotal || parent.associationCount}}</ncats-property-display>
              <div FxFlex class="assoc-count">
                <div *ngFor='let assocCount of parent.targetCounts'>
                  <div class="assoc-count">
                    <pharos-idg-level-indicator [level]="assocCount.name"></pharos-idg-level-indicator>
                    <h3>{{assocCount.value}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
          <mat-card class="section">
            <mat-card-subtitle [matTooltip]="getTooltip('children')">Children</mat-card-subtitle>
            <div *ngFor="let child of this.disease.children" class="ancestorListItem">
              <ncats-property-display [showLabel]="false"
                                      [property]="{term:child.name + ' (' + (child.targetCountsTotal || child.associationCount) + ')',
                                      internalLink:['/diseases', child.name]}">{{child.targetCountsTotal || child.associationCount}}</ncats-property-display>
              <div FxFlex class="assoc-count">
                <div *ngFor='let assocCount of child.targetCounts'>
                  <div class="assoc-count">
                    <pharos-idg-level-indicator [level]="assocCount.name"></pharos-idg-level-indicator>
                    <h3>{{assocCount.value}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
</article>
