.content{
  display: flex;
  flex-direction: row;
}

.section{
  width: 50%;
  padding: 0 2em 2em 2em;
  margin: 3px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.section > div{
  margin-top: 2vh;
}

.mat-card-subtitle{
  font-size: 175%;
  padding-top: 0.75em;
}

.assoc-count {
  display: flex;
  align-items: center;
}

.assoc-count:first-child{
  padding-left: 0;
}

.ancestorListItem{
  padding-left: 1em;
}

@media only screen and (max-width: 960px) {
  .content{
    flex-direction: column;
  }
  .section {
    width: unset;
  }
}
@media only screen and (max-width: 768px) {
  .assoc-count{
    flex-wrap: wrap;
  }
}
