.info{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.helpicon{
  opacity: 0.25;
}

.helpicon:hover{
  opacity: 1;
}

.infoCollapsed{
  height: 3vh;
}

.explanation{
  padding: 0 1vw;
  margin-bottom: 1vh;
  opacity: 0.54;
}

.full-height {
  min-height: 100%;
}

.facet-list {
  width: 25vw;
  margin-bottom: 25vh;
}

.full-width {
  width: 85vw;
}

.facet-title {
  margin: 0;
}

.facet-modifier{
  align-self: center;
  margin-left: 10px;
  opacity: 0.54;
}

.full-width-field {
  width: 95%;
}

.clear-all {
  margin-right: 1vw;
}

.grid-list {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-rows: auto;
  grid-gap: 1em;
  padding: 1vw;
  overflow-x: hidden;
}

.full-width > .grid-list {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  grid-template-rows: auto;
  grid-gap: 1em;
  padding: 1vw;
}

.tools-row {
  margin-left: 1vw;
  margin-top: 1vh;
}

@media only screen and (max-width: 960px) {
  .facet-list {
    width:50vw;
  }

  .full-width {
    width: 95vw;
  }

  .full-width > .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .facet-list {
    width: 95vw;
  }

  .full-width {
    width: 95vw;
  }

  .full-width > .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }
  }
