<div class="facet-list" [ngClass]="{ 'full-width': fullWidth}">
  <div class="close-button" [dir]="'rtl'">
    <button mat-icon-button (click)="toggleMenu()" class="close-button" aria-label="Close filter panel">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" class="tools-row">
    <span class="mat-headline facet-title">Refine by Category</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="tools-row">
    <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
    </div>
    <div fxFlex="15">
      <button type="button" mat-raised-button [color]="'primary'" (click)="toggleFacets()"
              *ngIf="!fullWidth; else close">
        See All Categories
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      <ng-template #close>
        <button type="button" mat-raised-button [color]="'primary'" (click)="toggleFacets()">
          All Categories
          <mat-icon *ngIf=fullWidth>clear</mat-icon>
        </button>
      </ng-template>
    </div>
    <div fxFlex="30" class=" clear-all" fxLayoutAlign="end">
      <mat-chip-list class="mat-chip-list" aria-label="Clear All">
        <mat-chip [selected]="'true'" [color]="'warn'" (click)="removeAll()">
          <span>Clear All</span>
          <mat-icon matChipRemove class="removeIcon">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="95">
      <mat-form-field class="full-width-field" *ngIf=fullWidth>
        <input matInput placeholder="search facets" aria-label="Filter facets" [(ngModel)]="value"
               (keyup)="search($event.target.value)">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="grid-list" *ngIf="facets">
    <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
    </div>
    <div *ngFor="let facet of nonEmptyFacets(); trackBy: trackByFn;">
      <mat-expansion-panel [expanded]=true *ngIf="facet.values.length > 0" class="full-height">
        <mat-expansion-panel-header [ngClass]="{prediction: facetIsPrediction(facet)}">
          <mat-panel-title>
            <span>
              <span class="mat-title facet-title">{{facet.label ? facet.label : facet.facet}}</span>
              <span *ngIf="!isProduction"> ({{facet.elapsedTime?.toFixed(2)}}s)</span>
              <span class="facet-modifier" *ngIf="facet.modifier"> ({{facet.modifier}})</span>
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span class="info" [ngClass]="{infoCollapsed: !showingInfo(facet)}" *ngIf="facet.sourceExplanation" >
          <div *ngIf="showingInfo(facet)" class="explanation" [innerHTML]="facet.sourceExplanation"></div>
          <div class="helpicon" (click)="toggleFacetInfo(facet)">
            <mat-icon [color]="'primary'">help</mat-icon>
          </div>
        </span>
        <div *ngIf="facet.dataType === 'Numeric'; then numericBlock else categoryBlock"></div>
        <ng-template #categoryBlock>
          <pharos-facet-table [facet]="facet"></pharos-facet-table>
        </ng-template>
        <ng-template #numericBlock>
          <pharos-facet-histogram [facet]="facet"></pharos-facet-histogram>
        </ng-template>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="facets && facets.length === 0">
      <mat-card>
        <mat-card-content>
          No facet Found
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>undo</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

