


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start"
     class="body-row topic-table">
  <div fxFlex="45">
    <div class=mat-display-1>Topics <span *ngIf="topics">({{topics.length}})</span></div>
  </div>
  <div fxFlex="45" fxFlexAlign="end">

  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start"
     class="body-row topic-table">
  <div fxFlex="95">
    <div class="topic-grid">
      <div *ngFor="let topic of topics" class="topic-card">
        <pharos-topic-card [topic]=topic [desc]="true"></pharos-topic-card>
      </div>
    </div>
  </div>
</div>
