<div class="disease-details-main" #detailsMain>
  <mat-sidenav-container class="main-content">
    <mat-sidenav #navpanel
                 class="nav-panel"
                 [mode]="'side'"
                 [fixedInViewport]="true"
                 [fixedTopGap]="120"
                 role="directory"
                 [opened]="isSmallScreen!==true"
    >
      <!-- sidenav content -->
      <pharos-sidenav-panel
        [activeElement] = activeElement>
      </pharos-sidenav-panel>
    </mat-sidenav>
    <mat-sidenav-content role="main" class="disease-details-content" id="scrollspy-main">
      <ng-template appPharosCustomContent ></ng-template>
    </mat-sidenav-content>
    <pharos-scroll-to-top></pharos-scroll-to-top>
  </mat-sidenav-container>
</div>
