<article>
  <div class="news-panel">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50">
        <div class="news-banner">Latest News and Events</div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
    <a href="https://twitter.com/idg_pharos?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-dnt="true" data-show-count="false">Follow &#64;idg_pharos</a>
    <a class="twitter-timeline" data-width="750" data-height="600" data-theme="light" href="https://twitter.com/idg_pharos?ref_src=twsrc%5Etfw">
      Tweets by IGD Pharos</a>
    </div>
  </div>
</article>
