.news-panel {
  padding: 2vh 0 6vh 0;
  background-color: #ffffff;
}

.news-banner {
  text-align: center;
  font: 300 36px/36px Roboto, "Helvetica Neue", sans-serif;
  padding-top: 5vh;
}

.twitter-follow-button {
  padding-top: 20px;
  padding-bottom: 20px;
}
