<article>
  <div class="news-panel">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50">
        <div class="news-banner">Latest News and Events</div>
      </div>
    </div>
    <div class="news-grid-list">
      <div *ngFor="let item of items">
        <mat-card class="full-height-card">
          <mat-card-header>
            <img mat-card-avatar src="{{item?.imgurl}}" *ngIf="item?.imgurl" class="avatar">
            <mat-card-title *ngIf="item?.author" class="mat-card-title">{{item?.author}}</mat-card-title>
            <mat-card-subtitle *ngIf="item.date" class="mat-card-subtitle">{{item.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [innerHTML]="item.message"></div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</article>
