<article>
  <mat-card id="publicationStatistics" class="section-card"
            (pharosScrollspy)="active('publicationStatistics')"
            #publicationStatistics>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch"
           #development>
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          Publication Statistics</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'publicationStatistics'"
                                     [label]="'Publication Statistics'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div class="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
        <div fxFlex>
          <div class="all-timelines">
            <div class="timeline-div" *ngIf="pmscoreTimeline.length"
                 [ngClass.gt-md]="{threepanel: true, twopanel: false, onepanel: false}"
                 [ngClass.lt-lg]="{threepanel: false, twopanel: true, onepanel: false}"
                 [ngClass.lt-md]="{threepanel: false, twopanel: false, onepanel: true}">
              <span class="mat-title"
                    [matTooltip]="getTooltip('pubmed')"
                    [matTooltipClass]="'pharos-tooltip'">
                PubMed Score
              </span>
              <span>{{target.jensenScore?.toFixed(2)}}</span>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div><b>PubMed score by year</b></div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div class="scatter-plot-holder">
                  <pharos-scatter-plot [svgID]="'pubmed-score-svg'" [data]="pmscoreTimeline" [options]="chartOptions"></pharos-scatter-plot>
                </div>
              </div>
            </div>

            <div class="timeline-div" *ngIf="pubtatorTimeline && pubtatorTimeline.length > 0"
                 [ngClass.gt-md]="{threepanel: true, twopanel: false, onepanel: false}"
                 [ngClass.lt-lg]="{threepanel: false, twopanel: true, onepanel: false}"
                 [ngClass.lt-md]="{threepanel: false, twopanel: false, onepanel: true}">
              <span class="mat-title"
                    [matTooltip]="getTooltip('pubtator')"
                    [matTooltipClass]="'pharos-tooltip'">
                PubTator Score
              </span>
              <span>{{target.pubTatorScore?.toFixed(2)}}</span>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div><b>PubTator score by year</b></div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div class="scatter-plot-holder">
                  <pharos-scatter-plot [svgID]="'pubtator-score-svg'" [data]="pubtatorTimeline" [options]="chartOptions"></pharos-scatter-plot>
                </div>
              </div>
            </div>

            <div class="timeline-div" *ngIf="patentTimeline && patentTimeline.length > 0"
                 [ngClass.gt-md]="{threepanel: true, twopanel: false, onepanel: false}"
                 [ngClass.lt-lg]="{threepanel: false, twopanel: true, onepanel: false}"
                 [ngClass.lt-md]="{threepanel: false, twopanel: false, onepanel: true}">
              <span class="mat-title"
                    [matTooltip]="getTooltip('patents')"
                    [matTooltipClass]="'pharos-tooltip'">
                Patents
              </span>
              <span>{{target.patentCount?.toFixed(2)}}</span>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div><b>Patents by year</b></div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <div class="scatter-plot-holder">
                  <pharos-scatter-plot [svgID]="'patent-svg'" [data]="patentTimeline" [options]="chartOptions"></pharos-scatter-plot>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
