  .all-timelines {
    padding-bottom: 7vh;
  }

  .timelines-panel {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .timeline-holder {
    margin-top: 5vh;
    padding-left: 1vw;
  }

  .scatter-plot-holder {
    height: 15vh;
    width: 70vw;
  }
