:host {
  grid-column: 1 / span 2;
}


.structure-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.structure-grid > div {
  margin-bottom: 2em;
  margin-top: 2em;
  min-height: 100%;
}

@media only screen and (max-width: 960px) {
  :host {
  }

  .structure-grid {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  :host {
  }

  .full-height {
    margin-bottom: 1vh;
  }

  .structure-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    grid-gap: 1em;
    justify-items: center;
  }

  .structure-grid > div {
    margin-bottom: 2em;
    margin-top: 2em;
    min-height: 100%;
  }

}
