<mat-card id = {{field}}
          class="section-card"
          *ngIf = "dataSource.data.length >0"
          (pharosScrollspy)="active(field)"
          #ligands #drugs>
  <mat-card-content>
    <div  *ngIf = "dataSource.data.length >0">
    <mat-card-title ><span class="mat-title">{{label}} ({{allLigands.length}})</span></mat-card-title>
      <pharos-custom-paginator
        [pageData]="pageData"
        [pageSize]="20"
        [pageSizeOptions]="[20, 60, 100]"
        (page)="paginate($event)"></pharos-custom-paginator>
    <div class ="structure-grid">
    <div *ngFor="let ligand of dataSource.data">
      <pharos-ligand-card [ligand]="ligand"></pharos-ligand-card>
    </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>
