:host {
  flex: 1 1 calc(100% - 40px);
  max-width: calc(100% - 40px);
  margin-left: 20px;
}

.full-height {
  height: 100%;
  margin-bottom: 1vh;
}

.structure-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.structure-grid > div {
  margin-bottom: 2em;
  margin-top: 2em;
  min-height: 100%;
}

@media only screen and (max-width: 960px) {
  :host {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .structure-grid {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  :host {
    flex: 1 1 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .full-height {
    margin-bottom: 1vh;
  }

  .structure-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    grid-gap: 1em;
    justify-items: center;
  }

  .structure-grid > div {
    margin-bottom: 2em;
    margin-top: 2em;
    min-height: 100%;
  }

}
