<ul>
  <li><a href="https://www.proteinatlas.org/" target="_blank">HPA
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </a></li>
  <li><a href="https://tissues.jensenlab.org/" target="_blank">JensenLab TISSUES
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </a></li>
  <li><a href="https://www.humanproteomemap.org/" target="_blank">HPM Gene
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </a></li>
  <li><a href="https://www.uniprot.org/" target="_blank">Uniprot Tissue
    <mat-icon [inline]="true">open_in_new</mat-icon>
  </a></li>
</ul>
