<article *ngIf="this.hasData()">
  <mat-card class="section-card"
            (pharosScrollspy)="active('pdbview')"
            #pdbview
            id="pdbview">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
         Protein Structure ({{this.target?.pdbs?.length}} Structure{{this.target?.pdbs?.length === 1 ? '' : 's'}},
          {{this.target?.alphaFoldStructures?.length}}
          AlphaFold Model{{this.target?.alphaFoldStructures?.length === 1 ? '' : 's'}})</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'pdbview'"
                                     [label]="'Protein Data Bank Viewer'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div fxLayout="row" class="image-container">
        <div class="pdb-options">
          <mat-radio-group class="pdb-options" (change)="changeRep($event)">
            <mat-card-subtitle>Representation</mat-card-subtitle>
            <mat-radio-button class="color-radio-button" *ngFor="let opt of reps" [value]="opt"
                              [checked]="opt===centralStorageService.getField('pdbRepresentation')">
              {{opt}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-radio-group class="pdb-options" (change)="changeColor($event)">
            <mat-card-subtitle>Color Scheme</mat-card-subtitle>
            <mat-radio-button class="color-radio-button" *ngFor="let opt of colors" [value]="opt"
                              [checked]="opt===centralStorageService.getField('pdbColorScheme')">
              {{opt}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div [ngClass]="{halfWidth: nViewers()>1, fullWidth: nViewers()===1}" class="pdb-holder" *ngIf="target.pdbs?.length > 0">
          <mat-card-title *ngIf="pdbid" class="pdbid-display">{{pdbid.structureId}}</mat-card-title>
          <pharos-protein-structure-viewer [pdbid]=pdbid.structureId [targetResidues]="currentResidues()"
                                           *ngIf="pdbResponses.length > 0 && pdbid.structureId"></pharos-protein-structure-viewer>
          <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <p class="slice-help">
              <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
              Click on a row in the table to change the structure displayed.<br/>More information can be found at
              <a href="http://www.rcsb.org/" target="_blank" rel="noreferrer">RCSB PDB
                <mat-icon [inline]="true">open_in_new</mat-icon>
              </a></p>
          </div>
        </div>
        </div>
        <div [ngClass]="{halfWidth: nViewers()>1, fullWidth: nViewers()===1}" class="pdb-holder" *ngIf="target.alphaFoldStructures?.length > 0">
          <mat-card-title *ngIf="target.alphaFoldStructures?.length === 1; else multipleModels"
                          class="pdbid-display">{{target.alphaFoldStructures[this.selectedModel].structure}}</mat-card-title>
          <ng-template #multipleModels>
            <mat-select [(value)]="this.selectedModel" placeholder="Select AlphaFold Model" class="modelOption">
              <mat-option *ngFor="let model of target.alphaFoldStructures; let i = index" [value]="i">
                {{target.alphaFoldStructures[i].structure}}
              </mat-option>
            </mat-select>
          </ng-template>
          <pharos-protein-structure-viewer
            [predictedStructures]="target.alphaFoldStructures" [structureIndex]="this.selectedModel">
          </pharos-protein-structure-viewer>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div>
              <p class="slice-help">
                <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
                AlphaFold Structures Developed by DeepMind and
                <a href="https://alphafold.ebi.ac.uk/" target="_blank" rel="noreferrer">EMBL-EBI
                  <mat-icon [inline]="true">open_in_new</mat-icon>
                </a></p>
            </div>
          </div>
        </div>
        <!--        <div fxFlex="35">-->
        <!--          <pharos-pdb-details [pdbResult]="pdbid"></pharos-pdb-details>-->
        <!--        </div>-->
      </div>
      <ng-container *ngIf="target?.pdbs?.length > 0">
        <div fxLayout="row" fxLayoutAlign="end center">
          <mat-paginator
            [pageSize]="5"
            [length]="target?.pdbs?.length"
            [hidePageSize]="true"
            [showFirstLastButtons]=true
            (page)=pagePDB($event)
            #pdbpaginator></mat-paginator>
        </div>
        <div fxHide.lt-md>
          <pharos-generic-table
            [data]=this.pdbViewObjects
            [showPaginator]="false"
            [fieldsConfig]=fieldsData
            [highlightFunction]="highlightRow.bind(this)"
            (rowClick)="changePdbId($event)">
          </pharos-generic-table>
        </div>
        <div fxHide.gt-sm>
          <pharos-generic-table
            [data]=this.pdbViewObjects
            [showPaginator]="false"
            [fieldsConfig]=shortFieldsData
            [highlightFunction]="highlightRow.bind(this)"
            (rowClick)="changePdbId($event)">
          </pharos-generic-table>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</article>
