.pdbid-display {
  font-size: 1.25em;
  text-align: center;
}

.pdb-holder {
  height: 40vh;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .pdb-holder{
    flex-direction: column;
  }
}
.halfWidth{
  width: 48%;
}
.fullWidth{
  width: 95%;
}
.image-container{
  min-height: 400px;
}
.pdb-options {
  display: flex;
  flex-direction: column;
}
.modelOption{
  font-size: large;
}
mat-radio-group.pdb-options {
  padding-top: 20px
}
