.pdbid-display {
  font-size: 1.25em;
  text-align: center;
}

.pdb-holder {
  height: 40vh;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .pdb-holder{
    flex-direction: column;
  }
}

.image-container{
  display: flex;
  place-content: center space-evenly;
  align-items: flex-start;
  min-height: 468px;
}
