<article class="container">
  <mat-card
    id="filter-representation"
    #filterRepresentation>
    <mat-card-content>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          {{label}}</span>
        </div>
        <div fxFlex="5" *ngIf="!displayFacet?.singleResponse">
          <pharos-tutorial-link [tourType]="tourType"></pharos-tutorial-link>
        </div>
      </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" class="facet-visualizations">
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxFlex="60" fxFlex.lt-md="80" *ngIf=displayFacet class="facet-change">
          <pharos-visualization-options [model]="model" [facets]="facets">
          </pharos-visualization-options>
          <b>{{displayFacet.facet}}</b>: <span [innerHTML]="displayFacet.sourceExplanation"></span>
        </div>
      </div>
      <div *ngIf="displayFacet?.singleResponse">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div *ngIf=displayFacet>
            <pharos-donut-chart [data]="displayFacet.values" (clickSlice)="filterDonutChart($event)"
                                [events]="redrawCharts.asObservable()"></pharos-donut-chart>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <div fxFlex="60" fxFlex.lt-md="80" *ngIf=displayFacet>
            <p class="slice-help">
              <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
              Click on a slice to filter the list
            </p>
          </div>
        </div>
      </div>
      <div class="upset-chart" *ngIf="!displayFacet?.singleResponse">
        <div>
          <pharos-upset-plot [displayFacet]="displayFacet" [events]="redrawCharts.asObservable()"></pharos-upset-plot>
          <div fxLayout="row" fxLayoutAlign="space-around start">
            <div fxFlex="60" fxFlex.lt-md="80" *ngIf=displayFacet>
              <p class="slice-help">
                <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
                Click on a bar to filter the list
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    </mat-card-content>
  </mat-card>
</article>
