<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="50" fxFlex.lt-md="80" *ngIf=donutData>
    <pharos-donut-chart [data]="donutData.values" (clickSlice)="filterDonutChart($event)"></pharos-donut-chart>
  </div>
</div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex="60" fxFlex.lt-md="80" *ngIf=donutData>
      <p class="slice-help">  <mat-icon [color]="'primary'" class = "help-icon">info</mat-icon> Click on a slice to filter the list</p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex="60" fxFlex.lt-md="80" *ngIf=donutData>
    <pharos-visualization-options (fieldChange)="changeDonutChart($event)" [facets]="facets"></pharos-visualization-options>
  </div>
</div>
<mat-divider class="space-divider"></mat-divider>
