<article>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="upset-chart">
          <div>
            <pharos-upset-plot [displayFacet]="displayFacet" [events]="redrawCharts.asObservable()"></pharos-upset-plot>
            <div fxLayout="row" fxLayoutAlign="space-around start">
              <div fxFlex="60" fxFlex.lt-md="80" *ngIf=displayFacet>
                <p class="slice-help">
                  <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
                  Click on a bar to filter the list
                </p>
              </div>
            </div>
          </div>
          <div fxFlex="5">
            <pharos-help-panel-trigger [origin]="'visualizations'"
                                       [label]="'Visualizations'"></pharos-help-panel-trigger>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <div fxFlex="60" fxFlex.lt-md="80" *ngIf=displayFacet class="facet-change">
            <pharos-visualization-options (fieldChange)="changeSelectedFacet($event)"
                                          [facets]="facets"></pharos-visualization-options>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
