<div fxLayout="row" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="95">
    <div *ngIf="fullDescription; else truncated">
      <span class="mat-body-1">{{target.description}}</span>
      <a (click) = "fullDescription = false" *ngIf="fullDescription && truncatedDescription"> ...less</a>
    </div>
    <ng-template #truncated>
      <span class="mat-body-1">{{truncatedDescription}}</span>
      <a (click) = "fullDescription = true" *ngIf="!fullDescription"> ...more</a>
    </ng-template>
  </div>
</div>
