<div class="types-grid-list">
  <div class="data-type centered">
    <mat-card class="type-card" routerLink="/targets">
      <div fxLayout="row" class="type-header">
        Targets
      </div>
      <div fxLayout="row">
        <img src="./assets/images/target.svg" alt="icon of a dna helix" class="type-icon">
      </div>
      <div fxLayout="row" class="type-count">
        20,244
      </div>
    </mat-card>
  </div>
  <div class="data-type centered">
    <mat-card class="type-card" routerLink="/diseases">
      <div fxLayout="row">
        Diseases
      </div>
      <div fxLayout="row">
        <img src="./assets/images/disease.svg" alt="icon of a dna helix" class="type-icon">
      </div>
      <div fxLayout="row" class="type-count">
        19,624
      </div>
    </mat-card>
  </div>
  <div class="data-type centered">
    <mat-card class="type-card" routerLink="/ligands">
      <div fxLayout="row">
        Ligands
      </div>
      <div fxLayout="row">
        <img src="./assets/images/benzene.svg" alt="icon of a benzene ring" class="benzene type-icon">
      </div>
      <div fxLayout="row" class="type-count">
        210,939
      </div>
    </mat-card>
  </div>
  <div class="data-type centered">
    <mat-card class="type-card" routerLink="/topics">
      <div fxLayout="row">
        Topics
      </div>
      <div fxLayout="row">
        <img src="./assets/images/graph.svg" alt="icon of a graph database" class="type-icon">
      </div>
      <div fxLayout="row" class="type-count">
        20
      </div>
    </mat-card>
  </div>
  <div class="data-type centered center-item">
    <mat-card class="type-card" routerLink="/targets">
      <div fxLayout="row" class="publications">
        Publications
      </div>
      <div fxLayout="row">
        <img src="./assets/images/publication.svg" alt="icon of a dna helix" class="type-icon">
      </div>
      <div fxLayout="row" class="type-count">
        20,244
      </div>
    </mat-card>
  </div>
</div>
