<div fxLayout="row" class = "data-types" fxLayoutAlign="space-around center">
  <div fxFlex="20" class="centered">
    <mat-card class ="type-card" routerLink="/targets">
<div fxLayout="row" class="type-header">
  Targets
</div>
<div fxLayout="row" >
  <img src = "./assets/images/target.svg" alt ="icon of a dna helix" class="type-icon">
</div>
<div fxLayout="row" class="type-count">
  20,244
</div>
    </mat-card>
  </div>
  <div fxFlex="20" class="centered">
    <mat-card class ="type-card">
<div fxLayout="row">
  Diseases
</div>
<div fxLayout="row" >
  <img src = "./assets/images/target.svg" alt ="icon of a dna helix" class="type-icon">
</div>
<div fxLayout="row" class="type-count">
  19,624
</div>
    </mat-card>
  </div><div fxFlex="20" class="centered">
    <mat-card class ="type-card">
<div fxLayout="row">
  Ligands
</div>
<div fxLayout="row" >
  <img src = "./assets/images/target.svg" alt ="icon of a dna helix" class="type-icon">
</div>
<div fxLayout="row" class="type-count">
  210,939
</div>
    </mat-card>
  </div><div fxFlex="20" class="centered">
    <mat-card class ="type-card">
<div fxLayout="row">
  Topics
</div>
<div fxLayout="row" >
  <img src = "./assets/images/target.svg" alt ="icon of a dna helix" class="type-icon">
</div>
<div fxLayout="row" class="type-count">
  20
</div>
    </mat-card>
  </div><div fxFlex="20" class="centered">
    <mat-card class ="type-card">
<div fxLayout="row">
  Publications
</div>
<div fxLayout="row" >
  <img src = "./assets/images/target.svg" alt ="icon of a dna helix" class="type-icon">
</div>
<div fxLayout="row" class="type-count">
  20,244
</div>
    </mat-card>
  </div>
</div>
