<svg:g class ="link-group">
  <svg:line class="link end"
            [ngClass]="{arrow: link.edgeType != 'down', flatarrow: link.edgeType === 'down'}"
            [attr.x1]="endpointLessRadius(link, 'x1') || 0"
            [attr.y1]="endpointLessRadius(link, 'y1') || 0"
            [attr.x2]="endpointLessRadius(link, 'x2') || 0"
            [attr.y2]="endpointLessRadius(link, 'y2') || 0"
  />
  <svg:text class="link-name" *ngIf="showLinkLabel"
            [attr.font-size]= 10
            [attr.x]="(link.source?.x + link.target?.x)/2 "
            [attr.y]="(link.source?.y + link.target?.y)/2 "
  >
    {{link?.type }}
  </svg:text>
  <svg:line class="clickable-area"
            [attr.x1]= "getSource(link.source,'x')"
            [attr.y1]= "getSource(link.source,'y')"
            [attr.x2]= "getSource(link.target,'x')"
            [attr.y2]= "getSource(link.target,'y')"
  />
</svg:g>
