<article class="container" *ngIf="sequence && sequence.length > 0">
  <mat-card
    id="alignments"
    #alignments>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <pharos-component-header [description]="description" [headerText]="label"></pharos-component-header>
      <button class="tool-button" mat-raised-button [color]="'primary'" matTooltip="Download Sequence Alignment List Data"
              (click)="downloadData()">Download
        <mat-icon>download</mat-icon>
      </button>
      <div class="content" *ngIf="results && results.length > 0">
        <pharos-sequence-alignments [alignmentData]="results" [options]="alignmentPlotOptions" #sequenceViewer></pharos-sequence-alignments>
      </div>
    </mat-card-content>
  </mat-card>
</article>
