<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="45">
    <div class = mat-display-1>Targets <span *ngIf ="pageData">({{pageData.total}})</span></div>
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <pharos-custom-paginator [pageData]="pageData" (page)="changePage($event)"></pharos-custom-paginator>
  </div>
</div>
<mat-table [dataSource]="dataSource" matSort  (matSortChange)="changeSort($event)">
      <!--<ng-container matColumnDef="list-select">
        <mat-header-cell *matHeaderCellDef> Compare </mat-header-cell>
        <mat-cell *matCellDef="let row" class="col2">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? rowSelection.toggle(row) : null"
                        [checked]="rowSelection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>-->
      <ng-container matColumnDef="name">
        <mat-header-cell fxFlex="35" *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell fxFlex="35" *matCellDef="let row">
         <a routerLink={{row.accession}} >{{row.name}} </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gene">
        <mat-header-cell *matHeaderCellDef>Gene</mat-header-cell>
        <mat-cell *matCellDef="let row">
         <a routerLink={{row.gene}} >{{row.gene}} </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="idgTDL">
        <mat-header-cell *matHeaderCellDef>Development Level </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <pharos-idg-level-indicator [level] = row.idgTDL></pharos-idg-level-indicator>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="idgFamily">
        <mat-header-cell *matHeaderCellDef>Target Family</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.idgFamily}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="novelty">
        <mat-header-cell fxFlex="5" *matHeaderCellDef mat-sort-header>Log Novelty </mat-header-cell>
        <mat-cell fxFlex="5" *matCellDef="let row">
          {{row.novelty?.toFixed(2)}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="jensenScore">
        <mat-header-cell fxFlex="5" *matHeaderCellDef mat-sort-header>Pubmed Score </mat-header-cell>
        <mat-cell fxFlex="5" *matCellDef="let row">
          {{row.jensenScore?.toFixed(2)}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="antibodyCount">
        <mat-header-cell fxFlex="5" *matHeaderCellDef mat-sort-header>Antibody Count </mat-header-cell>
        <mat-cell fxFlex="5" *matCellDef="let row">
          {{row.antibodyCount}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="knowledgeAvailability">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Knowledge Availability</mat-header-cell>
        <mat-cell *matCellDef="let row" class = "small-radar">
          <pharos-radar-chart [id]="row.accession" [size]="'small'"></pharos-radar-chart>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;" class = "small-radar">
      </mat-row>
    </mat-table>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="45">
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <pharos-custom-paginator [pageData]="pageData" (page)="changePage($event)"></pharos-custom-paginator>
  </div>
</div>
