<span class="mat-headline">Database Results</span>
<div class="list-grid">
  <mat-card *ngIf="data.targets.count > 0" class="list-entry">
    <mat-card-title>Targets ({{data.targets.count}})</mat-card-title>
    <div>{{data.targets.facets[0].facet}}</div>
    <pharos-donut-chart [data]="data.targets.facets[0].values" [svgID]="'search-targets'"></pharos-donut-chart>
    <div class="drilldown-buttons">
    <pharos-explore-list-button class="exploreButton" [path]="'/targets'" [buttonText]="'Show Matching Targets'"
                                [queryParams]="{q: term}"></pharos-explore-list-button>
    </div>
  </mat-card>
  <mat-card *ngIf="data.diseases.count > 0" class="list-entry">
    <mat-card-title>Diseases ({{data.diseases.count}})</mat-card-title>
    <div>{{data.diseases.facets[0].facet}}</div>
    <pharos-donut-chart [data]="data.diseases.facets[0].values" [svgID]="'search-diseases'"></pharos-donut-chart>
    <div class="drilldown-buttons">
    <pharos-explore-list-button class="exploreButton" [path]="'/diseases'" [buttonText]="'Show Matching Diseases'"
                                [queryParams]="{q: term}"></pharos-explore-list-button>
    </div>
  </mat-card>
  <mat-card *ngIf="data.ligands.count > 0" class="list-entry">
    <mat-card-title>Ligands ({{data.ligands.count}})</mat-card-title>
    <div>{{data.ligands.facets[0].facet}}</div>
    <pharos-donut-chart [data]="data.ligands.facets[0].values" [svgID]="'search-ligands'"></pharos-donut-chart>
    <div class="drilldown-buttons">
    <pharos-explore-list-button class="exploreButton" [path]="'/ligands'" [buttonText]="'Show Matching Ligands'"
                                [queryParams]="{q: term}"></pharos-explore-list-button>
    </div>
  </mat-card>
</div>
<mat-card class="entry" *ngFor="let entry of visibleEntries">
  <mat-card-title>{{entry.entityType}} ({{entry.count}} Targets)
    <pharos-explore-list-button class="exploreButton" [path]="'/targets'"
                                [queryParams]="{facet: getFilterName(entry.entityType) + this.Facet.separator + entry.name}"></pharos-explore-list-button>
  </mat-card-title>
  <span [innerHTML]="truncate(entry.name, 1000)"></span>
<!--  <ul>-->
<!--    <li *ngFor="let match of entry.matches">{{entry.entityType}}: <span [innerHTML]="truncate(match.match, 100)"></span></li>-->
<!--  </ul>-->
<!--  {{entry | json}}-->
</mat-card>
