
.list-grid {
  margin: 2px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  grid-gap: 2px;
}

@media only screen and (max-width: 768px) {
  .list-grid {
    grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
  }
}

.entry {
  margin: 2px;
}

.clickable-card {
  cursor: pointer;
}

.clickable-card:hover {
  background-color: #f6f6f6;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 25px;
}

.helpicon{
  cursor: pointer;
  display: flex;
}

.helptext {
  font-size: smaller;
  opacity: 0.5;
  margin-right: 4px;
  margin-top: 1px;
}

.infoCollapsed{
  height: 3vh;
}

.explanation{
  padding: 0 1vw;
  margin-bottom: 1vh;
  color: rgba(0, 0, 0, 0.54);
}

.explanation a{
  color: rgba(0, 0, 0, 1);
}
