:host {
  grid-column: 1 / span 2;
}

.well {
  margin: 0 auto;
  padding: 1vh;
  width: 95%;
  border: 1px solid;
  background-color: #f6f6f6;
  font-family: monospace;
}

.wrap {
  flex-flow: row wrap;
}

/*@media only screen and (max-width: 768px) {
  :host {
    flex: 1 1 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}*/
