
.residue-count-holder {
  height: 15vh;
  width: 70vw;
}

.section-card {
  margin-bottom: 2vh;
}

.sequence-search-button {
  margin-bottom: 10px;
}

span.pharos-subtitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.2em;
  font-weight: 500;
}

.weblogo{
  margin: 0 auto;
  padding: 1vh;
  width: 95%;
}


.wrap {
  flex-flow: row wrap;
}

.no-copy {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.break {
  word-break: break-all;
}

/*
hide uniprot viewer buttons that don't do anything.
 */
.up_pftv_buttons {
  display: none;
}
