<ng-template #nodata>
  <article>
    <mat-card id="viral"
              class="section-card prediction-panel"
              (pharosScrollspy)="active('viral')"
              #viral>
      <mat-card-content>
        <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
        No viral interactions found
      </mat-card-content>
    </mat-card>
  </article>
</ng-template>
<ng-template #headerrow>
  <pharos-component-header [description]="description" [field]="field" [headerText]="'Viral Interactions (' + countString() + ')'"></pharos-component-header>
</ng-template>

<article *ngIf="this.target?.interactingViruses?.length > 0; else nodata">
  <mat-card id="viral"
            class="section-card prediction-panel"
            (pharosScrollspy)="active('viral')"
            #viral>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <div class="headerRow">
        <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                    [facetName]="'Interacting Viruses'"
                                    [queryParams]="{similarity: '(' + target.preferredSymbol + ', Interacting Virus)'}"></pharos-explore-list-button>
        <mat-paginator
          [pageSize]="10"
          [length]="target?.interactingViruses?.length"
          [hidePageSize]="true"
          [showFirstLastButtons]=true
          (page)="paginate($event)"
          #viralpaginator>
        </mat-paginator>
      </div>
      <div *ngFor="let virus of this.visibleList">
        <pharos-virus-details [virus]="virus"></pharos-virus-details>
      </div>
    </mat-card-content>
  </mat-card>
</article>
