.panel-header {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .panel-header{
    flex-direction: column;
  }
}
.association-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  grid-gap: 1em;
  padding-left: 1vw;
}

.header-helptext{
  padding-left: 1vw;
  font-weight: 300;
  opacity: 1;
  top: 0;
  position: relative;
  transition: all .25s linear;
}

.hidden{
  top: 2vh;
  opacity: 0;
}

@-moz-document url-prefix() {
  .association-grid li{
    list-style: none;
  }
}
