<mat-card class = "search-card">
  <mat-card-header>
    <img src="../../assets/images/Pharos_Logo_Rd8.svg">
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width-field">
      <input matInput placeholder="Search for targets (e.g., 'ITK') or diseases (e.g., 'asthma')">
    </mat-form-field>
    <button mat-icon-button><mat-icon>search</mat-icon></button>
    <br>
    <div class="submenu">
      <div id="links">
        <span class="mat-card-subtitle">Browse: </span>
        <a mat-button routerLink="/targets">Targets</a><br>
        <a mat-button routerLink="/diseases">Diseases</a><br>
        <a mat-button routerLink="/targets">Ligands</a><br>
        <a mat-button routerLink="/topics">Topics</a><br>
        <a mat-button routerLink="/targets">API</a><br>
        <a mat-button [matMenuTriggerFor]="helpMenu">Help<mat-icon>arrow_drop_down</mat-icon></a><br>
        <mat-menu #helpMenu="matMenu">
          <button mat-menu-item>General information</button><br>
          <button mat-menu-item>Frequently asked questions</button><br>
          <button mat-menu-item>Download TCRD</button><br>
          <button mat-menu-item><a href="https://www.youtube.com/channel/UCr5BtMcSjL7C4jwCEJOCKGg" target="_blank">Video tutorials</a></button><br>
          <button mat-menu-item>About</button><br>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
