<ng-template #headerrow>
  <pharos-component-header [description]="child?.description" [field]="child?.field" [headerText]="getLabel()"></pharos-component-header>
</ng-template>

<ng-template #nodata>
  <mat-card (pharosScrollspy)="active(child?.field)"
            [id]="child?.field"
            class="section-card">
    <mat-card-content>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      {{nodataMessage}}
    </mat-card-content>
  </mat-card>
</ng-template>

<article>
  <mat-card (pharosScrollspy)="active(child?.field)"
            *ngIf="data && child && child.hasData(); else nodata"
            [id]="child?.field"
            class="section-card">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img alt="loading..." class="spinner rotating" src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</article>
