<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="90">
    <h1 mat-dialog-title>{{data.title}}</h1>
  </div>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="nameable">
    <div fxFlex="90">
      <mat-form-field class="full-width">
        <input matInput [formControl]=collectionNameCtrl placeholder="Name this collection to save it to your profile"/>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="90">
      <mat-form-field class="full-width">
        <textarea
          cdkTextareaAutosize
          matInput
          [formControl]=targetListCtrl
          placeholder="Enter up to 100 newline or comma separated targets"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf= "nameable && data.saveToProfile">
    <div fxFlex="90">
      <mat-checkbox class="example-margin" [(ngModel)]="saveToProfile">Save To Profile?</mat-checkbox>
    </div>
  </div>

</div>
<div mat-dialog-actions [dir]="'rtl'">
  <button mat-flat-button [color]="'primary'" (click)="submitList()" cdkFocusInitial>Submit</button>
  <button mat-flat-button (click)="cancel()">Cancel</button>
</div>
