<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="90">
    <h1 mat-dialog-title>Saving {{data.selection.length}} Targets</h1>
  </div>
  <button mat-icon-button (click)="cancel()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex = "90">
      <form (submit)="submitList()">
      <mat-form-field class = "full-width">
        <input matInput [formControl]= targetCtrl placeholder="Name this collection"/>
      </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions [dir]="'rtl'">
  <button mat-flat-button [color]="'primary'" (click)="submitList()" cdkFocusInitial>Submit</button>
  <button mat-flat-button (click)="cancel()">Cancel</button>
</div>
