<mat-paginator *ngIf="showPaginator" #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
</mat-paginator>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="{{field}}" *ngFor="let field of displayColumns">
          <mat-header-cell *matHeaderCellDef mat-sort-header disabled = {{!isSortable(field)}}> {{getLabel(field)}}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row[field]}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;">
        </mat-row>
      </mat-table>
