<div class="outer-container">
<!--  <ncats-protvista-viewer class="container" #weblogo></ncats-protvista-viewer>-->
  <div class="bottom-panel">
  <div class="legend colorcode" *ngIf="hasVariants()">
    <mat-card-subtitle [matTooltip]="getTooltip('weblogoColors')">WebLogo Color Code</mat-card-subtitle>
    <div [ngClass]="{longLegend: !hasAnnotations()}">
      <div><span class="chemistryType">Polar</span>
        <span class="polar">
          <span [matTooltip]="aaName('G')">G </span>
          <span [matTooltip]="aaName('S')">S </span>
          <span [matTooltip]="aaName('T')">T </span>
          <span [matTooltip]="aaName('Y')">Y </span>
          <span [matTooltip]="aaName('C')">C </span>
        </span></div>
      <div><span class="chemistryType">Neutral</span>
        <span class="neutral">
          <span [matTooltip]="aaName('Q')">Q </span>
          <span [matTooltip]="aaName('N')">N </span>
        </span></div>
      <div><span class="chemistryType">Basic</span>
        <span class="basic">
          <span [matTooltip]="aaName('K')">K </span>
          <span [matTooltip]="aaName('R')">R </span>
          <span [matTooltip]="aaName('H')">H </span>
        </span></div>
      <div><span class="chemistryType">Acidic</span>
        <span class="acidic">
          <span [matTooltip]="aaName('D')">D </span>
          <span [matTooltip]="aaName('E')">E </span>
        </span></div>
      <div><span class="chemistryType">Hydrophobic</span>
        <span class="hydrophobic">
          <span [matTooltip]="aaName('A')">A </span>
          <span [matTooltip]="aaName('V')">V </span>
          <span [matTooltip]="aaName('L')">L </span>
          <span [matTooltip]="aaName('I')">I </span>
          <span [matTooltip]="aaName('P')">P </span>
          <span [matTooltip]="aaName('W')">W </span>
          <span [matTooltip]="aaName('F')">F </span>
          <span [matTooltip]="aaName('M')">M </span>
        </span></div>
    </div>
    <pharos-affiliate-link [geneSymbol]="target.gene" [dataSource]="'ProKinO'"></pharos-affiliate-link>
  </div>
  <div class="legend" *ngIf="hasAnnotations()">
    <mat-card-subtitle [matTooltip]="getTooltip('annotations')">Structural Annotations</mat-card-subtitle>
    <ncats-protvista-legend></ncats-protvista-legend>
    <pharos-affiliate-link [geneSymbol]="target.gene" [dataSource]="'ProKinO'" *ngIf="!hasVariants()"></pharos-affiliate-link>
  </div>
  </div>
</div>
