<div *ngFor= "let facet of facets; trackBy: trackByFn;">
  <mat-expansion-panel [expanded]="true" *ngIf="facet.values.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mat-display-1 facet-title">{{facet.label}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <pharos-facet-table [facet]="facet"></pharos-facet-table>
<!--
      <button mat-button [color]="'primary'">see more</button>
-->
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</div>
