.circle {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 10px;
}

.switch-labels {
  display: inline-flex;
}

.tclin {
  background-color: #337ab7;
}

.tchem {
  background-color: #5bc0de;
}

.tbio {
  background-color: #ffb259;
}

.tdark {
  background-color: #f44336;
}

.disease {
  background-color: green;
}

.ligand {
  background-color: lightgray;
}

.row-close {
  display: flex;
  align-items: center;
}
