<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="95">
    <h3>Path Builder</h3>
    <div class="row-close">
      <div><p>Path builder lets you show node connections on a node-by-node basis.</p></div><br>
    </div>
    <div class="row-close">
    <div class="switch-labels"><span class="mat-slide-toggle-label">Off</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? pathBuilder.toggle($event) : null"
          [checked]="pathBuilder.isSelected(true)">
          On
        </mat-slide-toggle>
      </div>
  </div>
    <br>
    <div class="row-close">
      <button mat-raised-button (click)="resetGraph()" [color]="'primary'">Reset Graph</button>
    </div>
</div>
</div>
<br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="95">
    <h3>Legend</h3>
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('Tclin') : null"
          [checked]="selection.isSelected('Tclin')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle tclin"></div>
      : Tclin target
    </div>
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('Tchem') : null"
          [checked]="selection.isSelected('Tchem')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle tchem"></div>
      : Tchem target
    </div>
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('Tbio') : null"
          [checked]="selection.isSelected('Tbio')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle tbio"></div>
      : Tbio target
    </div>
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('Tdark') : null"
          [checked]="selection.isSelected('Tdark')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle tdark"></div>
      : Tdark target
    </div>
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('disease') : null"
          [checked]="selection.isSelected('disease')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle disease"></div>
      : Disease
    </div>
   <!-- <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="95">
        <mat-slider matInput fxLayoutAlign="center center"
                    aria-label="activity level"
                    class="example-margin"
                    [invert] = true
                    [color]="'primary'"
                    [max]="5"
                    [min]="0"
                    [step]=".01"
                    [thumbLabel]="true"
                    [formControl]="confidenceCtrl"
                    [value]="0">
        </mat-slider>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="95">
       <mat-checkbox [checked] = showNoConfidence (change)="showConfidenceChange()">Show nodes without confidence values</mat-checkbox>
      </div>
    </div>-->
    <div class="row-close">
      <div class="switch-labels"><span class="mat-slide-toggle-label">Hide</span>&nbsp;
        <mat-slide-toggle
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle('ligand') : null"
          [checked]="selection.isSelected('ligand')">
          Show
        </mat-slide-toggle>
      </div>
      <div class="circle ligand"></div>
      : Ligand
    </div>

  </div>
</div>
