<section>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row ligand-table">
  <div fxFlex="45">
    <div class = mat-display-1>Ligands <span *ngIf ="pageData">({{pageData.total}})</span></div>
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <mat-paginator
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
      <div class ="structure-grid">
        <div *ngFor="let ligand of ligands">
          <pharos-ligand-card [ligand]="ligand" [internalLink]="true"></pharos-ligand-card>
      </div>
      </div>
</section>
