<section class="model-list">
  <mat-toolbar [color]="'primary'" class="target-table-toolbar">
  <div class=modellist-header>Ligands <span *ngIf="pageData">({{pageData.total}})</span>
  </div>
  <div fxFlex></div>
  <div fxFlex="10" fxLayoutAlign="end">
    <button mat-button class="tool-button list-download" (click)="downloadData()"
            matTooltip="Download Ligand List Data">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row ligand-table">
  <div fxFlex="25">
    <button *ngIf="!associatedStructure" mat-button class="tool-button " mat-raised-button (click)="goToStructureSearch()" [color]="'primary'"
            [matTooltip]="'Find ligands based on chemical structure'">Structure Search
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div fxFlex="65" fxFlexAlign="end">
    <mat-paginator class="model-list-paginator"
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [pageSizeOptions]="[10, 20, 60, 100]"
      [showFirstLastButtons]="true"
      (page)="changePage($event)"></mat-paginator>
  </div>
</div>
      <div class ="structure-grid model-list-table">
        <div *ngFor="let ligand of ligands">
          <pharos-ligand-card [ligand]="ligand" [internalLink]="true"></pharos-ligand-card>
      </div>
      </div>
</section>
