<div class ="search-row">
  <form [formGroup]='searchForm'>
  <mat-form-field class = "typeahead-field search" [floatLabel] = "'never'">
  <input matInput
         (keyup.enter)="search()"
         aria-label="Search"
         [matAutocomplete]="auto"
         formControlName="typeaheadInput"
         class ="input-field">
  <mat-label class="search-label">Target search</mat-label>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected) = "search()" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading">
      <img class="spinner rotating" src="./assets/images/pharos_spinner.svg">
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let option of options" [value]="option">
        <div [innerHTML]= "option.genes  | highlight : searchForm.get('typeaheadInput').value"></div>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <button mat-button mat-icon-button matSuffix aria-label="search" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
  </form>
</div>
