<div class = "flex30 toi-grid-list" *ngIf="nodes">
  <div >
    <span class = "mat-title">Most Target Knowledge</span>
    <pharos-target-card [target] = nodes?.mostKnowledge [showKnowledge]="true"></pharos-target-card>
  </div>
  <div>
    <span class = "mat-title">Most Druggable Potential</span>
    <pharos-target-card [target] = nodes?.mostPotential [showKnowledge]="true"></pharos-target-card>
  </div>
  <div>
    <span class = "mat-title">Most Potential Dark Target</span>
    <pharos-target-card [target] = nodes?.mostPotentialDarkest [showKnowledge]="true"></pharos-target-card>
  </div>
  <div>
    <span class = "mat-title">Least Knowledge Available</span>
    <pharos-target-card [target] = nodes?.leastKnowledge [showKnowledge]="true"></pharos-target-card>
  </div>
  <div>
<!--
    <button mat-fab [color]= "'primary'" routerLink="/topics">All {{path}}...</button>
-->
  </div>
</div>
