<div class = "flex30 toi-grid-list" *ngIf="nodes">
  <div >
    <span class = "mat-title">Most Target Knowledge</span>
    <pharos-target-card [target] = nodes?.mostKnowledge></pharos-target-card>
  </div>
  <div>
    <span class = "mat-title">Most Druggable Potential</span>
    <pharos-target-card [target] = nodes?.mostPotential></pharos-target-card>
  </div>
  <div>
    <span class = "mat-title">Least Knowledge Available</span>
    <pharos-target-card [target] = nodes?.leastKnowledge></pharos-target-card>
  </div>
  <div>
    <button mat-fab [color]= "'primary'" routerLink="/topics">All {{path}}...</button>
  </div>
</div>
