.target-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  grid-gap: .5em;
  justify-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.target-grid > div {
  margin-bottom: 1em;
  min-width: 100%;
  max-width: 100%;
}

.radar-row {
  height: 8vh !important;
}

.radar-row.target-card-radar {
 // margin: 0 auto !important;
  margin-top: 1vh !important;
}

@media only screen and (max-width: 960px) {
  .target-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    grid-gap: .5em;
    justify-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }

  .target-grid > div {
    margin-bottom: 1em;
    min-width: 100%;
  }
}

.headerContainer li{
  list-style: none;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
