<article>
  <mat-card id="ppi"
            (pharosScrollspy)="active('ppi')"
            #ppi
  >
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          Protein-Protein Interactions ({{target.ppiCount}})</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'ppi'"
                                     [label]="'Protein-Protein Interactions'"></pharos-help-panel-trigger>
        </div>
      </div>
      <mat-paginator
        [pageSize]="10"
        [length]="target.ppiCount"
        [hidePageSize]="true"
        [showFirstLastButtons] = true
        (page) = "paginate($event)"
        #ppipaginator></mat-paginator>
      <div class="target-grid">
        <div *ngFor="let ppi of target.ppis">
          <pharos-target-card [target]="ppi"></pharos-target-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
