<article>
  <mat-card id="ppi"
            class="section-card"
            (pharosScrollspy)="active('ppi')"
            #ppi>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95" class="headerContainer">
        <span class="mat-title" [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">Protein-Protein Interactions ({{target.ppiCount}})</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'ppi'"
                                     [label]="'Protein-Protein Interactions'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div class="headerRow" *ngIf="target.ppiCount > 0">
        <div>
          <pharos-explore-list-button [path]="'/targets'" [queryParams]="{associatedTarget:target.accession}"
                                      [buttonText]="'Explore Interacting Targets'"></pharos-explore-list-button>
        </div>
        <mat-paginator
          [pageSize]=pageData.top
          [pageIndex]="pageData.skip / pageData.top"
          [length]=pageData.total
          [hidePageSize]="true"
          [showFirstLastButtons]=true
          (page)="paginate($event)"
          #ppipaginator></mat-paginator>
      </div>
      <ul class="link-list">
        <li>
          <ncats-property-display class="mat-title" [showLabel]="false"
                                  matTooltip="See interacting proteins on String-db.org"
                                  matTooltipClass="pharos-tooltip"
                                  matTooltipPosition="after"
                                  [property]="{term:'See Interactions on String-DB', externalLink:'https://string-db.org/network/homo_sapiens/' + target.gene}">
          </ncats-property-display>
        </li>
      </ul>
      <div class="target-ppi-grid">
        <div *ngFor="let ppi of target.ppis">
          <pharos-target-card [target]="ppi" [apiSources]="apiSources"></pharos-target-card>
        </div>
      </div>
      <div *ngIf="isSmallScreen">
        <mat-paginator
          [pageSize]=pageData.top
          [pageIndex]="pageData.skip / pageData.top"
          [length]=pageData.total
          [hidePageSize]="true"
          [showFirstLastButtons]=true
          (page)="paginate($event)"
          #ppipaginator></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</article>
