@use '@angular/material' as mat;
@import '../../../partials/ncats-theme';

.toolbox-container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tool{
  width: 80vw;
}

.highlightmodel {
  background-color: #e6e6e6;
}

.tool-button {
  width: 200px;
  margin-top: 5px;
}

.toolbox-header {
  font-size: 3em;
  padding-left: 1vw;
  margin-bottom: 1vh;
  border-left: 8px solid mat.get-color-from-palette($pharos-app-primary);
}
.header-panel {
  width:80%;
}
.input-full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 2px;
  .label {
    width: 300px;
    margin-right: 50px;
    font-weight: bold;
    .description {
      font-weight: normal;
    }
  }
  .value {
    clear: left;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    .button-list {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      button {
        margin-right: 20px;
      }
    }
  }
}

.tallrow{
  .value {
    max-height: unset;
  }
}

mat-expansion-panel-header {
  height: 20px;
  opacity: .4;
}

mat-expansion-panel {
  margin: 2px;
}

.button-group-label {
  font-size: large;
  font-weight: bold;
}

mat-card {
  margin: 2px;
}
