<article>
  <mat-card>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
         Molecular Definition</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'molecularDefinition'" [label]="'Molecular Definition'"></pharos-help-panel-trigger>
      </div>
    </div>
    <mat-card-content>
      <mat-list>
        <mat-list-item><div><b>Canonical Smiles:</b> <span class="smiles"> {{properties?.smiles}}</span></div></mat-list-item>
        <mat-list-item><div><b>Formula:</b> <span> {{properties?.formula}}</span></div></mat-list-item>
        <mat-list-item><div><b>Molecular Weight:</b> <span> {{properties?.mwt}}</span></div></mat-list-item>
        <mat-list-item><div><b>Stereocenters:</b> <span> {{properties?.definedStereo}}/{{properties?.stereoCenters}}</span></div></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</article>
