.note {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-header {
  margin-top: 0.5vh;
}

.list-item {
  margin-left: 10px;
}

.details-view {
  display: flex;
  flex-direction: row;
}
.section{
  width: 30%;
}
