:host {
  grid-column: 1 / span 3;
}

.indicator {
  display: inline;
}

@media only screen and (max-width: 960px) {
  .pharos-title {
    font-size: 2em;
  }

  .title-holder {
    margin-left: 2vw;
  }
}
