<pharos-target-panel-base [data]="data" [child]="this" nodataMessage="No links available">
  <div class="card-list">
    <ng-container *ngFor="let link of target?.affiliateLinks">
      <mat-card *ngIf="getImage(link)">
        <mat-card-content class="linkContainer" fxLayout="column" fxLayoutAlign="space-around center">
          <span class="mat-title">
            {{link.sourceName}}
          </span>
          <div fxFlex="1"></div>
          <div class="toolImage">
            <img [src]="'./assets/affiliates/' + getImage(link)" width="100%" [alt]="'Thumbnail image for ' + link.sourceName"/>
          </div>
          <div fxFlex="1"></div>
          <div class="toolDescription">
            {{link.description}}
          </div>
          <div class="toolLinkButton">
            <div class="exploreLink" *ngIf="pageAnchor(link)"><a (click)="inpageNavigate(link)">View Data</a></div>
            <div></div>
            <a class="buttonAnchor" mat-raised-button [matTooltip]="link.url" [color]="'primary'" [href]="link.url" target="_blank">Go To Tool <mat-icon>open_in_new</mat-icon></a>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</pharos-target-panel-base>
