.toolImage{
  width: 200px;
  horiz-align: center;
}
.linkContainer{
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}
.card-list{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.toolLinkButton{
  display: flex;
  width: 100%;
  place-content: space-between;
  margin-top: 0.5em;
  align-items: center;
}
.toolDescription{
  margin-top: fill;
}

mat-card{
  margin: 0.5em;
}
.mat-title{
  align-self: start;
}
