.prediction-card {
  height: calc(100% - 34px);
}
.prop {
  margin-left: 10px;
}
.subprop {
  margin-left: 20px;
}

.prediction {
  margin-top: 10px;
}

.highlight {
  color: red;
  font-weight: 800;
}

.fullwidth {
  width:100%;
  display: flex;
  flex-direction: row;
}
.panel {
  width: 100%;
}
