.prediction-card {
  height: 100%;
}

.prop {
  margin-left: 10px;
}

.subprop {
  margin-left: 20px;
}

.prediction {
  margin-top: 10px;
}

.highlight {
  color: red;
  font-weight: 800;
}

.panel {
  width: 100%;
}
