.container{
  position: relative;
  border: 1px solid black;
}
.legend{
  padding: 15px;
  width: 50%;
  border: 1px solid black;
  align-content: flex-start;
  justify-content: flex-start;
}
.outer-container{
  display: flex;
  flex-direction: column;
}
.bottom-panel{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 960px) {
  .bottom-panel{
    flex-direction: column;
  }
  .legend{
    width: 95%;
  }
}

.colorcode{
  display: flex;
  flex-direction: column;
}
.polar,.neutral,.basic,.acidic,.hydrophobic{
  font-size: 20pt;
  margin-left: 5px;
}

.polar{
  color: green;
}
.neutral{
  color: purple;
}
.basic{
  color: blue;
}
.acidic{
  color: red;
}
.hydrophobic{
  color: black;
}
pharos-affiliate-link{
  padding-top: 10px;
}
.chemistryType{
  width: 100px;
  display: inline-block;
}
protvista-tooltip * {
  border-radius: 10px;
  text-decoration: underline;
}
