@import '../../ncats-theme';

.about-content {
  display: flex;
  height: 100vh;
  padding-top: 75px;
}

.toc-wrapper {
  padding-left: .3vw;
}

.about-wrapper {
  flex: 1 1 auto;
  overflow: auto;
}

.section-content{
  font: 400 1rem/1.5rem Roboto, "Helvetica Neue", sans-serif;
}

.section-header {
  font: 300 2.5rem Roboto, "Helvetica Neue", sans-serif;
  padding-left: 1vw;
}

.data-types-list{
  padding-top: 0;
}

.data-type {
  font-style: italic;
}

.list-button {
  cursor: pointer;
  font-weight: 300;
}

.active {
  border-left: 8px solid mat-color($pharos-app-primary);
}

.blockquote {
  padding-left: 1vw;
}

.spacer {
  height: 30vh;
}

.slack-icon-span {

}

.help-icon {
  vertical-align: middle;
}

.slack-icon {
  height: 3rem;
  vertical-align: middle;
  margin-top: -12px;
}
