<div fxLayout="row" class="about-content">
  <div fxFlex="20" fxHide.lt-sm class="toc-wrapper">
    <div class="toc">
      <mat-nav-list>
        <a mat-list-item class="list-button" (click)="scroll(introduction)"
           [ngClass]="{'active': isActive('introduction')}">
          Introduction
        </a>
        <a mat-list-item class="list-button" (click)="scroll(collaborators)"
           [ngClass]="{'active': isActive('collaborators')}">Our Collaborators
        </a>
        <a mat-list-item class="list-button" (click)="scroll(availabledata)"
           [ngClass]="{'active': isActive('availabledata')}">Available Data
        </a>
        <a mat-list-item class="list-button" (click)="scroll(datatypes)" [ngClass]="{'active': isActive('datatypes')}">Data
          Types
        </a>
        <a mat-list-item class="list-button" (click)="scroll(datasources)"
           [ngClass]="{'active': isActive('datasources')}">Data
          Sources
        </a>
        <a mat-list-item class="list-button" (click)="scroll(datadownload)"
           [ngClass]="{'active': isActive('datadownload')}">
          Data Download
        </a>
        <a mat-list-item class="list-button" (click)="scroll(license)" [ngClass]="{'active': isActive('license')}">Pharos
          License
        </a>
        <a mat-list-item class="list-button" (click)="scroll(code)" [ngClass]="{'active': isActive('code')}">Pharos Code
        </a>
        <a mat-list-item class="list-button" (click)="scroll(attribution)"
           [ngClass]="{'active': isActive('attribution')}">
          Attribution
        </a>
        <a mat-list-item class="list-button" (click)="scroll(help)" [ngClass]="{'active': isActive('help')}">
          Help
        </a>
      </mat-nav-list>
    </div>
  </div>
  <div fxFlex="80" fxFlex.lt-sm="90" id="scroller-wrapper" class="about-wrapper" cdkScrollable>
    <div fxLayout="row" id="introduction" #introduction #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('introduction')}">Introduction</div>
        <div class="section-content">
          <p>Pharos is the user interface to the <a href="http://targetcentral.ws/">Knowledge Management Center</a>
            (KMC) for the <a href="https://commonfund.nih.gov/idg/index">Illuminating the Druggable Genome</a>
            (IDG) program funded by the National Institutes of Health (NIH) Common Fund.
            (Grant No. <a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9461406&icde=38627613">
              1U24CA224370-01</a>). The goal of KMC is to develop a comprehensive, integrated knowledge-base
            for the Druggable Genome (DG) to illuminate the uncharacterized and/or poorly annotated portion of
            the DG, focusing on three of the most commonly drug-targeted protein families:</p>
          <ul>
            <li>G-protein-coupled receptors (GPCRs)</li>
            <li>ion channels (ICs)</li>
            <li>kinases</li>
          </ul>
          <p>The Pharos interface provides facile access to all data types
            collected by the KMC.
            Given the complexity of the data surrounding any target, efficient and intuitive visualization has
            been a high priority, to enable users to quickly navigate &amp; summarize search results and
            rapidly identify patterns. A critical feature of the interface is the ability to perform flexible
            search and subsequent drill down of search results. Underlying the interface is a RESTful API that
            provides programmatic access to all KMC data, allowing for easy consumption in user applications.
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="collaborators" #collaborators #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('collaborators')}">Our Collaborators</div>
        <div class="section-content">
          <p>Pharos is developed at <a href="http://ncats.nih.gov">NCATS</a>, together with collaborators from
            the <a href="http://datascience.unm.edu/">University of New Mexico</a>, <a href="http://icahn.mssm.edu/">
              Icahn School of Medicine, Mount Sinai</a>, <a href="https://www.ebi.ac.uk/about">EMBL-EBI</a>,
            the <a href="https://diseases.jensenlab.org/">
              Novo Nordisk Foundation Center for Protein Research (U. Copenhagen)</a>
            and the <a href="http://ccs.miami.edu/?p=1103">University of Miami</a>.
          </p>
          <p>
            The DRGC network is the experimental side of IDG. DRGC research focuses on illuminating the druggable
            GPCR-ome by two-pronged approach of empirical screening of drugs followed by computational screening against
            modeled structures of the GPCR to produced optimized lead compounds, thereby providing high value data and
            knowledge
            for KMC. KMC in turn is tasked with providing guidance as to research priorities based on knowledge
            gaps and druggability likelihood analyses.
          </p>
          <p>
            To find more details on our collaborators visit the <a href="https://druggablegenome.net">
            IDG Consortium website</a>
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="availabledata" #availabledata #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('availabledata')}">Available Data</div>
        <div class="section-content">
          <p>The data available in Pharos is obtained from the <a href="http://juniper.health.unm.edu/tcrd/">
            Target Central Resource Database</a> which integrates data from a variety of data sources including
            the <a href="http://amp.pharm.mssm.edu/Harmonizome/">Harmonizome</a>, Jensen Lab datasets, EBI data
            sets (such as <a href="https://www.ebi.ac.uk/chembl/">ChEMBL</a>) and the
            <a href="http://drugtargetontology.org/about.html">Drug Target Ontology</a> (DTO)
            from U. Miami. TCRD integration methodology involves
            importation by value or by reference to external sources, as informed by performance, provenance,
            and other design criteria. See <a href="http://targetcentral.ws/Pharos">here</a> for a full listing
            of datasets incorporated in to <a href="http://juniper.health.unm.edu/tcrd/">TCRD</a>.
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="datatypes" #datatypes #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('datatypes')}">Data Types</div>
        <div class="section-content">
          <p>
            The key data types represented in Pharos are listed below:
          </p>
          <mat-list class="data-types-list">
            <mat-list-item>
              <div><span class="data-type">Small molecule data</span> including approved drug data, bioassay data</div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Protein data</span> including protein-protein interaction data</div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Disease data</span> from <a href="http://www.ncbi.nlm.nih.gov/omim">OMIM</a>
                and
                <a href="http://disease-ontology.org/">Disease Ontology</a></div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Genomic data</span> including expression (protein, RNA), transcription
                factors and epigenomic associations
              </div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Phenotypic data</span> including mouse phenotypes, mouse/human orthologs and
                GWAS results
              </div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Text data</span> including <a
                href="http://www.ncbi.nlm.nih.gov/gene/about-generif">GeneRIF</a>'s
                and text-mined publications
              </div>
            </mat-list-item>
            <mat-list-item>
              <div><span class="data-type">Ontologies</span> including the Drug Target Ontology, <a
                href="http://disease-ontology.org/">Disease
                Ontology</a>, <a href="http://www.pantherdb.org/panther/ontologies.jsp">PANTHER</a> and
                <a href="http://geneontology.org/">GO</a></div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="datasources" #datasources #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('datasources')}">Data Sources</div>
        <div class="section-content">
          <p>
            The goal of the IDG KMC is to integrate a variety of data sources to shed light on unstudied and
            understudied
            targets. To achieve this we have pulled together data on protein targets, small molecule activity, genomic
            behavior and disease links. <!--For a list of datasources, and their associated entity counts, see the About
          Pharos page. A visual representation of all targets and their representation in all IDG datasources can be
          viewed here.--> Over time we anticipate incorporating other relevant data sources. </p>

          <pharos-generic-table [fieldsConfig]="sourceFields" [data]="_sources"
                                [showPaginator]="false"></pharos-generic-table>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="datadownload" #datadownload #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('datadownload')}">Data Download</div>
        <div class="section-content">
          <p>The current and past versions of TCRD are available from <a
            href="http://juniper.health.unm.edu/tcrd/download/">
            here</a>
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="license" #license #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('license')}">Pharos License</div>
        <div class="section-content">
          <p>Data accessed from Pharos and TCRD is publicly available from the primary sources listed above. Please
            respect their individual licenses regarding proper use and redistribution.</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="code" #code #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('code')}">Pharos Code</div>
        <div class="section-content">
          <p>The sources for the Pharos web interface are available from
            <a href="https://github.com/ncats/pharos_frontend">https://github.com/ncats/pharos_frontend</a> and
            <a href="https://github.com/ncats/pharos-graphql-server">https://github.com/ncats/pharos-graphql-server</a>.
            The repositories provide README instructions on building and installation.</p>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="attribution" #attribution #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('attribution')}">Attribution</div>
        <div class="section-content">
          <p>If you use Pharos, please consider citing it as
          <blockquote class="active blockquote">
            Nguyen, D.-T., Mathias, S. et al, "Pharos: Collating Protein Information to Shed Light on the Druggable
            Genome",
            <i>Nucl. Acids Res.</i>i>, <b>2017</b>, <i>45</i>(D1), D995-D1002.
            DOI: <a href="http://dx.doi.org/10.1093/nar/gkw1072">10.1093/nar/gkw1072</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div fxLayout="row" id="help" #help #scrollSection>
      <div fxFlex="75">
        <div class="section-header" [ngClass]="{'active': isActive('help')}">Help</div>
        <div class="section-content">
          <p>For help in Pharos, click the help icon
            <mat-icon class="help-icon">help</mat-icon>
            or check the
            <a routerLink="/faq">Faq</a> page
          </p>
          <p>For feedback and comments, please contact us at <a
            href="mailto:pharos@mail.nih.gov?subject=Pharos feedback">pharos@mail.nih.gov</a></p>
          <div class="slack-icon-span"><a href="https://druggablegenome.slack.com" target="_blank" rel="noreferrer">Join
            our slack channel<img src="./assets/images/slack-icon.png" alt="slack web icon link" class="slack-icon"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>
