@use '@angular/material' as mat;
@import '../../partials/ncats-theme';

.about-content {
  display: flex;
  height: 100vh;
  padding-top: 75px;
}

.toc-wrapper {
  padding-left: .3vw;
}

.about-wrapper {
  flex: 1 1 auto;
  overflow: auto;
}

.section-content{
  font: 400 1rem/1.5rem Roboto, "Helvetica Neue", sans-serif;
}

.section-header {
  font: 300 2.5rem Roboto, "Helvetica Neue", sans-serif;
  padding-left: 1vw;
  margin-top: 8vh;
}

.data-types-list{
  padding-top: 0;
}

.data-type, .link-example {
  font-style: italic;
}

.dynamic{
  font-weight: bold;
}

.list-button {
  cursor: pointer;
  font-weight: 300;
}

.active {
  border-left: 8px solid mat.get-color-from-palette($pharos-app-primary);
}

.blockquote {
  padding-left: 1vw;
}

.spacer {
  height: 20vh;
}

.slack-icon-span {

}

.help-icon {
  vertical-align: middle;
}

.slack-icon {
  height: 3rem;
  vertical-align: middle;
  margin-top: -12px;
}

.mat-list-item {
  margin-bottom: 1vh;
}

@media only screen and (max-width: 960px) {
  .mobile-search > .search-row > .typeahead-field {
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 768px) {
  .about-wrapper {
    flex: 1;
    overflow: auto;
  }
}
