// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import './src/ncats-theme.scss';

:host {
  flex: 1 1 auto;
  max-width: 100%;
  margin: 0 !important;
}

.target-toolbar {
  width: 100vw;
}

.toolbar {
  width: 100vw;
  margin-bottom: 0;
}

.indicator {
  display: inline;
}

.tbio-header{
  border-bottom: mat-color($pharos-app-accent) 6px solid;
}

.tdark-header {
  border-bottom: mat-color($ncats-app-warn) 6px solid;
}

.tchem-header {
  border-bottom: #5bc0de 6px solid;
}

.tclin-header {
  border-bottom: mat-color($pharos-app-primary) 6px solid;
}
