
// Import your custom theme
@import './src/ncats-theme.scss';

.indicator {
  display: inline;
}

.tbio-header{
  border-bottom: mat-color($pharos-app-accent) 6px solid;
}

.tdark-header {
  border-bottom: mat-color($ncats-app-warn) 6px solid;
}

.tchem-header {
  border-bottom: #5bc0de 6px solid;
}

.tclin-header {
  border-bottom: mat-color($pharos-app-primary) 6px solid;
}

@media only screen and (max-width: 960px) {
  .pharos-title {
    font-size: 2em;
  }

  .title-holder {
    margin-left: 2vw;
  }
}


