
// Import your custom theme
@import '../../../../../ncats-theme.scss';

.sticky {
  z-index: 666;
  position: fixed;
  top: 60px;
}

.body-row {
  margin-top: 5vh;
}

.target-header {
  background-color: #f7f7f7;
  width: 100vw;
}

.indicator {
  display: inline;
}

.pharos-title {
  font: 400 3rem/3rem Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 3rem;
  letter-spacing: -0.02em;
}

.pharos-headline {
  font: 300 1.5rem/1.5rem Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 3rem;
  letter-spacing: -0.02em;
}

.tbio-header{
  border-bottom: mat-color($pharos-app-accent) 6px solid;
}

.tdark-header {
  border-bottom: mat-color($ncats-app-warn) 6px solid;
}

.tchem-header {
  border-bottom: #5bc0de 6px solid;
}

.tclin-header {
  border-bottom: mat-color($pharos-app-primary) 6px solid;
}

@media only screen and (max-width: 960px) {
  .pharos-title {
    font-size: 2em;
  }

  .title-holder {
    margin-left: 2vw;
  }

  .target-header {
    padding-top: 1vh;
    margin-top: -1vh;
  }
}


