<div class ="flex30">
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center" ngClass = {{getHeaderClass()}}>
  <div fxFlex="90">
    <pharos-idg-level-indicator [level]="target?.idgTDL"></pharos-idg-level-indicator>
    <span class = "pharos-title toolbar">{{target?.name}}</span>
  </div>
    <div fxFlex = "10">
    <button mat-icon-button><mat-icon class="example-icon">save</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">code</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">file_download</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">bookmark</mat-icon></button>
    </div>
</div>
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="90" fxFlexAlign="stretch">
    <div *ngIf="fullDescription; else truncated">
    <span class="mat-body-1">{{description}}</span>
<!--
      <a (click) = "fullDescription = false"> ...less</a>
-->
    </div>
    <ng-template #truncated>
      <span class="mat-body-1">{{truncatedDescription}}</span>
      <a (click) = "fullDescription = true"> ...more</a>
    </ng-template>
  </div>
</div>
<br>
</div>
