<article>
  <mat-card id = {{field}}
          class="section-card"
          *ngIf = "data"
          (pharosScrollspy)="active(field)"
           #drugs>
  <mat-card-content>
    <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row"
         class="tkrow"
         fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
          {{label}} ({{data.drugscount}})</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'drugs'" [label]="'Approved Drugs'"></pharos-help-panel-trigger>
      </div>
    </div>
   <!-- <mat-paginator
      #drugPaginator
      *ngIf = "pageData && drugsList.length > 0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]"
                   [hidePageSize]="hidePageSize"
                   [showFirstLastButtons]="true"
                   (page)="paginate($event)">
    </mat-paginator>-->
    <pharos-custom-paginator [pageData]="pageData" (page)="paginate($event)"></pharos-custom-paginator>
    <div class ="structure-grid">
    <div *ngFor="let drug of drugsList">
      <pharos-ligand-card [ligand]="drug" [target]="target"></pharos-ligand-card>
    </div>
    </div>
  </mat-card-content>
</mat-card>
</article>
