<article
  *ngIf="(target && hasSequenceInfo())">
  <mat-card id={{field}}
            class="section-card"
            *ngIf="data"
            (pharosScrollspy)="active(field)"
            #variants>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
          <span class="mat-title" [matTooltip]=description
                [matTooltipClass]="'pharos-tooltip'">Ortholog Seqeuence Conservation</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'variants'"
                                     [label]="'Ortholog Variants'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div fxLayout="row" *ngIf="hasSequenceInfo()">
        <div fxFlex="95" fxFlex.lt-md="100" class="weblogo">
          <pharos-sequence-logo [target]="target" [apiSources]="apiSources"></pharos-sequence-logo>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
