<div class="hist-holder">
  <pharos-bar-chart [data]="chartData" [showAxes]="false" [histogram]="true" [selectedLow]="this.minSetting"
                    [selectedHigh]="this.maxSetting"
                    [events]="boundsChangedSubject.asObservable()"></pharos-bar-chart>
</div>
<div class="slider-holder">
  <mat-slider class="helper"></mat-slider>
  <range-slider class="hist-slider"
                [min] = "this.minSetting"
                [max] = "this.maxSetting"
                [step] = "this.facet.binSize"
                (change)="boundsChanged($event)"
                [value]="sliderRange()"
                [thumbLabel]= true
                aria-label="Primary color range slider">
  </range-slider>
</div>
<div class="footer">
  <div class="range">{{currentRange()}}</div>
  <div><button type="button" mat-raised-button [color]="'primary'" (click)="applyFilter()">
    Apply
    <mat-icon>filter_alt</mat-icon>
  </button></div>
</div>

