<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row ligand-table">
  <div fxFlex="45">
    <div class = mat-display-1>Ligands <span *ngIf ="pageData">({{pageData.total}})</span></div>
  </div>
  <div fxFlex="45" fxFlexAlign="end">
    <pharos-custom-paginator
      [pageData]="pageData"
      [pageSize]="20"
      [pageSizeOptions]="[20, 60, 100]"
      (page)="changePage($event)"></pharos-custom-paginator>
  </div>
</div>
      <div class ="structure-grid">
        <div *ngFor="let ligand of ligandsDataSource.connect() | async">
          <mat-card routerLink='/ligands/{{ligand.name}}' class="ligand-card" fxFill>
            <mat-card-content>
          <h3 class = "mat-subheading-2">{{ligand.name}}</h3>
          <img [src] = ligand.imageUrl alt = "image for {{ligand.name}}">
          <br>
          <br>
          {{ligand.activityType}} {{ligand.activity}}
                </mat-card-content>
        </mat-card>
      </div>
      </div>
