.panel-header {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .panel-header{
    flex-direction: column;
  }
}
.header-helptext{
  padding-left: 1vw;
  font-weight: 300;
  opacity: 1;
  top: 0;
  position: relative;
  transition: all .25s linear;
  white-space: nowrap;
}

.hidden{
  top: 2vh;
  opacity: 0;
}

.expression-grid{
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-gap: 1em;
  padding-left: 1vw;
  word-wrap: break-word;
}

.types{
  padding: 5px;
}

.sorting{
  border: 1px solid;
  border-radius: 5px;
  border-color: gray;
}
