<ul>
  <li><a href ="https://www.uniprot.org/" target="_blank">UniProt Disease <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://diseases.jensenlab.org/" target="_blank">JensenLab DISEASES <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://monarchinitiative.org/" target="_blank">Monarch <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://www.ebi.ac.uk/gxa/" target="_blank">Expression Atlas <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://ctdbase.org/" target="_blank">CTD <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="http://www.unimd.org/eram/" target="_blank">eRAM <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="http://www.disgenet.org/" target="_blank">DisGeNET <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="http://drugcentral.org/" target="_blank">DrugCentral Indication <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
</ul>
