.copy-button{
  min-width: 200px;
}

.container{
  display: flex;
  flex-direction: column;
}

.well {
  margin: 0 auto;
  padding: 1vh;
  width: 95%;
  border: 1px solid;
  background-color: #f6f6f6;
  font-family: monospace;
}

.seq-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seq-chunk{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.copy-button{
  margin: 10px;
}

.seq-pair{
  display: flex;
  flex-direction: column;
}

.seq-count{
  text-align: end;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
