<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      {{panelOpenState ? "Collapse" : "Show Full Sequence"}}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
    <div>
      <button type="button" mat-raised-button (click)="copySequence()" class="copy-button" aria-label="Copy Sequence"
              [color]="'primary'">
        <mat-icon>content_copy</mat-icon>
        Copy Sequence
      </button>
    </div>
    <div fxLayout="row" fxHide.lt-sm fxLayoutAlign="center center">
      <div fxFlex="100">
        <div class="well">
          <div class="seq-grid">
            <span class="seq-chunk" *ngFor="let chunk of aasequence">
              <span class="seq-count">{{chunk?.lastIndex}}</span>{{chunk?.chunk}}
          </span>
          </div>
        </div>
      </div>
    </div>
    </ng-template>
  </mat-expansion-panel>
</div>
