<div fxLayout="row" fxLayoutAlign="space-around start" class="tclin-row">
  <div fxFlex="95">
    <div fxLayout="row">
      <p class="explanation">
        Target has at least one approved drug
      <span class="centered">- AND -</span>
      satisfies the preceding conditions</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        [ngClass]="{'disabled-icon': target?.idgTDL !== 'Tclin'}"
        [color]="'accent'">check_circle
      </mat-icon>
      <span
        [matTooltip]="getTooltip('drugsCount')"
        [matTooltipClass]="'pharos-tooltip'"
        class='mat-body-2'>
      Active Drug<span *ngIf="target.drugCount>1">s</span>: {{target.drugCount}}
      </span>
    </div>
    <div class="exploreLink" *ngIf="target.drugCount > 0">
      <a [routerLink]="'/ligands'" [queryParams]="{associatedTarget:target.accession,facet:'Type' + this.Facet.separator + 'Drug'}">Explore Approved Drugs</a>
    </div>
  </div>
</div>
