<mat-card id="relatedTargets"
          (pharosScrollspy)="active('relatedTargets')"
#relatedTargets>
  <mat-card-header>
    <mat-card-title ><span class="mat-title" [matTooltip] = description> Find similar targets by:</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div id="facets-grid">
      <div *ngFor = "let facet of facets">
        <span class="mat-title">{{getLabel(facet.label)}} <!--({{facet.fields.length}})--> </span>
        <pharos-generic-table
          [data]="facet.fields.slice(0,10)"
          [fieldsConfig]="fields"
          [showPaginator]="false"
          class="target-facets">
        </pharos-generic-table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
