
#facets-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 1em;
}

#facets-grid > div {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 960px) {

  #facets-grid {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
}

.facet-header {
  padding-bottom: 1.5em;
}

@media only screen and (max-width: 768px) {
  :host {
  }

  #facets-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    grid-gap: 1em;
  }
}
