<article>
  <mat-card id="relatedTargets" class="section-card"
          (pharosScrollspy)="active('relatedTargets')"
#relatedTargets>
  <mat-card-content>
    <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..."  src="./assets/images/pharos_spinner.svg">
    </div>
    <pharos-component-header [description]="description" [field]="field" [headerText]="'Find similar targets by:'"></pharos-component-header>
    <div id="facets-grid">
      <div *ngFor = "let facet of facets">
        <span class="mat-title"
              [matTooltip]= "getTooltip(facet.name)"
              [matTooltipClass]="'pharos-tooltip'">{{getLabel(facet.name)}}</span>
        <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                    [facetName]="getLabel(facet.name) + 's'"
                                    [queryParams]="{similarity: '(' + target.preferredSymbol + ', ' + getFacet(facet.name) + ')'}"></pharos-explore-list-button>
        <pharos-generic-table
          [data]="facet.fields.slice(0,10)"
          [fieldsConfig]="fields"
          [showPaginator]="false"
          class="target-facets">
        </pharos-generic-table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</article>
