<article>
  <mat-card *ngIf=target class="section-card" id="development" (pharosScrollspy)="active('development')" #development>
  <mat-card-content>
    <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..."  src="./assets/images/pharos_spinner.svg">
    </div>
    <pharos-component-header [description]="description" [field]="field" [headerText]="label"></pharos-component-header>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">
      <div fxFlex="23" class="tdl-section">
        <pharos-idg-level-indicator [level]="'Tdark'"
                                    [disabled]="target.idgTDL != 'Tdark'"></pharos-idg-level-indicator>
        <pharos-tdark-summary
          [target]="target"
        [apiSources]="apiSources">
        </pharos-tdark-summary>
      </div>
      <div fxFlex="23" class="tdl-section">
        <pharos-idg-level-indicator [level]="'Tbio'" [disabled]="target.idgTDL != 'Tbio'"></pharos-idg-level-indicator>
        <pharos-tbio-summary
          [target]="target"
          [apiSources]="apiSources">
          </pharos-tbio-summary>
      </div>
      <div fxFlex="23" class="tdl-section">
        <pharos-idg-level-indicator [level]="'Tchem'"
                                    [disabled]="target.idgTDL != 'Tchem'"></pharos-idg-level-indicator>
        <pharos-tchem-summary
          [target]="target"
          [data]="data"
          [apiSources]="apiSources">
        </pharos-tchem-summary>
      </div>
      <div fxFlex="23" class="tdl-section">
        <pharos-idg-level-indicator [level]="'Tclin'"
                                    [disabled]="target.idgTDL != 'Tclin'"></pharos-idg-level-indicator>
        <pharos-tclin-summary
          [target]="target"
          [data]="data"
          [apiSources]="apiSources">
          </pharos-tclin-summary>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</article>
