<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="95">
    <div fxLayout="row">
      <p class="explanation">
        These are targets about which virtually nothing is known. They do not have known drug or small molecule
        activities <br>
        <span class="centered">- AND -</span>
        satisfy two or more of the following criteria:</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        [ngClass]="{'disabled-icon': target?.jensenScore >= 5 || target?.idgTDL !== 'Tdark'}"
        [color]="'accent'">check_circle
      </mat-icon>
      <span
        [matTooltip]="getTooltip('pubmed')"
        [matTooltipClass]="'pharos-tooltip'"
        [ngClass]="{'mat-body-2': target?.jensenScore < 5}">
        Pubmed score: {{target?.jensenScore}}</span>
      &nbsp;<span class="required-val"><i> (req: < 5)</i></span>
    </div>
    <div class="exploreLink" *ngIf="target.publicationCount > 0"><a (click)="scroll('relatedPublications', 'relatedPublications')">View Publications</a></div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        [ngClass]="{'disabled-icon' : target.generifCount > 3 || target?.idgTDL !== 'Tdark'}"
        [color]="'accent'">check_circle
      </mat-icon>
      <span
        [matTooltip]="getTooltip('generif')"
        [matTooltipClass]="'pharos-tooltip'"
        [ngClass]="{'mat-body-2': target.generifCount <= 3}">Gene RIFs: {{target.generifCount}}</span>
      &nbsp;<span class="required-val"><i> (req: <= 3)</i></span>
    </div>
    <div class="exploreLink" *ngIf="target.generifCount > 0"><a (click)="scroll('relatedPublications', 'geneRIFs')">View Gene RIFs</a></div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        [ngClass]="{'disabled-icon': target?.antibodyCount > 50 || target?.idgTDL !== 'Tdark'}"
        [color]="'accent'">check_circle
      </mat-icon>
      <span
        [matTooltip]="getTooltip('antibodies')"
        [matTooltipClass]="'pharos-tooltip'"
        [ngClass]="{'mat-body-2': target?.antibodyCount <= 50}">
  Antibodies: {{target?.antibodyCount}}</span>
      &nbsp; <span class="required-val"><i> (req: <= 50)</i></span>
    </div>
    <div class="exploreLink" *ngIf="target.antibodyCount > 0 && target.antibodyURL"><a [href]="target.antibodyURL" target="_blank">View Antibodies <mat-icon [inline]="true">open_in_new</mat-icon></a></div>
  </div>
</div>
