@use '@angular/material' as mat;
@import '../../../partials/ncats-theme';

.about-block {
  padding:3vh 0 6vh 0;
  color: white;
  background-color: mat.get-color-from-palette($pharos-app-primary);
}

.about-banner {
  font-size: 2.5em;
  line-height: 1em;
  padding-top: 5vh;
}

.about-list {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1.2em;
}

li.about-list-item {
  padding: .5vh 0 .5vh 0;
}

.screenshot {
  padding-top: 5vh;
  max-height: 30vh;
}

@media only screen and (max-width: 960px) {
  .about-banner {
    font-size: 2em;
  }

  .about-list {
    font-size: 1em;
    padding-right: 2vw;
  }
}
