
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.disease-panels {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  max-height: 500px;
  min-height: 35vw;
}

.singlecolumn{
  grid-template-columns: repeat(auto-fill, minmax(95%, 1fr));
}
