
.scatter-plot-holder {
  height: 50vh;
  width: 65vw;
}
.tinx {
}

.tinx-row {
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.disease-panels {
  display: flex;
  flex-direction: row;
  > div {
    width: 50%;
  }
}
