<ng-template #nodata>
  <mat-card #diseaseNovelty
            (pharosScrollspy)="active('diseaseNovelty')"
            class="section-card"
            id="diseaseNovelty">
    <mat-card-content>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      No TIN-X data found
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #headerrow>
  <pharos-component-header [description]="getTooltip('tinx')" [field]="field" [tourType]="tourType"
                           [headerText]="'Disease Novelty (TIN-X)'"></pharos-component-header>
</ng-template>

<article>
  <mat-card #diseaseNovelty
            (pharosScrollspy)="active('diseaseNovelty')"
            *ngIf="hasData(); else nodata"
            class="section-card diseaseNovelty"
            id="diseaseNovelty">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img alt="loading..." class="spinner rotating" src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <div class="disease-panels" [ngClass.lt-md]="'singlecolumn'">
        <pharos-tinx-scatterplot-card [tinx]="tinx" fxHide.lt-md></pharos-tinx-scatterplot-card>
        <ng-container *ngFor="let root of target.tinxTree">
          <pharos-pack-circle [config]="circlePackConfig" [hierarchyData]="root" [height]="950" id="tinxCirclePlot"></pharos-pack-circle>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</article>

<pharos-community-data-panel [apis]="target.communityAPIs" [section]="'Associated Diseases'"></pharos-community-data-panel>
