.mat-column-pubPmids {
 min-width: 7vw;
      padding-left: 1vw;
    padding-right: 1vw;
}

.mat-column-pmid {
 min-width: 7vw;
      padding-left: 1vw;
    padding-right: 1vw;
}

.mat-column-year {
 min-width: 5vw;
      padding-left: 1vw;
    padding-right: 1vw;
}
