.mat-column-pubPmids {
 min-width: 7vw;
      padding-left: 1vw;
    padding-right: 1vw;
}

.mat-column-pmid {
 min-width: 7vw;
      padding-left: 1vw;
    padding-right: 1vw;
}

.mat-column-year {
 min-width: 5vw;
      padding-left: 1vw;
    padding-right: 1vw;
}

.pub-header {
  display: flex;
  flex-direction: row;
}

.pub-tool-button {
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 960px) {
  .button-container {
    display: flex;
    flex-direction: column;
  }
}
