<ng-template #nodata>
  <mat-card #relatedPublications (pharosScrollspy)="active('relatedPublications')"
            class="section-card"
            id="relatedPublications">
    <mat-card-content>
      <div class="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
        <div fxFlex>
          <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
        </div>
      </div>
      No publications found
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #headerrow>
  <pharos-component-header [description]="description" [field]="field" [dataVersions]="dataVersions"
                           [headerText]="label + ' (' + target.publicationCount + ')'">
  </pharos-component-header>
</ng-template>

<article #geneRIFs id="geneRIFs">
  <mat-card #relatedPublications (pharosScrollspy)="active('relatedPublications')" *ngIf="this.target && hasData(); else nodata"
            class="section-card" id="relatedPublications">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img alt="loading..." class="spinner rotating" src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayoutAlign="space-around stretch">
        <div fxFlex>

          <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
          <div>
            <div class="pub-table" fxFlex="95">
              <div class="pub-header">
                <div class="button-container">
                  <button class="tool-button" mat-raised-button [color]="'primary'" matTooltip="Download Publications"
                          (click)="downloadData('Publications')">
                    <span >Publications</span>
                    <mat-icon>download</mat-icon>
                  </button>
                  <button class="tool-button" mat-raised-button [color]="'primary'" matTooltip="Download GeneRIFs"
                          (click)="downloadData('Gene RIFs')">
                    <span>GeneRIFs</span>
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
                <div fxFlex></div>
                <mat-paginator
                  #pubpaginator
                  (page)="paginate($event,'publications')"
                  [hidePageSize]="false"
                  [length]="publicationsPageData?.total"
                  [pageIndex]="publicationsPageData?.skip / publicationsPageData?.top"
                  [pageSizeOptions]="[5, 10, 25, 50]"
                  [pageSize]="publicationsPageData?.top"
                  [showFirstLastButtons]=true>
                </mat-paginator>
              </div>
              <pharos-publication-card *ngFor="let pub of publications" [publication]="pub"></pharos-publication-card>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
