
.info-panel {
  height: 50%;
  width: 20%;
  background-color: rgba(255, 255, 255, .6);
  border: #f1f1f1 1px solid;
  position: fixed;
  right: 7vw;
  top: 5vh;
}

.menu-drawer {
  width: 30%;
  min-width: 500px;
}


.open-button {
  position: absolute;
  top: 8px;
  background-color: white;
}

.table-image {
  margin-top:20vh;
  width: 100vw;
}

.full-width {
  width: 100%;
  height: auto;
}

.zoom-button-holder {
  justify-content: flex-end;
  display: flex;
  background-color: transparent;
  z-index: 6666;
}

@media only screen and (max-width: 960px) {
  .menu-drawer {
    width: 50vw;
  }

  .info-panel {
    height: 50%;
    width: 30%;
    right: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .menu-drawer {
    width: 80vw;
  }

  .info-panel {
    height: 60%;
    width: 40%;
  }
}
