.main-content {
  margin-top:60px;
  background-color: #f7f7f7;
  z-index: 0;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

.pharos-sidenav {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.pharos-content {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}
