<ng-template #nodata>
  <article>
    <mat-card id={{field}}
              class="section-card"
              (pharosScrollspy)="active(field)">
      <mat-card-content>
        <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
        No GO Terms found
      </mat-card-content>
    </mat-card>
  </article>
</ng-template>

<ng-template #headerrow>
  <pharos-component-header [description]="description" [field]="field" [headerText]="'Gene Ontology Terms (' + target?.goCount?.total() + ')'"></pharos-component-header>
</ng-template>

<article
  *ngIf="(target && target.goCount && target.goCount.total() > 0); else nodata">
  <mat-card id={{field}}
            class="section-card"
            *ngIf="data"
            (pharosScrollspy)="active(field)">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <mat-tab-group>
        <mat-tab *ngIf="target.goFunction.length > 0">
          <ng-template mat-tab-label>
            <div
              [matTooltip]="getTooltip('goFunction')"
              [matTooltipClass]="'pharos-tooltip'">
              Functions ({{target?.goCount?.functions}})
            </div>
          </ng-template>
          <div class="headerRow">
            <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                        [facetName]="'GO Functions'"
                                        [queryParams]="{similarity: '(' + target.preferredSymbol + ', GO Function)'}"></pharos-explore-list-button>
            <mat-paginator
              [pageSize]=functionPageData.top
              [pageIndex]="functionPageData.skip / functionPageData.top"
              [length]="functionPageData.total"
              [showFirstLastButtons]=true
              (page)="changePage($event, 'F')">
            </mat-paginator>
          </div>
          <pharos-generic-table [data]="targetProps.goFunction" [fieldsConfig]="fields"></pharos-generic-table>
        </mat-tab>
        <mat-tab *ngIf="target.goComponent.length > 0">
          <ng-template mat-tab-label>
            <div
              [matTooltip]="getTooltip('goComponent')"
              [matTooltipClass]="'pharos-tooltip'">
              Components ({{target?.goCount?.components}})
            </div>
          </ng-template>
          <div class="headerRow">
            <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                        [facetName]="'GO Components'"
                                        [queryParams]="{similarity: '(' + target.preferredSymbol + ', GO Component)'}"></pharos-explore-list-button>

            <mat-paginator
              [pageSize]=componentPageData.top
              [pageIndex]="componentPageData.skip / componentPageData.top"
              [length]="componentPageData.total"
              [showFirstLastButtons]=true
              (page)="changePage($event, 'C')">
            </mat-paginator>
          </div>
          <pharos-generic-table [data]="targetProps.goComponent" [fieldsConfig]="fields"></pharos-generic-table>
        </mat-tab>
        <mat-tab *ngIf="target.goProcess.length > 0">
          <ng-template mat-tab-label>
            <div
              [matTooltip]="getTooltip('goProcess')"
              [matTooltipClass]="'pharos-tooltip'">
              Processes ({{target?.goCount?.processes}})
            </div>
          </ng-template>
          <div class="headerRow">
            <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                        [facetName]="'GO Processes'"
                                        [queryParams]="{similarity: '(' + target.preferredSymbol + ', GO Process)'}"></pharos-explore-list-button>
            <mat-paginator
              [pageSize]=processPageData.top
              [pageIndex]="processPageData.skip / processPageData.top"
              [length]="processPageData.total"
              [showFirstLastButtons]=true
              (page)="changePage($event, 'P')">
            </mat-paginator>
          </div>
          <pharos-generic-table [data]="targetProps.goProcess" [fieldsConfig]="fields"></pharos-generic-table>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</article>
