<mat-card-subtitle>Ligand Association Details</mat-card-subtitle>
<ncats-property-display *ngFor="let keyval of target.ligandAssociationDetails.actValMap | keyvalue"
                        [property]="{term: formatActVal(keyval.value), label: keyval.key}">
</ncats-property-display>
<ncats-property-display *ngIf="target.ligandAssociationDetails.modeOfAction"
                        [property]="{term: target.ligandAssociationDetails.modeOfAction, label: 'Mode of Action', tooltip: getTooltip('modeOfAction')}">
</ncats-property-display>
