  <div>
  <pharos-target-header *ngIf="target" [data]="{'target': target}" [target]="target" class="popup-radar"></pharos-target-header>
  <div fxLayout="row" class="content-row">
    <div fxFlex="25">
      <h3>{{axis}} data provided by the following sources: </h3>
      <br>
      <span *ngFor="let source of fieldSources">
                <ncats-property-display [property]='source' [showLabel]="false"></ncats-property-display>
                <br>
              </span>
    </div>
    <div fxFlex="75" class="kchart full-height">
      <pharos-radar-chart [data] = data [id]=id [size]= size (hoverEvent)="getSource($event)"></pharos-radar-chart>
    </div>
  </div>
  </div>
