pharos-radar-chart-viewer {

  .kchart {
    margin: 0 auto;
    min-height: 70vh;
    margin-right: 1vw;
    margin-top: 1vh;
  }

  .popup-radar .target-header {
    max-width: 80vw;
    margin-left: -24px;
  }
}
