
.tkrow {
  cursor: pointer;
}

.radar-row.target-card-radar {
  margin: 0 auto;
  margin-top: 5vh;
}

.radar-row {
  height: 25vh;
}

.target-link:hover {
  text-decoration: underline;
}

mat-card {
  box-sizing: border-box;
  min-height: 100%;
}

.name-row {
 padding-top: 1vh;
}

.gene {
font-size: .9em;
}

.target-card {
  //min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.target-content {
  flex: 1 0 auto;
}

.target-lower-content {
  //flex: 1 0 auto;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
}

mat-divider {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
