<mat-card *ngIf="target" routerLink='/targets/{{target.accession}}' target="_blank" class="target-card">
      <div class="target-content">
    <div fxLayout="row wrap" class ="tkrow" fxLayoutAlign="space-around start">
      <div fxFlex="48">
        <pharos-idg-level-indicator [level]="target?.idgTDL"></pharos-idg-level-indicator>
      </div>
      <div fxFlex="48" fxLayoutAlign="end">
        <span class ="mat-title gene">{{target?.gene}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="start center" class = "name-row">
      <div fxFlex="95">
        <span class="mat-title target-link">{{target?.name}}</span>
      </div>
    </div>
    <div fxLayout="row" class ="radar-row target-card-radar" fxLayoutAlign="space-around stretch">
      <div fxFlex="95">
    <pharos-radar-chart [size]="'small'" *ngIf = target.hgdata [data]="[target.hgdata.summary ? target.hgdata.summary : target.hgdata]"></pharos-radar-chart>
      </div>
    </div>
    <div fxLayout="row" class ="tkrow" fxLayoutAlign="start stretch" *ngIf="showKnowledge">
      <div fxFlex="95">
    <pharos-knowledge-table *ngIf = knowledge [data] = knowledge></pharos-knowledge-table>
      </div>
    </div>
      </div>
  <div fxLayout="row" fxLayoutAlign="start stretch" >
    <div fxFlex="95">
      <span>Target Family: {{target?.idgFamily}}</span>
    </div>
  </div>
</mat-card>
