<mat-card *ngIf="target" routerLink='/targets/{{target.preferredSymbol}}' target="_blank" class="target-card">
  <div class="target-content">
    <div class="name-row">
      <div >
        <span class="mat-title target-link" [matTooltip]="target?.name">{{target?.preferredSymbol}}</span>
      </div>
      <div class="tkrow">
        <pharos-idg-level-indicator [level]="target?.idgTDL"></pharos-idg-level-indicator>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="target-lower-content">
      <div fxLayout="row" class="radar-row target-card-radar" fxLayoutAlign="space-around stretch">
        <div fxFlex="95">
          <pharos-radar-chart [size]="'small'" *ngIf=target.hgdata [data]="[target.hgdata]"></pharos-radar-chart>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <ncats-property-display *ngIf="target?.idgFamily"
                                [property]="{label:'Family', term:target?.idgFamily, tooltip: getTooltip('family')}"></ncats-property-display>
        <div *ngFor="let prop of target.properties">
          <ncats-property-display *ngIf="prop.label != 'tdl' && prop.label != 'fam'"
                                  [property]="getDisplayProp(prop)"></ncats-property-display>
        </div>
      </div>
    </div>
  </div>
</mat-card>
