.badge {
  background-color: #7f2754;
  color: white;
  height: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  width: 170px;
  border-radius: 15px;
  margin-left: 15px;
  mat-icon {
    margin-left: 5px;
    color: white;
  }
}
