<mat-card class="flex30">
  <mat-card-header>
    <mat-card-title ><span class="mat-title">Gene RIF ({{data.generif?.length}})</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pmid">
        <mat-header-cell *matHeaderCellDef class="width10">PMID</mat-header-cell>
        <mat-cell class="width10" *matCellDef="let row">
          <a href ="http://www.ncbi.nlm.nih.gov/pubmed/{{row.pmid}}" target="_blank" >{{row.pmid}} </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="text">
        <mat-header-cell class ="width80" *matHeaderCellDef>Text</mat-header-cell>
        <mat-cell class ="width80" *matCellDef="let row">
          {{row.text}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
<br>
