<article>
  <mat-card *ngIf=data
            class="section-card"
            id="expression"
            (pharosScrollspy)="active('expression')"
            #expression>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          Expression Data</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'expression'" [label]="'Expression Data'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div class="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
        <div fxFlex="95">
          <mat-tab-group [dynamicHeight]="true">
            <mat-tab>
              <ng-template mat-tab-label>
                <div
                  [matTooltip]="getTooltip('expression')"
                  [matTooltipClass]="'pharos-tooltip'">
                  Human</div>
              </ng-template>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch" class="anatamogram-row">
                <div fxFlex="48">
                  <!--
                          <img class = "hg" src = {{imgUrl}} alt ="representative human image with organs colored by expression">
                  -->
                  <pharos-anatamogram [tissues]="tissues" [species]="'homo_sapiens'"
                                      [clickHandler]="this.tissueClicked.bind(this)"></pharos-anatamogram>
                </div>
                <div fxFlex="48">
                  <div *ngIf="this.uberonMap.size > 8" class="search-container">
                    <mat-form-field class="table-search">
                      <input matInput (keyup)="filterTissues($event.target.value)" placeholder="Search tissues">
                    </mat-form-field>
                    <mat-button-toggle class="alphabetize-button" name="alphabetize" (change)="alphabetize($event)" [value]="this.alphabetized">
                      <mat-icon matTooltip="Alphabetize tissue list" [color]="'primary'">sort_by_alpha</mat-icon>
                    </mat-button-toggle>
                  </div>
                  <div id="expression-card-list" class="expression-card-list">
                    <div *ngFor="let exprSources of this.sortedExpressions">
                      <pharos-expression-tissue-card [tissueExpressionSources]="exprSources"
                                                     [clickedTissue]="this.clickedTissue"></pharos-expression-tissue-card>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngIf="target.orthologs && target.orthologCounts > 0">
              <ng-template mat-tab-label>
                <div
                  [matTooltip]="getTooltip('orthologs')"
                  [matTooltipClass]="'pharos-tooltip'">
                  Orthologs ({{target.orthologCounts}})</div>
              </ng-template>
              <div class="table-holder">
                <pharos-ortholog-panel [data]=data></pharos-ortholog-panel>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
