.full-height {
/*  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;*/
}

.search-container{
  display: flex;
  flex-direction: row;
}

.table-search{
  flex: 1;
}

.table-holder {
  padding: 1vh;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
img.hg {
  max-height: 200px;
  max-width: 200px;
}
}

.alphabetize-button{
  border: none;
  margin-left: 1vw;
}

.alphabetize-button.pressed{
  opacity: 50%;
}

.expression-card-list{
  height: 550px;
  overflow: scroll;
  transition: scrollTop 2s linear;
}

.sort-select{
  width: 50%;
  margin-left: 5px;
}

.resource-thumb {
  max-height: 12rem;
}

.thumb-holder {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.heatmap-container {
  overflow-y: scroll;
  height: 100%;
}

.circle-plot-container {
  overflow-y: scroll;
  height: 100%;
}

.heatmap-container.halfHeight{
  border-bottom: 1px solid;
}

.halfHeight {
  overflow-y: scroll;
  height: 48%;
}
.details-container {
  padding: 10px;
}

.anatomogram-container {
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.section {
  max-height: 650px;
  //width: 600px;
}
.matrix-anatomogram {
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
