
.full-height {
/*  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;*/
}

.table-holder {
  padding: 1vh;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
img.hg {
  max-height: 200px;
  max-width: 200px;
}
}

.alphabetize-button{
  border: none;
  margin-left: 1vw;
}

.expression-card-list{
  height: 550px;
  overflow: scroll;
  transition: scrollTop 2s linear;
}
