<article>
  <mat-card *ngIf=data
          class="section-card"
          id = "expression"
          (pharosScrollspy)="active('expression')"
          #expression>
  <mat-card-content>
    <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
      <img class="spinner rotating" alt="loading..."  src="./assets/images/pharos_spinner.svg">
    </div>
    <div fxLayout="row"
         class="tkrow"
         fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
          Expression Data</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'expression'" [label]="'Expression Data'"></pharos-help-panel-trigger>
      </div>
    </div>
    <div class = "row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
      <div fxFlex="95">
      <mat-tab-group [dynamicHeight]="true" (animationDone)="doneAnimating()" (selectedTabChange)="drawRadar($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <div
          [matTooltip] = "getTooltip('expression')"
          [matTooltipClass] = "'pharos-tooltip'">
          Human</div>
        </ng-template>
    <div fxLayout = "row" fxLayout.xs="column" fxLayoutAlign="space-around stretch" class="anatamogram-row">
      <div fxFlex="48">
        <img class = "hg" src = {{imgUrl}} alt ="representative human image with organs colored by expression">
<!--
        <pharos-anatamogram [tissues]="tissues" [species]="'homo_sapiens'"></pharos-anatamogram>
-->
      </div>
      <div fxFlex = "48">
          <mat-tab-group (selectedTabChange)="changeHarminogramTabData($event)" [dynamicHeight]="true">
            <mat-tab *ngFor="let source of sourceList" label = "{{source.label}} ({{getSourceCount(source.label)}})"  >
                    <pharos-link-list [list]= hgData [label]=source.label></pharos-link-list>
<!--
              <div *ngFor ="let tissue of tissues" (mouseover)="setHover(tissue)" (mouseout)="setHover()">{{tissue}}</div>
-->

            </mat-tab>
          </mat-tab-group>
      </div>
    </div>
      </mat-tab>
<!--      <mat-tab label="Mouse">
    <div fxLayout = "row" fxLayout.xs="column" fxLayoutAlign="space-around stretch" class="anatamogram-row">
      <div fxFlex="50">
        <pharos-anatamogram [tissues]="tissues" [species]="'mus_musculus'"></pharos-anatamogram>
      </div>
      <div fxFlex = "50">
          <mat-tab-group (selectedTabChange)="changeHarminogramTabData($event)" [dynamicHeight]="true">
            <mat-tab *ngFor="let source of sourceList" label = "{{source.label}} ({{getSourceCount(source.label)}})"  >
                    <pharos-link-list [list]= hgData [label]=source.label></pharos-link-list>
            </mat-tab>
          </mat-tab-group>
      </div>
    </div>
      </mat-tab>-->
        <mat-tab>
          <ng-template mat-tab-label>
            <div
            [matTooltip] = "getTooltip('specificity')"
            [matTooltipClass] = "'pharos-tooltip'">
            Specificity</div>
          </ng-template>
          <div fxLayout = "row" fxLayout.xs="column" fxLayoutAlign="space-around stretch" class="radarchart anatamogram-row">
            <div fxFlex="50" fxFlexAlign="stretch">
              <pharos-radar-chart
                #radar
                id ="radar"
                [data] = radarData
                [shape]="true"
                [size] = "'medium-shape'"
                [origin]="'expression'"></pharos-radar-chart>
          </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf=data.differential>
          <ng-template mat-tab-label>
            <div
            [matTooltip] = "getTooltip('differential')"
            [matTooltipClass] = "'pharos-tooltip'">
            Differential</div>
          </ng-template>
          <div class="table-holder" fxFlex>
            <pharos-differential-panel [data]="data.differential"></pharos-differential-panel>
        </div>
        </mat-tab>
        <mat-tab *ngIf="data.orthologs && data.orthologs.length > 0">
          <ng-template mat-tab-label>
            <div
            [matTooltip] = "getTooltip('orthologs')"
            [matTooltipClass] = "'pharos-tooltip'">
            Orthologs ({{data.orthologs.length}})</div>
          </ng-template>
          <div class="table-holder">
          <pharos-ortholog-panel [data]= data.orthologs></pharos-ortholog-panel>
          </div>
        </mat-tab>
    </mat-tab-group>
    </div>
    </div>
  </mat-card-content>
</mat-card>
</article>
