:host {
  flex: 1 1 calc(100% - 40px);
  max-width: calc(100% - 40px);
  margin-left: 20px;
}

.flex30 {
  flex: 1 1 calc(100% - 20px);
  max-width: calc(100% - 20px);
}


.radarchart {
  margin: 0 auto;
  height: 30vh;
}
