<ng-template #nodata>
  <mat-card #expression
            (pharosScrollspy)="active('expression')"
            class="section-card"
            id="expression">
    <mat-card-content>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      No expression data found
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #headerrow>
  <div class="tkrow"
       fxLayout="row"
       fxLayoutAlign="start stretch">
    <div fxFlex="95">
        <span [matTooltipClass]="'pharos-tooltip'"
              [matTooltip]=description
              class="mat-title">
          Expression Data ({{this.uberonExpressionMap?.yValues?.length || 0}} Tissues)</span>
    </div>
    <div fxFlex="5">
      <pharos-tutorial-link [tourType]="tourType"></pharos-tutorial-link>
    </div>
  </div>
</ng-template>

<article>
  <mat-card #expression
            (pharosScrollspy)="active('expression')"
            *ngIf="this.target && this.uberonExpressionMap.yValues.length; else nodata"
            class="section-card"
            id="expression">
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img alt="loading..." class="spinner rotating" src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <div class="row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
        <div fxFlex="95">
          <div class="matrix-anatomogram">
            <div class="section">
              <div [ngClass]="{halfHeight: detailsTissue}" class="heatmap-container">
                <pharos-expression-heat-map [clickedTissue]="clickedTissue" [heatmapClicked]="tissueClicked.bind(this)"
                    [dataSourceClicked]="dataSourceClicked.bind(this)" [heatmapData]="uberonExpressionMap"></pharos-expression-heat-map>
<!--                <ng-container *ngFor="let root of target.expressionTree.uberonDict">-->
<!--                  <pharos-pack-circle [hierarchyData]="root"></pharos-pack-circle>-->
<!--                </ng-container>-->
              </div>
              <div *ngIf="detailsTissue" class="details-container halfHeight">
                <pharos-expression-details [closeFunction]="closeDetails.bind(this)" [expressions]="target.expressions"
                                           [gtex]="target.gtex"
                                           [selectedTissue]="detailsTissue"></pharos-expression-details>
              </div>
            </div>
            <div class="section anatomogram-container" fxHide.lt-lg>
              <pharos-anatomogram [clickHandler]="this.tissueClicked.bind(this)" [redrawAnatomogram]="this.redrawAnatomogram"
                                  [shadingKey]="this.shadingKey"
                                  [shadingMap]="this.shadingMap"
                                  [species]="'homo_sapiens'"
                                  [tissues]="tissues"></pharos-anatomogram>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
