
.radarchart {
  height: 30vh;
}


.disease-tree-invisible {
  display: none;
}

.disease-tree ul,
.disease-tree li {
  margin-top: .5vh;
  margin-bottom: .5vh;
  list-style-type: none;
}

.tree-leaf {
  display: flex;
  align-items: center;
}

.full-height {
/*  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;*/
}

.table-holder {
  padding: 1vh;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
img.hg {
  max-height: 200px;
  max-width: 200px;
}
}


