.return{
  position: fixed; /* Sit on top of the page content */
  top: 1vh;
  left: 1vh;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  z-index: 665;
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}
