:host {
  grid-column: 1 / 2;
}

.link-list {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.1em;
}

.full-height {
  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  :host {
    grid-column: 1 / span 3;
  }
}
