@import '../../../../ncats-theme';

.d3-chart {
  margin: 0 auto;
  height: 15vh;
}

.d3-chart svg {
  padding-top: 15px;
  padding-bottom: 15px;
}

.line-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 14px sans-serif;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  pointer-events: none;
  z-index: 666;
}

.hovered{
  fill: mat-color($pharos-app-accent) !important;

}
