<article>
  <div class ="full-height">
<mat-card>
  <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
         Structure</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'structure'" [label]="'Structure View'"></pharos-help-panel-trigger>
      </div>
    </div>
    <img *ngIf="imageUrl" [src] ="imageUrl" alt = "image for {{this.data.name}}" class = "ligand-image">
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="20">
<!--
      <button mat-raised-button [color]="'primary'" routerLink="/structure" (click)="setSmiles()"><mat-icon>search</mat-icon></button>
-->
    </div>
    </div>
  </mat-card-actions>
</mat-card>
</div>
</article>
