@import './../../../partials/ncats-theme';

:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 70px;
  z-index: 100000;
  width: 100%;
}

.pharos-alert{
  display: flex;
  justify-content: space-between;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 60%;
  align-items: center;
}

.alert-success {
  color: black;
  background-color: #6fe6a4;
}

.alert-info {
  color: black;
  background-color: #5bc0de;
}

.alert-warning {
  color: black;
  background-color: mat-color($pharos-app-accent);
}

.alert-danger {
  color: black;
  background-color: #f44336;
}

.devmessage {
  font-size: small;
  opacity: .75;
  padding-left: 15px;
  display: block;
}
