.floating-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: #B31D24;
  background-color: whitesmoke;
  text-align: center;
  align-content: center;
  height: 40px;
}
