<section class="model-list">
  <div *ngIf="targets">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
         class="paginator-row">
      <div fxFlex="25" class="select-group" *ngIf="loggedIn">
        <mat-checkbox (click)="$event.stopPropagation()" [matTooltip]="this.selectionTooltip() || 'Select all targets on this page'"
                      (change)="$event ? this.toggleAll($event) : null"
                      [checked]="this.allSelected()"
                      [indeterminate]="this.someSelected()">Selected {{this.rowSelection.selected.length}} targets
        </mat-checkbox>
        <button mat-icon-button (click)="clearAll()" *ngIf="!rowSelection.isEmpty()" class="close-button" matTooltip="Clear all selected targets from all pages" aria-label="Clear all selected targets from all pages">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="sort-select model-list-sort">
        <mat-form-field class="sort-dropdown">
          <mat-select [(value)]="this.selectedSortObject" placeholder="Sort" (valueChange)="sortChanged($event)"
                      matTooltip="Sort the target list" [compareWith]="compareSortKeys">
            <mat-option>Default</mat-option>
            <mat-option *ngFor="let item of this.sortMap | keyvalue" [value]="item.value">
              {{item.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button *ngIf="selectedSortObject" (click)="toggleSortOrder()">
          <mat-icon *ngIf="selectedSortObject.order === 'desc'" matTooltip="descending">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="selectedSortObject.order === 'asc'" matTooltip="ascending">keyboard_arrow_up</mat-icon>
        </button>
      </div>
      <div fxFlex="75" fxFlexAlign="end">
        <mat-paginator class="model-list-paginator"
          [pageSize]=pageData.top
          [pageIndex]="pageData.skip / pageData.top"
          [length]=pageData.total
          [pageSizeOptions]="[10, 20, 60, 100]"
          [showFirstLastButtons]="true"
          (page)="changePage($event)"></mat-paginator>
      </div>
    </div>
    <div *ngIf="!isSmallScreen">
      <div *ngFor="let target of targets">
        <pharos-long-target-card [target]="target" [selected]="isSelected(target)" [similarityTarget]="similarityTarget"
                                 (selectionChanged)="updateTargetSelection(target, $event)"
                                 [loggedIn]="loggedIn"
                                 [apiSources]="apiSources"></pharos-long-target-card>
      </div>
    </div>
    <div class="target-grid" *ngIf="isSmallScreen">
      <div *ngFor="let target of targets">
        <pharos-target-card [target]="target"></pharos-target-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
      <div fxFlex="100" fxFlexAlign="end">
        <mat-paginator class="model-list-paginator"
          [pageSize]=pageData.top
          [pageIndex]="pageData.skip / pageData.top"
          [length]=pageData.total
          [pageSizeOptions]="[10, 20, 60, 100]"
          [showFirstLastButtons]="true"
          (page)="changePage($event)"></mat-paginator>
      </div>
    </div>
  </div>
</section>
