.target-table-toolbar {
  width: 100%;
}

.mat-column-idgTDL {
  overflow: visible;
  padding: 1%;
}

.mat-display-1 {
  margin-bottom: 0;
}

.small-radar {
  height: 100px;
  max-height: 100px;
}

.target-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  grid-gap: .5em;
  justify-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.target-grid > div {
  margin-bottom: 1em;
  min-width: 100%;
}

