/*.target-table-toolbar {
  width: 100%;
}*/

.mat-column-idgTDL {
  overflow: visible;
  padding: 1%;
}

.mat-column-select {
  min-width: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.sort-select{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.sort-dropdown{
  width: 16vw;
}

.pharos-display-1 {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 0;
}

.target-grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  grid-gap: .5em;
  justify-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.target-grid > div {
  margin-bottom: 1em;
  min-width: 100%;
}

