

<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="95">
    <div fxLayout="row">
      <p class="explanation">
        These targets do not have known drug or small molecule activities <br>
        <span class="centered">- AND -</span>
        do not satisfy the criteria for Tdark
        <span class="centered">- OR -</span>
        satisfy the following criterion:</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        [ngClass]="{'disabled-icon': target.goCount < 1 }"
        [color]="'accent'">check_circle
      </mat-icon>
      &nbsp;&nbsp;
      <span
        [matTooltip]="getTooltip('goMolecularFunctions')"
        [matTooltipClass]="'pharos-tooltip'"
        [ngClass]="{'mat-body-2': target.goCount > 0}">
        Gene Ontology Molecular Function<span
        *ngIf = "target.goCount > 1">s</span>:
        {{target.goCount}}</span>
    </div>
    <br>
    <div fxLayout="row">
      <mat-progress-bar
        class = "tdl-progress"
        mode="determinate"
        [value]="target.goCount == 0 ? 0 : 100"
      ></mat-progress-bar>
    </div>
  </div>
</div>
