
.grid {
/*  display: grid;
  !* define the number of grid columns *!
  grid-column: 1;
  grid-gap: 1vh;
  grid-row-gap: 1.5vh;*/
  margin-left: 2vw;
  margin-right: 2vw;
}

@media only screen and (max-width: 960px) {
.grid {
  margin-left: 0;
  margin-right: 0;
}
}
