.mat-table {
  overflow: auto;
}

.mat-column-select {
  overflow: visible;
}

.col0{
  min-width: 0%;
}
.col10{
  min-width: 10%;
}

.col20{
  min-width: 20%;
}

.col60{
  min-width: 60%;
}

.col80{
  min-width: 80%;
}

.mat-row {
  min-height: 32px;
}
