<mat-table [dataSource]="dataSource" [trackBy]="trackByFunction" matSort>
<ng-container matColumnDef="select">
<mat-header-cell *matHeaderCellDef></mat-header-cell>
  <mat-cell *matCellDef="let row" class="col10">
    <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? filterSelection.toggle(row.label) : null"
                  [checked]="filterSelection.isSelected(row.label)">
    </mat-checkbox>
  </mat-cell>
</ng-container>
  <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumns">
<mat-header-cell *matHeaderCellDef></mat-header-cell>
<mat-cell *matCellDef="let row"> {{row[field]}} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayColumns;">
</mat-row>
</mat-table>
