<article>
  <div class="flex30">
  <mat-card class="full-height-card">
    <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
          Related Targets ({{disease._links.count}})</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'relatedTargets'" [label]="'Related Targets'"></pharos-help-panel-trigger>
      </div>
    </div>
      <pharos-generic-table [data]="tableArr"
                            [pageData]="pageData"
                            [fieldsConfig]="fields"
                            (pageChange)="getMoreTargets($event)"
                            *ngIf="tableArr"></pharos-generic-table>
    </mat-card-content>
  </mat-card>
</div>
</article>
