<mat-card class="ligand-card" *ngIf="ligand">
  <a [routerLink] = ligand.internalLink>
    <div class="ligand-content">
      <div class="mat-title centered">{{ligand.name}}</div>
      <img *ngIf="ligand.structureId || ligand.refid" [src]=ligand.imageUrl alt="image for {{ligand.name}}" class="ligand-image">
    </div>
  </a>
  <div class="ligand-footer">
    <div *ngFor="let activity of primeActivity">
      <a href="/targets/{{activity?.target}}" target="_blank" rel="noreferrer">{{activity?.target}}</a>
      <pharos-idg-level-indicator [level]="activity?.idgLevel"></pharos-idg-level-indicator>
      {{activity?.targetFamily}}<br>
      <br>
      {{_getActivityType(activity?.activity)}} {{activity?.activity?.numval?.toFixed(2) || activity?.activity?.term}}
      <br>
      <br>
      <div *ngIf="ligand.activities.length > 1">Also tested on <a routerLink="/ligands/{{ligand.id}}" target="_blank" rel="noreferrer">{{ligand.activities.length}}</a>
        other targets
      </div>
    </div>
  </div>
</mat-card>



