.ligand-card {
  cursor: pointer;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.drug-card{
  background-color: #fff6eb;
}

.ligand-content {
  flex: 1 0 auto;
}


.centered {
  text-align: center;
}

.ligand-name {
  word-break: break-word;
}

.ligand-image {
  max-height: 100%;
  max-width: 100%;
}
