<mat-card class="ligand-card" *ngIf="ligand">
  <a routerLink = '/ligands/{{ligand.chemblName || ligand.name}}' target="_blank">
    <div class="ligand-content">
      <div class="mat-title centered">{{ligand.chemblName || ligand.name}}</div>
      <pharos-structure-view [smiles]="ligand.smiles"></pharos-structure-view>

<!--
      <img *ngIf="ligand.imageUrl" [src]=ligand.imageUrl alt="image for {{ligand.chemblName || ligand.name}}" class="ligand-image">
-->
    </div>
  </a>
  <div class="ligand-footer">
    <div *ngIf="target">
    <a href="/targets/{{target.gene}}" target="_blank" rel="noreferrer">{{target.gene}}</a>
    <pharos-idg-level-indicator [level]="target.idgTDL"></pharos-idg-level-indicator>
    {{target.idgFamily}}<br>
    </div>
    <div *ngIf="primeActivity">
      <br>
      {{primeActivity[0]?.moa}} {{primeActivity[0]?.type}}: {{primeActivity[0]?.value.toFixed(2)}}
      <br>
      <br>
<!--      <div *ngIf="ligand.activities.length > 1">Also tested on <a routerLink="/ligands/{{ligand.chemblName || ligand.name}}" target="_blank" rel="noreferrer">{{ligand.activities.length}}</a>
        other targets
      </div>-->
    </div>
  </div>
</mat-card>



