<mat-card id="publicationsPanel" class="section-card"
          (pharosScrollspy)="active('publicationsPanel')"
          #publicationsPanel>
  <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch"
         #development>
      <div fxFlex="95">
        <span class="mat-title">Publication Information</span>
      </div>
      <div fxFlex="5">
        <pharos-help-panel-trigger [origin] = "'publicationsPanel'" [label]="'Publication Information'"></pharos-help-panel-trigger>
      </div>
    </div>
    <div class = "row" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
      <div fxFlex>
      <mat-tab-group >
        <mat-tab label="Publication Statistics">
          <div class = "timelines-panel">
          <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
          </div>
          <ng-container *ngIf="pmscoreTimeline && pmscoreTimeline.length">
            <div fxLayout="row" fxLayoutAlign="start stretch"  class="timeline-holder">
              <div fxFlex="95">
                <span class="mat-title">PubMed Score </span>&nbsp;<span>{{target.jensenScore.toFixed(2)}}</span>
                <pharos-scatter-plot [data]="pmscoreTimeline" [options]="chartOptions"></pharos-scatter-plot>
              </div>
            </div>
          </ng-container>
            <ng-container *ngIf="pubtatorTimeline && pubtatorTimeline.length">
            <div fxLayout="row" fxLayoutAlign="start stretch" class="timeline-holder">
              <div fxFlex="95">
                <span class="mat-title">PubTator Score </span>&nbsp;<span>{{raisePubtator()}}</span>
                <pharos-scatter-plot [data]="pubtatorTimeline" [options]="chartOptions"></pharos-scatter-plot>
              </div>
            </div>
          </ng-container>
            <ng-container *ngIf="patentTimeline && patentTimeline.length">
            <div fxLayout="row" fxLayoutAlign="start stretch" class="timeline-holder">
              <div fxFlex="95">
                <span class="mat-title">Patents </span>
                <pharos-scatter-plot [data]="patentTimeline" [options]="chartOptions"></pharos-scatter-plot>
              </div>
            </div>
          </ng-container>
          </div>
        </mat-tab>
        <mat-tab  *ngIf="publications" label="Text Mined References ({{publicationPageData?.total}})">
          <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
          </div>
          <ng-template matTabContent>
            <pharos-generic-table
              (pageChange)="paginate($event, 'publications')"
              [pageData]="publicationPageData"
              [data]= publications
              [fieldsConfig] = publicationTableFields>
            </pharos-generic-table>
          </ng-template>
        </mat-tab>
        <mat-tab *ngIf="generifs" label="GeneRif Annotations ({{rifPageData?.total}})">
          <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
          </div>
          <ng-template matTabContent>
            <pharos-generic-table
              (pageChange)="paginate($event, 'generifs')"
              [pageData]="rifPageData"
              [data]= generifs
              [fieldsConfig] = rifTableFields>
            </pharos-generic-table>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    </div>
  </mat-card-content>
</mat-card>
