<article>
  <mat-card *ngIf="(data && ligand)" class="section-card" id="details" (pharosScrollspy)="active('details')" #summary>
    <mat-card-content #details>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <pharos-component-header [description]="description" [field]="field" [headerText]="'Ligand Summary'"></pharos-component-header>
      <div fxLayout="row" fxLayout.lt-md="column" class="tkrow" fxLayoutAlign="space-between start">
        <div fxFlex="50" class="structure">
          <ng-container *ngIf="ligand.smiles">
            <mat-card-subtitle
              [matTooltip]="getTooltip('structure')"
              [matTooltipClass]="'pharos-tooltip'">
              Ligand Structure
            </mat-card-subtitle>
            <button mat-button class="tool-button " mat-raised-button (click)="goToStructureSearch()" [color]="'primary'"
                    [matTooltip]="'Begin a structure search with this structure'">Find Similar Compounds
              <mat-icon>search</mat-icon>
            </button>
            <div class="ligand-image">
              <pharos-structure-view [smiles]="ligand.smiles" [ligandName]="ligand.getDisplayName()" [size]=400 [ligandName]="'the query structure'"></pharos-structure-view>
            </div>
          </ng-container>
        </div>
        <div fxFlex="50"
             *ngIf="ligand.synonyms || ligand.description">
          <div *ngIf="ligand.description" class="description-row">
            <mat-card-subtitle>Description</mat-card-subtitle>
            <div>{{ligand.description}}</div>
          </div>
          <mat-card-subtitle
            [matTooltip]="getTooltip('synonyms')"
            [matTooltipClass]="'pharos-tooltip'">
            Synonyms & Links
          </mat-card-subtitle>
          <div *ngFor="let synonym of synonymList">
            <ncats-property-display [property]="getTooltipProp(synonym)"></ncats-property-display>
          </div>
        </div>
        <br>
        <br>
      </div>
    </mat-card-content>
  </mat-card>
  <pharos-community-data-panel *ngIf="(data && ligand)" [apis]="ligand.communityAPIs" [section]="'details'" [showManual]="true"></pharos-community-data-panel>
</article>
