<mat-card class="full-height" *ngIf = list>
  <mat-card-header>
    <mat-card-title ><span class="mat-title">{{label}} ({{list.length}})</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
<mat-list>
  <mat-list-item *ngFor = "let item of list | slice:0:9">
    <div *ngIf = "item.internalLink; else noLink">
      <a href = {{item.internalLink}} target="_blank">{{item.term}}</a>
    </div>
    <ng-template #noLink>{{item.term}}</ng-template>
  </mat-list-item>
</mat-list>
  </mat-card-content>
</mat-card>
