@use '@angular/material' as mat;
@import '../../../../partials/ncats-theme';

.tool-button.mat-button-disabled mat-icon{
  color: rgba(255,255,255,0.5);
}

.activeView {
  background-color: mat.get-color-from-palette($pharos-app-accent);
  color: black;
}

.inactiveView {
  background-color:  mat.get-color-from-palette($pharos-primary, 50);
  color: black;
}

.leftSide {
  margin-left: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.rightSide {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.tool-button {
  font-size: large;
}
.tool-button.mat-button-disabled {
  color: rgba(255,255,255,0.5);
}

.target-table-toolbar, {
  display: flex;
  flex-direction: row;
}

.target-table-subbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-self: self-end;
  align-self: center;
}

.verbose {
  vertical-align: baseline;
}

@media only screen and (max-width: 960px) {
  .target-table-toolbar {
    flex-direction: column;
  }
  .target-table-subbar {
    margin-top: 10px;
    align-self: end;
  }
}
