<div fxLayout="row">
  <span class="mat-headline">Ligand Activity Selection</span>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex = "90">
    <div class = "mat-body">
ChEMBL ligand activities are selected for a given target are identified using the following criteria:
      <ul>
        <li>must have a <span class="code-var"> pchembl </span> value (ie a -Log M value)</li>
        <li>must be from a binding assay</li>
        <li>must have a <span class="code-var"> MOL </span> structure type</li>
        <li>must have a target type of <span class="code-var"> SINGLE_PROTEIN</span></li>
        <li>must have <span class="code-var"> standard_flag </span> = 1 and exact <span class="code-var"> standard_relation </span>
          <ul><li>(ie. no <= 10uM type values)</li></ul>
        </li>
        <li>must be associated with a publication</li>
        <li>
          must pass the family-specific thresholds:
          <ul>
            <li>Kinases: <= 30nM</li>
            <li>GPCRs: <= 100nM</li>
            <li>Nuclear Receptors: <= 100nM</li>
            <li>Ion Channels: <= 10μM</li>
            <li>Others: <= 1μM</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
