  <span class = "tdl mat-title" [ngClass] = level?.toLowerCase()>{{level}}</span>
<!--

  <p align='left'>
    These targets do not have known drug or small molecule activities that satisfy the activity thresholds detailed below
    AND satisfy one or more of the following criteria:
    <ul>
      <li>
  <p align='left'>target is above the cutoff criteria for Tdark<li>
  <p align='left'>target is annotated with a Gene Ontology Molecular Function or Biological Process leaf term(s) with an
    Experimental Evidence code<li>
  <p align='left'>target has confirmed OMIM phenotype(s)
    </ul>
  </p>

  <p align='left'>These are targets about which virtually nothing is known. They do not have known drug or small molecule activities that satisfy the activity thresholds detailed below AND satisfy two or more of the following criteria:<ul><li><p align='left'>A PubMed text-mining score from Jensen Lab < 5<li><p align='left'>≤ 3 Gene RIFs<li><p align='left'>≤ 50 Antibodies available according to http://antibodypedia.com</ul></p>

  <p align='left'>These targets have activities in ChEMBL that satisfy the activity thresholds detailed below. In some cases, targets have been manually migrated to Tchem by human curation based on small molecule activities from other sources.</p>

  <p align='left'>These targets have activities in DrugDB (i.e., approved drugs) with known mechanism of action that satisfy the activity thresholds detailed below.</p>
-->
