

.tdl{
  //color: white;
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 15px;
}

.disabled-icon {
  background-color: #bdc3ca !important;
}
