@import '../../../../ncats-theme';

pharos-radar-chart {

  .radar-chart svg {
      overflow: visible;
  }

  .radar-tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 14px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
    z-index: 666;
  }

  .hovered {
    fill: mat-color($pharos-app-accent) !important;

  }


}
.popup-radar > .sticky-container > .target-header {
  width: 80vw;
  margin-top: 1vh;
  margin-left: -24px;
}

.content-row {
  margin-top: 2vh;
}
