@import '../../../../ncats-theme';

  .radar-chart {
    overflow: visible;
    height: 100%;
  }

  .radar-tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 14px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
    z-index: 666;
  }

  .hovered {
    fill: mat-color($pharos-app-accent) !important;

  }

.content-row {
  margin-top: 2vh;
}
