  <div class="breadcrumb">
<!--    <a routerLink="/" class="breadcrumb-link"> Home </a>
    <span class="disabled mat-title breadcrumb-link slash"> / </span>-->
    <a routerLink="/{{path?.term}}" class="breadcrumb-link"> {{path.term | titlecase}} </a>
    <span *ngFor="let link of links">
    <span class="mat-title slash"> / </span>
    <a (click)="goTo(link)" class="breadcrumb-link" >{{link.term | titlecase}}</a>
      </span>
    <span *ngIf="target">
          <span class="disabled mat-title breadcrumb-link slash"> / </span>
      <a class = "disabled">{{target?.name | titlecase}}</a>
    </span>
  </div>
<br>
