<article *ngIf="this.mouseExpressions.length > 0 || this.dataResources.length > 0 || this.reagents.length > 0">
  <mat-card
    class="section-card"
    id="resources"
    (pharosScrollspy)="active('resources')" #resources>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
          <span class="mat-title" [matTooltip]=description [matTooltipClass]="'pharos-tooltip'">IDG Resources</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'resources'"
                                     [label]="'IDG Generated Resources'"></pharos-help-panel-trigger>
        </div>
      </div>
      <mat-tab-group #tabs>
        <mat-tab *ngIf="reagents?.length > 0"
                 label="Reagents ({{reagents?.length}})"
                 matTooltip="View and order IDG produced resources from vendors">
          <pharos-list-filter
            [fullList]="reagents"
            [(visibleList)]="reagentsList"
            [pageData]="reagentPageData"
            [fullListUpdates]="reagentsUpdated.asObservable()">
          </pharos-list-filter>
          <div class="data-grid">
            <div *ngFor="let reagent of reagentsList">
              <pharos-reagent-panel [reagent]="reagent"></pharos-reagent-panel>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="dataResources?.length > 0"
                 label="Data Resources ({{dataResources?.length}})"
                 matTooltip="View and explore IDG produced data sets">
          <pharos-list-filter
            [fullList]="dataResources"
            [(visibleList)]="dataResourceList"
            [pageData]="dataResourcePageData"
            [fullListUpdates]="dataResourcesUpdated.asObservable()">
          </pharos-list-filter>
          <div class="data-source-grid">
            <div *ngFor="let dataResource of dataResourceList">
              <pharos-data-resource-panel [dataResource]="dataResource"></pharos-data-resource-panel>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="mouseExpressions?.length > 0"
          label="Mouse Imaging ({{mouseExpressions.length}})"
        matTooltip="View and explore mouse expression data">
          <pharos-mouse-expression [mouseExpressions]="this.mouseExpressions"
          [mouseExpressionUpdates]="mouseExpressionsUpdated.asObservable()"></pharos-mouse-expression>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</article>
