
.filter-row {
  margin-top:1vh;
  margin-bottom: 1vh;
  margin-right: 1vw;
}

.full-width-field {
  width: 100%;
}

.data-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
    grid-gap: 1em;
  }

.data-source-grid {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    grid-gap: 1em;
  }

@media only screen and (max-width: 768px) {
  .data-grid,
  .data-source-grid {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }
}
