<section>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="topic-details-header">
<!--
  <ng-template appPharosCustomContent></ng-template>
-->
  <pharos-topic-header [topic]="topic"></pharos-topic-header>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex="95">
    <mat-tab-group>
      <mat-tab label="Network">
        <article class="full-tab">
          <pharos-topic-graph-panel class="full-tab" [topic]="topic" *ngIf="topic && topic.id"></pharos-topic-graph-panel>
        </article>
      </mat-tab>
      <mat-tab label="Targets ({{allTargets.length}})">
        <ng-template matTabContent>
          <article class="full-tab">
          <pharos-target-table [data] = targets [pageData]="targetPageData" (pageChange)="paginateTargets($event)" [showToolbar]="false" *ngIf="targets.length"></pharos-target-table>
          </article>
        </ng-template>
      </mat-tab>
      <mat-tab label="Diseases ({{allDiseases.length}})">
        <ng-template matTabContent>
         <article class="full-tab">
          <pharos-disease-table [data] = diseases [pageData]="diseasePageData" (pageChange)="paginateDiseases($event)" *ngIf="targets.length"></pharos-disease-table>
         </article>
        </ng-template>
      </mat-tab>
      <mat-tab label="Ligands ({{allLigands.length}})">
        <ng-template matTabContent>
          <article class="full-tab">
          <pharos-ligand-table [data] = ligands [pageData]="ligandPageData" (pageChange)="paginateLigands($event)" *ngIf="targets.length"></pharos-ligand-table>
          </article>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
</section>
<!--


       <pharos-node-display [nodes] = displayTargets [path] = "'targets'" *ngIf="displayTargets"></pharos-node-display>
&lt;!&ndash;
&ndash;&gt;
     </ng-template>
   </mat-tab>
   <mat-tab label="Ligands  ({{allLigands.length}})" class="full-tab">
     <ng-template matTabContent>
       <div *ngIf=" loading" class = "loadingIcon full-loading" fxLayoutAlign="center center">
      <img class="spinner rotating" src="./assets/images/pharos_spinner.svg">
       </div>
&lt;!&ndash;
       <pharos-ligand-table class = "full-tab" [data]= ligands [pageData]= "ligandPageData" (pageChange)="paginateLigands($event)"></pharos-ligand-table>
&ndash;&gt;
     </ng-template>
   </mat-tab>
   <mat-tab label="Diseases  ({{allDiseases.length}})" class="full-tab">
     <ng-template matTabContent>
       <div *ngIf=" loading" class = "loadingIcon full-loading" fxLayoutAlign="center center">
      <img class="spinner rotating" src="./assets/images/pharos_spinner.svg">
       </div>
       <pharos-generic-table [data]= allDiseases [fieldsConfig]="diseaseFields" [tableLabel]= "diseaseLabel"></pharos-generic-table>
     </ng-template>
   </mat-tab>
   &lt;!&ndash;<mat-tab label="Graph" class="full-tab">
     <ng-template matTabContent>
       <div *ngIf=" loading" class = "loadingIcon full-loading" fxLayoutAlign="center center">
      <img class="spinner rotating" src="./assets/images/pharos_spinner.svg">
       </div>
&lt;!&ndash;
       <pharos-topic-graph></pharos-topic-graph>
&ndash;&gt;
     </ng-template>
   </mat-tab>&ndash;&gt;
 </mat-tab-group>
</div>
</div>
-->
