<!--<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="body-row">
  <div fxFlex="95">
    <pharos-graph></pharos-graph>
    <button (click)="doIt()">Do it</button>


    {{data | json}}
    <pharos-node-display [nodes]=nodes></pharos-node-display>
    </div>
  </div>-->
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="start stretch" class="target-details-header">
  <ng-template appPharosCustomContent></ng-template>
  <button (click)="doIt()">Do it</button>

</div>
