pharos-target-table {
  width: 100vw !important;
}

/*

pharos-disease-table {
  width: 100vw !important;
}

pharos-ligand-table {
  width: 100vw !important;
}
*/

mat-tab-body {
  min-height: 50vh;
}
