<!--<ncats-anatomogram-species-chooser (speciesChange)="setSpecies($event)"></ncats-anatomogram-species-chooser>
<ncats-anatomogram-details-chooser (detailsChange)="setdetails($event)"></ncats-anatomogram-details-chooser>-->
<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="25">
      <ncats-anatomogram-image [species]="species" [details]="'male'"></ncats-anatomogram-image>
    </div>
  <div fxFlex="25">
    <ncats-anatomogram-image [species]="species" [details]="'female'"></ncats-anatomogram-image>
  </div>
</div>
