<div fxLayout="row" fxLayoutAlign="center center" *ngIf= "details === 'brain'; else body">
  <div fxFlex="95">
      <ncats-anatomogram-image [species]="species" [details]="'brain'" [tissues]="tissues"></ncats-anatomogram-image>
    </div>
</div>
<ng-template #body>
  <div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50">
      <ncats-anatomogram-image [species]="species" [details]="'male'" [tissues]="tissues"></ncats-anatomogram-image>
    </div>
  <div fxFlex="50">
    <ncats-anatomogram-image [species]="species" [details]="'female'" [tissues]="tissues"></ncats-anatomogram-image>
  </div>
</div>
</ng-template>

<div fxLayout="row" fxLayoutAlign="center" class = "view-change-row">
  <div fxFlex = "80">
  <mat-radio-group (change)="toggleView($event)">
    <mat-radio-button [value] = "'body'" [checked]="true">Full Body</mat-radio-button>&nbsp;
    <mat-radio-button [value]="'brain'">Brain</mat-radio-button>
  </mat-radio-group>
    &nbsp;
    &nbsp;
    &nbsp;
    <button mat-flat-button (click)="reset()" [color]="'primary'">Reset Zoom</button>
  </div>
  <div fxFlex="20" fxLayoutAlign="end">
    <a href="https://www.ebi.ac.uk/gxa/licence.html" target="_blank" rel="noreferrer">
  <img src="/assets/images/svgs/attribution.svg" class="attribution-link">
    </a>
  </div>
  <div>
  </div>
</div>
