<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start" class="search-content">
  <div fxFlex="75" fxFlex.lt-sm="90" id="structure-search-container">
    <div fxLayout="row" class="header-row">
      <div class="section-header active">Structure Search</div>
    </div>
    <mat-card id="load-card" >
      <mat-card-title>Load Chemical Structure</mat-card-title>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center">
        <mat-form-field class="full-width-field" *ngIf="resolverService.resolverIsUp else resolverIsDown">
          <input matInput placeholder="Input a Compound Name, SMILES, UNII, Chembl ID, etc."
                 [formControl]="resolverCtrl" (change)="resolveCompound($event)">
        </mat-form-field>
        <ng-template #resolverIsDown>
          <mat-icon [color]="'accent'" class="help-icon">info</mat-icon>
          Error connecting to NCATSFind service. You can still input structures via the Sketcher, or the Query SMILES field.
        </ng-template>
      </div>
      <div class="resolver-results" *ngIf="resolverResults.hasOwnProperty('smiles')">
        NCATSFind Results
        <ul>
          <li *ngFor="let item of this.resolverResults | keyvalue" [ngClass]="{bold: item.key === 'smilesParent'}">
            {{item.key}}: {{item.value}}
          </li>
        </ul>
      </div>
    </mat-card>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" class="sketcher-row" id="sketcher-row">
      <div fxFlex="100">
        <mat-card>
          <app-sketcher></app-sketcher>
        </mat-card>
      </div>
    </div>
    <mat-card id="smiles-card">
      <mat-card-title>Query SMILES</mat-card-title>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center">
        <mat-form-field class="full-width-field">
          <input matInput placeholder="structure" [formControl]="smilesCtrl" (change)="smilesChanged($event)">
        </mat-form-field>
      </div>
    </mat-card>

    <div class="card-list">
      <ng-container>
        <mat-card id="similar-structure-search">
          <mat-card-content class="linkContainer" fxLayout="column" fxLayoutAlign="space-around center">
          <span class="mat-title">
            Find Similar Structures
          </span>
            <div fxFlex="1"></div>
            <div class="toolImage">
              <img [src]="'./assets/affiliates/structure search.png'" width="100%" alt="Perform a structure based search for ligands"/>
            </div>
            <div fxFlex="1"></div>
            <div class="toolDescription">
              Find similar structures, based on a Lucene index of all the ligands in TCRD. Search for ligands that match the whole query structure using a 'Similarity' search, or ligands that contain the query structure as part of the whole, using a 'Substructure' search.
            </div>
            <div class="toolLinkButton" id="search-method">
              <mat-form-field class="full-width-field">
                <mat-select [formControl]="typeCtrl" (valueChange)="typeChanged($event)">
                  <mat-option [value]="'sub'">Substructure</mat-option>
                  <mat-option [value]="'sim'">Similarity</mat-option>
                </mat-select>
              </mat-form-field>
            </div><div class="toolLinkButton">
            <div></div>
              <button [disabled]="!smilesCtrl.value || (smilesCtrl.value.length === 0)"
                      class="tool-button" mat-raised-button [color]="'primary'"
                      (click)="searchLigands()">Search
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-container>
        <mat-card id="predicted-targets-search">
          <mat-card-content class="linkContainer" fxLayout="column" fxLayoutAlign="space-around center">
          <span class="mat-title">
            Find Predicted Targets
          </span>
            <div fxFlex="1"></div>
            <div class="toolImage">
              <img [src]="'./assets/affiliates/ncats-predictor.png'" width="100%" alt="Find targets predicted to interact with the query structure"/>
            </div>
            <div fxFlex="1"></div>
            <div class="toolDescription">
              Find targets predicted to have an activity against the query structure, based on a set of
              Quantitative structure-activity relationship (QSAR) models. See
              <a href="https://predictor.ncats.io/predictor/" target="_blank" rel="noopener noreferrer">NCATS Predictor</a> for details, or to download datasets and models.
            </div>
            <div fxFlex="1"></div>
            <div class="toolLinkButton">
              <div></div>
              <button [disabled]="!smilesCtrl.value || (smilesCtrl.value.length === 0)"
                      class="tool-button" mat-raised-button [color]="'primary'"
                      (click)="searchTargets()">Search
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
