<mat-sidenav-container class="upperSection">
  <button type="button" class="sidenavToggle" mat-raised-button [color]="'accent'" (click)="sidenav.toggle()">
    Filter Graph <mat-icon>filter_list</mat-icon>
  </button>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true" >
    <!-- sidenav content -->
    <pharos-topic-graph-filters
      (resetGraphEmitter)="reset()"
      (pathBuildEmitter)="togglePathBuilder($event)"
      (confidenceChange)="filterConfidence($event)"
      (filterSelectionChange)="filterGraph($event)">
    </pharos-topic-graph-filters>
  </mat-sidenav>

  <div class="info-panel" [ngClass]="{'sidenav-opened': sidenav.opened === true }">
    <app-node-details-box [node]="hoveredNode" [link]="hoveredLink"></app-node-details-box>
  </div>
  <!-- primary content -->
  <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
    <img class="spinner rotating" alt="loading..."  src="./assets/images/pharos_spinner.svg">
  </div>
  <div class = "smartgraph-fdg">
    <smrtgraph #smrtgraph
      [graph] = graph
      (nodeEvents)="nodeEvents($event)"
      (linkEvents)="linkEvents($event)"
               (svgEvents)="svgClicked($event)"
      *ngIf="graph"></smrtgraph>
    <pharos-node-menu-popup>
      <h3 class="title">{{selectedNode?.name}}</h3>
      <div class="items">
        <p *ngIf = "selectedNode?.kind === 'ix.idg.models.Disease' || selectedNode?.kind ==='ix.idg.models.Ligand'"
           (click)="itemSelected('allTargets')">Expand All Targets</p>
          <div *ngIf = "selectedNode?.kind === 'ix.idg.models.Disease' || selectedNode?.kind ==='ix.idg.models.Ligand'">
        <p (click)="itemSelected('Tdark')">Expand Tdark</p>
        <p (click)="itemSelected('Tbio')">Expand Tbio</p>
          <p (click)="itemSelected('Tchem')">Expand Tchem</p>
          <p (click)="itemSelected('Tclin')">Expand Tclin</p>
        </div>
        <p *ngIf = "selectedNode?.kind === 'ix.idg.models.Target'"
          (click)="itemSelected('disease')">Expand Diseases</p>
        <p *ngIf = "(selectedNode?.kind === 'ix.idg.models.Target' &&
        (selectedNode?.idgTDL === 'Tclin' || selectedNode?.idgTDL === 'Tchem' ))"
           (click)="itemSelected('ligand')">Expand Ligands</p>
      </div>
    </pharos-node-menu-popup>
  </div>
</mat-sidenav-container>

