<mat-sidenav-container class="upperSection">
  <button type="button" class="sidenavToggle" mat-raised-button [color]="'accent'" (click)="sidenav.toggle()">
    Filter Graph <mat-icon>filter_list</mat-icon>
  </button>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true" >
    <!-- sidenav content -->
    <pharos-topic-graph-filters
      (confidenceChange)="filterConfidence($event)"
      (filterSelectionChange)="filterGraph($event)"></pharos-topic-graph-filters>
  </mat-sidenav>

  <div class="info-panel" [ngClass]="{'sidenav-opened': sidenav.opened === true }">
    <app-node-details-box [node]="hoveredNode" [link]="hoveredLink"></app-node-details-box>
  </div>
  <!-- primary content -->
  <div *ngIf="loading" class = "loadingIcon" fxLayoutAlign="center center">
    <img class="spinner rotating" alt="loading..."  src="./assets/images/pharos_spinner.svg">
  </div>
  <div class = "smartgraph-fdg">
    <smrtgraph #smrtgraph
      [graph] = graph
      (nodeEvents)="nodeEvents($event)"
      (linkEvents)="linkEvents($event)"
      *ngIf="graph"></smrtgraph>
  </div>
</mat-sidenav-container>

