mat-sidenav {
  width: 20vw;
}

.sidenavToggle{
  position: absolute !important;
}

.info-panel {
  // height: 50%;
 // max-width: 20%;
  width: 20%;
  background-color: rgba(255, 255, 255, .6);
  border: #f1f1f1 1px solid;
  position: absolute;
  left: 75vw;
  top: 5vh;
}

.info-panel.sidenav-opened {
  left: 55vw;
}

.smartgraph-fdg {
  height: 70vh;
/*  height: 100%;

  overflow: visible;*/
}

.mat-drawer-content {
  overflow: visible;
}

@media only screen and (max-width: 960px) {
  mat-sidenav {
    width: 50vw;
  }

  .info-panel {
    height: 50%;
    width: 30%;
    right: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  mat-sidenav {
    width: 80vw;
  }

  .info-panel {
    height: 60%;
    width: 40%;
  }
}

