.topic-header{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2.1vw;
  font-weight: 300;
}

.pharos-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255,255,255,.9);
}

/*
  pins to bottom by stretching the middle
 */
.pharos-card-spacer{
  flex: 1 0 auto;
}

.divider {
  height: 10vh;
  border-right: rgba(0, 0, 0, .2) 1px solid;
  margin-left: 1vw;
  margin-right: 1vw;
}

.toi-link {
  cursor: pointer;
}

.counter {
  font: 300 3vw Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
}

.counter-type {
  font: 400 18px/28px Roboto, "Helvetica Neue", sans-serif;
}
