.topic-header{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2.1vw;
  font-weight: 300;
}

.pharos-card {
  background-color: rgba(255,255,255,.9);
}

.divider {
  height: 10vh;
  border-right: rgba(0, 0, 0, .2) 1px solid;
  margin-left: 1vw;
  margin-right: 1vw;
}

.toi-link {
  cursor: pointer;
}

.counter {
  font: 300 3vw Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: -0.05em;
}

.counter-type {
  font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
}
