/*.toi-row {
  height: 100vh;
}*/

.spacer {
  height: 20vh;
}

.background {
  position: absolute;
  height: 105vh;
  width: 100vw;
  opacity: .6;
  transform: rotate(180deg);
}

.background-mobile {
  position: fixed;
  opacity: .6;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
