
<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="95">
    <div fxLayout="row">
      <p class="explanation">
        Target has at least one ChEMBL compound with an activity cutoff of
        <span *ngIf="target.idgFamily !== 'kinase'; else otherFamily">< 30 nM </span>
        <ng-template #otherFamily>
          <span>< 100nM</span>
        </ng-template>

        <span class="centered">- AND -</span>
        satisfies the preceding conditions</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon *ngIf="target?.idgTDL !='Tchem' && target?.idgTDL != 'Tclin'"
        class="disabled-icon"
        [color]="'accent'">check_circle
      </mat-icon>
      <mat-icon *ngIf="target?.idgTDL ==='Tchem' || target?.idgTDL === 'Tclin'"
        [color]="'accent'">check_circle
      </mat-icon>
      &nbsp;&nbsp;
      <span class='mat-body-2'>
      Active Ligand<span *ngIf="data.ligands && data.ligands.length>1">s</span>: {{data.ligands ? data.ligands.length : 0}}
 </span>
    </div>
    <br>
    <div fxLayout="row">
      <mat-progress-bar
        class = "tdl-progress"
        mode="determinate"
        [value]="target.idgTDL ==='Tchem' || target.idgTDL ==='Tclin' ? 100 : 0"
      ></mat-progress-bar>
    </div>
  </div>
</div>
