
// Import your custom theme
@import '../../../../../../partials/ncats-theme';

.breadcrumb {
  margin-bottom: 2vh;
}

.breadcrumb-link {
  text-decoration: none;
  color: mat-color($pharos-app-primary)
}

.link-list{
  margin-left: 2vw;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: mat-color($pharos-app-primary, 300)
}

.slash {
  padding-left: 1vw;
  padding-right: 1vw;
}

.class-title{
  max-width: 200px;
  padding-top: 16px;
  margin-bottom: 0px;
}

.source-group{
  display: flex;
  flex-direction: column;
}
