
// Import your custom theme
@import './src/ncats-theme.scss';

.breadcrumb {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.breadcrumb-link {
  text-decoration: none;
  color: mat-color($pharos-app-primary)
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: mat-color($pharos-app-primary, 300)
}

.slash {
  padding-left: 1vw;
  padding-right: 1vw;
}
