:host {
  grid-column: 2 / span 2;
}

.full-height {
  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media only screen and (max-width: 768px) {
  :host {
    grid-column: 1 / span 3;
  }
  .headerSection {
    flex-direction: column;
  }
}
