<div class="full-height">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row"
           fxLayout.lt-md="column"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
         Target Relevance</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin] = "'relatedTargets'" [label]="'Target Relevance'"></pharos-help-panel-trigger>
        </div>
      </div>
<pharos-generic-table [data]="tableArr" [fieldsConfig]="fields"></pharos-generic-table>
    </mat-card-content>
  </mat-card>
</div>
