:host {
  grid-column: 2 / span 2;
}

.full-height {
  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  :host {
    grid-column: 1 / span 3;
  }
}

.table-paginator-row{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
