.profile-section {
  text-align: center;
}

.menu-container {
  background-color: transparent;
}

.ncats-toolbar {
  z-index: 666;
}

.ncats-toolbar.animationOut button {
  color: white;
}

header {
  position: fixed;
  z-index: 555;
  width: 100%;
}

.profile-pic {
  height: 45px;
  margin: 15px 5px -15px 5px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-button {
  margin-right: 1vw;
  margin-left: 1vw;
  text-align: center;
}

.share-button {
  margin-right: 10vw;
  text-align: center;
}


.user-name {
  font-size: 12px;
  display: block;
  cursor: pointer;
}

.profile-loading-spinner {
  height: 50px;
  margin-top: 7px;
}

img.pharos-logo {
  height: 100%;
  cursor: pointer;
}

.header-search {
  width: 45%;
}

pharos-search-component {
  width: 25vw;
}

.active {
  text-decoration: underline;
}

.mobile-menu-panel {
  color: black;
  width: 65vw;
}

button.nav-menu-button.mat-button {
  width: 100%;
}

.mobile-search > .searchrow {
  margin-left: 5vw;
}

@media only screen and (max-width: 960px) {
  .menu-button {
    position: absolute;
    right: 15px;
  }

  .profile-pic {
    margin-bottom: 5px;
  }

  .mobile-menu-panel {
    padding-top: 10vh;
    padding-left: 4vw;
  }
}

.tutorial-link {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.tutorial-link mat-icon {
  margin-left: 10px;
}

/* Your component's CSS file or inline styles */
.vertical-button {
  display: block;
  width: 100%;
  text-align: left;
}

