.ncats-toolbar {
  position: fixed;
}

img.pharos-logo {
  height: 100%;
  cursor: pointer;
}

.header-search {
  width:15%;
}

.ncats-toolbar {
  z-index: 6667;
}

.mobile-menu-container {

}


.mobile-menu-panel{
  color: black;
  height: 100vh;
  width:65vw;
}

button.nav-menu-button.mat-button {
  width: 100%;
}

.mobile-search > .search-row {
  margin-left: 5vw;
}

@media only screen and (max-width: 960px) {
  .menu-button {
    position: absolute;
    right: 15px;
  }
}
