<div id ="hhs-banner" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" [fxHide.lt-sm]="true">
    <img src="./assets/images/nihribbon-hhs.svg" alt="HHS Logo">
  <a href="http://www.hhs.gov/" title="Go to the hhs.gov"target="_blank">U.S. Department of Health &amp; Human Services</a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NIH logo">
  <a href="http://www.nih.gov/" title="National Institutes of Health | Homepage"target="_blank">National Institutes of Health</a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NCATS">
  <a href="http://www.ncats.nih.gov" target="new">NCATS</a>
</div>
<mat-toolbar>
  <img src="./assets/images/Pharos_Logo_Rd8.svg" routerLink="/index" alt="Pharos logo" class="pharos-logo">
  <div fxFlex = "20" id="links" [fxHide.lt-sm]="true">
    <a mat-button routerLink="/targets">Targets</a>
    <a mat-button routerLink="/diseases">Diseases</a>
    <a mat-button routerLink="/targets">Ligands</a>
    <a mat-button routerLink="/topics">Topics</a>
    <a mat-button routerLink="/targets">API</a>
    <a mat-button routerLink="/targets" [matMenuTriggerFor]="helpMenu">Help<mat-icon>arrow_drop_down</mat-icon></a>
    <mat-menu #helpMenu="matMenu">
      <button mat-menu-item>General information</button>
      <button mat-menu-item>Frequently asked questions</button>
      <button mat-menu-item>Download TCRD</button>
      <button mat-menu-item><a href="https://www.youtube.com/channel/UCr5BtMcSjL7C4jwCEJOCKGg" target="_blank">Video tutorials</a></button>
      <button mat-menu-item>About</button>
    </mat-menu>
  </div>
  <span class="fill-remaining-space"></span>
  <div fxFlex fxLayoutAlign="end center" >

    <button mat-icon-button routerLink="search" (click)= "search()" [fxHide.lt-sm]="true"><mat-icon>search</mat-icon></button>
    <button mat-button [mat-menu-trigger-for]="appMenu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/targets">Targets</button>
      <button mat-menu-item routerLink="/targets">Diseases</button>
      <button mat-menu-item routerLink="/targets">Ligands</button>
      <button mat-menu-item routerLink="/targets">API</button>
      <button mat-menu-item routerLink="/targets" [matMenuTriggerFor]="helpMenuMobile">Help</button>
      <button mat-menu-item routerLink="search">Search</button>
    </mat-menu>
    <mat-menu #helpMenuMobile ="matMenu">
      <button mat-menu-item>General information</button>
      <button mat-menu-item>Frequently asked questions</button>
      <button mat-menu-item>Download TCRD</button>
      <button mat-menu-item><a href="https://www.youtube.com/channel/UCr5BtMcSjL7C4jwCEJOCKGg" target="_blank">Video tutorials</a></button>
      <button mat-menu-item>About</button>
    </mat-menu>
  </div>
</mat-toolbar>
