.ncats-toolbar {
  position: fixed;
}

.profile-section {
  text-align: center;
}

.profile-pic {
  height: 45px;
  margin: 15px 5px -15px 5px;
  border-radius: 50px;
}

.menu-button {
  margin-right: 1vw;
  margin-left: 1vw;
  text-align: center;
}

.share-button {
  margin-right: 10vw;
  text-align: center;
}


.user-name {
  font-size: 12px;
  display: block;
}

.profile-loading-spinner {
  height: 50px;
  margin-top: 7px;
}

img.pharos-logo {
  height: 100%;
  cursor: pointer;
}

.header-search {
  width:25%;
}

.ncats-toolbar {
  z-index: 6667;
}

.mobile-menu-container {

}

.active {
  text-decoration: underline;
}


.mobile-menu-panel{
  color: black;
 // height: 100vh;
  width:65vw;
}

button.nav-menu-button.mat-button {
  width: 100%;
}

.mobile-search > .search-row {
  margin-left: 5vw;
}

@media only screen and (max-width: 960px) {
  .menu-button {
    position: absolute;
    right: 15px;
  }

  .profile-pic {
    margin-bottom: 5px;
  }
}
