<mat-card #targetWordCloud
          class="section-card"
          id="targetWordCloud">
  <mat-card-content>
    <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
      <img alt="loading..." class="spinner rotating" src="../../../../../../assets/images/pharos_spinner.svg">
    </div>
    <span class="mat-title"
          [matTooltip]="getTooltip('wordcloud')"
          [matTooltipClass]="'pharos-tooltip'">Common Terms from Abstracts
    </span>
    <mat-card-subtitle>{{cloudData.length}} terms from up to 100 abstracts, scaled by the log of how many times they are mentioned.</mat-card-subtitle>
    <pharos-word-cloud [data]="cloudData"></pharos-word-cloud>
  </mat-card-content>
</mat-card>
