<ng-template #nodata>
  <mat-card id={{field}}
            class="section-card"
            (pharosScrollspy)="active(field)"
            #tiga>
    <mat-card-content>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      No GWAS targets found
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #headerrow>
  <pharos-component-header [description]="description" [field]="field"
                           [headerText]="'GWAS Targets (' + (disease?.gwasAnalytics?.associations.length || 0) + ')'"></pharos-component-header>
</ng-template>
<article>
  <mat-card id={{field}}
            class="section-card"
            *ngIf="data && (disease?.gwasAnalytics?.associations.length > 0); else nodata"
            (pharosScrollspy)="active(field)"
            #tiga>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <pharos-generic-table fxHide.lt-md
                            [useInternalPaginator]="true" [data]="diseaseProps.gwasAnalytics.associations"
                            [fieldsConfig]="fields" [defaultPageSize]="5">
        <ng-container *ngTemplateOutlet="innerLinks"></ng-container>
      </pharos-generic-table>
      <pharos-generic-table fxHide.gt-sm
                            [useInternalPaginator]="true" [data]="diseaseProps.gwasAnalytics.associations"
                            [fieldsConfig]="shortFields" [defaultPageSize]="5">
        <ng-container *ngTemplateOutlet="innerLinks"></ng-container>
      </pharos-generic-table>
      <ng-template #innerLinks>
        <ul class="link-list">
          <li>
            <ncats-property-display class="mat-title" [showLabel]="false"
                                    matTooltip="Explore on Target Illumination GWAS Analytics (TIGA)"
                                    matTooltipClass="pharos-tooltip"
                                    matTooltipPosition="after"
                                    [property]="{term:'Explore on Target Illumination GWAS Analytics (TIGA)', externalLink:'https://unmtid-shinyapps.net/shiny/tiga/?trait=' + disease.gwasAnalytics.efoID}">
            </ncats-property-display>
          </li>
          <li>
            <ncats-property-display class="mat-title"
                                    matTooltip="Trait Definition"
                                    matTooltipClass="pharos-tooltip"
                                    matTooltipPosition="after"
                                    [property]="diseaseProps.gwasAnalytics.trait">
            </ncats-property-display>
          </li>
        </ul>
      </ng-template>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="95" class="scatter-plot-holder">
          <pharos-scatter-plot [svgID]="'gwas-disease-analytics-svg'" [dataSets]="scatterPlotData"></pharos-scatter-plot>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>
