<article class="container">
  <mat-card
            id="target-disease-cross"
            #targetDiseaseCross>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          {{title}}</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'classes'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div *ngIf="results?.length === 10000">
        <mat-card-subtitle>Note</mat-card-subtitle>
        <p>The current results are limited to the first 10,000 pairs of {{model}}s and {{crossModel}}s. Either filter
          your list further, or download the full result set for offline analysis.
        </p>
      </div>
      <div class="heatmap-container" [ngClass]="{halfHeight: showDetails}">
        <pharos-heat-map [heatmapClicked]="heatmapClicked.bind(this)" [heatmapData]="activityMap" #heatMap></pharos-heat-map>
      </div>
      <div class="details-container" [ngClass]="{hidden: !showDetails}">
        <mat-card>
          <div class="details-card">
            <mat-card-title>
              Details: {{selectedData?.metadata.displayY}} - {{selectedData?.metadata.displayX}}
            </mat-card-title>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="showDetails = false">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <ng-content></ng-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</article>
