
.association-grid {
  width: 100%;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  grid-gap: 1em;
  padding-left: 1vw;
}

@-moz-document url-prefix() {
  .association-grid li{
    list-style: none;
  }
}
