<div *ngIf="property">
  <span class="" *ngIf="showLabel"
        [matTooltipClass]="'pharos-tooltip'"
        [matTooltip]="property.tooltip || property.label"><b>{{property.label}}:&nbsp;</b></span>
<ng-container
  *ngIf="property.internalLink || property.externalLink || property.href || property.linkCallback; then link; else nolink">
</ng-container>

<ng-template #link>
  <ng-container *ngIf="property.internalLink">
    <a [routerLink] = property.internalLink [queryParams]="property?.queryParams" [matTooltipClass]="'pharos-tooltip'"
       [matTooltip]="property.tooltip">{{property.term}}</a>
  </ng-container>
  <ng-container *ngIf="!property.internalLink && property.externalLink || property.href" #externalLink>
    <a href="{{property.externalLink || property.href}}"
       target="_blank" rel="noreferrer"
       aria-label= 'View more information. This link opens in a new tab.'
              class="external-link">{{property.term}}<mat-icon [inline]="true">open_in_new</mat-icon></a>
  </ng-container>
  <ng-container *ngIf="property.linkCallback">
    <a (click)="property.linkCallback(property.term)">{{property.term}}</a>
  </ng-container>
</ng-template>
<ng-template #nolink>
  <ng-container *ngIf="termIsTable(); else text">
    <div class="contingencyTable">
      <div class="leftBracket"></div>
      <div class="tableColumn">
        <span matTooltip="Count of elements IN the list that DO have the filter value">{{property.term['inListHasValue']}}</span>
        <span matTooltip="Count of elements IN the list that DO NOT have the filter value">{{property.term['inListNoValue']}}</span>
      </div>
      <div class="tableColumn">
        <span matTooltip="Count of elements NOT IN the list that DO have the filter value">{{property.term['outListHasValue']}}</span>
        <span matTooltip="Count of elements NOT IN the list that DO NOT have the filter value">{{property.term['outListNoValue']}}</span>
      </div>
      <div class="rightBracket"></div>
    </div>
  </ng-container>
  <ng-template #text>
    <span *ngIf="property.innerHTML; else normal" [innerHTML]="property.innerHTML"></span>
    <ng-template #normal>
      {{property.term}}
    </ng-template>
  </ng-template>
</ng-template>
</div>
