.upload-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 95%;
}

.upload-form-content {
  flex: 1 0 auto;
}

.full-width {
  width: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section{
  width: 50%;
}

.action-container {
  display: flex;
  justify-content: flex-end;
}

.helpicon{
  cursor: pointer;
  display: flex;
}
.helptext {
  font-size: smaller;
  opacity: 0.5;
}
