<div fxLayout="row" *ngIf="loaded" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start" class="vis-row">
  <div fxFlex="50"  *ngIf=donutData>
    <pharos-donut-chart [data]= donutData.values (clickSlice)="filterDonutChart($event)"></pharos-donut-chart>
    <pharos-visualization-options (fieldChange)="changeDonutChart($event)" [facets] = chartFacets.donut></pharos-visualization-options>
  </div>
<!--  <div fxFlex="30">
    &lt;!&ndash;
        <pharos-sunburst-chart [data]=data></pharos-sunburst-chart>
    &ndash;&gt;
&lt;!&ndash;
    <pharos-visualization-options [facets] = chartFacets.sunburst></pharos-visualization-options>
&ndash;&gt;
  </div>
  <div fxFlex="30"></div>-->
</div>
