@use '@angular/material' as mat;
@import '../../../../partials/ncats-theme';

.reset-holder {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.d3-scatter-chart {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.d3-scatter-chart svg {
  padding-top: 1vh;
  padding-bottom: 5vh;
  padding-left: 1vw;
}

.line-tooltip {
  position: absolute;
  text-align: start;
  padding: 2px;
  font: 16px sans-serif;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid #f1f1f1;
  pointer-events: none;
  z-index: 66666;
}

pharos-scatter-plot {
  .domain {
    stroke: none;
  }

  .axisLine {
    stroke: black;
    stroke-width: 2px;
  }
  .tick line {
    stroke-opacity: 0.1;
  }

  .domain {
    stroke-opacity: 1;
  }

  .tick > text {
    font-size: 14px;
  }

  .xaxis > .tick > text {
    transform: translate(-15px, 6px) rotate(-45deg)
  }
}

.axis-label {
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
}

.tooltip-label {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

.line {
  fill: none;
  stroke-width: .5px;
}

.highlight-point {
  fill: mat.get-color-from-palette($pharos-app-accent);
  stroke: red;
  stroke-opacity: 1;
  r: 5px;
}

.highlight-point-hover {
  r: 7px;
}

.y-axis-selector {
  padding-left: 20px;
}
