
.d3-scatter-chart {
  margin: 0 auto;
  min-height: 20vh;
  min-width: 60vw;
  width: 100%;
}

.d3-scatter-chart svg {
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
}

.line-tooltip {
  position: absolute;
  text-align: start;
  padding: 2px;
  font: 16px sans-serif;
  background-color: rgba(255,255,255,.9);
  border: 1px solid #f1f1f1;
  pointer-events: none;
  z-index: 666;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.05;
}

.axis-label {
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
}

.tooltip-label {
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}


.line {
  fill: none;
  stroke: red;
  stroke-width: .5px;
}

.voronoi-path {
  fill: none;
  pointer-events: all;
}

.xaxis > .tick > text {
  transform: translate(-15px, 6px)rotate(-45deg)
}


