<div class="reset-holder">
  <button mat-flat-button (click)="reset()" [color]="'primary'">Reset{{width < 500 ? '' : ' Zoom'}}</button>
  <mat-radio-button class="y-axis-selector"
                    *ngFor="let dS of dataSets"
                    [name]="dS.options.yLabel"
                    [value]="dS.options.yLabel"
                    (change)="changeDataSet($event)"
                    [checked]="dS.selected">
    {{dS.options.yLabel}}
  </mat-radio-button>
  <div class="help-row" [matTooltip]="'Select a point on the scatter plot, or a circle on the circle plot to change the highlighting.'">
    <mat-icon>highlight</mat-icon>
    <span *ngIf="focusedElement && focusedElement.name">
      <label>Highlight:</label><b> {{this.focusedElement?.name}} ({{this.focusedElement?.oid}})</b>
    </span>
    <span *ngIf="!focusedElement || !focusedElement.name">
      <label>Highlight:</label><b> none</b>
    </span>
  </div>
</div>
<div class="d3-scatter-chart" #scatterPlotDiv></div>
