// Import theming functions
@use '@angular/material' as mat;
// Import your custom theme
@import '../../../partials/ncats-theme';

.typeahead-field {
  width: 90%;
}

span.search-highlight {
  font-weight: 900;
  color: mat.get-color-from-palette($pharos-app-primary);
  text-decoration: underline;
}

.search-label {
  color: rgba(0,0,0,.54);
}
