<div class="searchrow">
  <mat-form-field class="typeahead-field search" [floatLabel]="'never'">
    <input matInput
           (keyup.enter)="search($event)"
           aria-label="Search"
           [matAutocomplete]="auto"
           [formControl]="typeaheadCtrl"
           class="input-field" #typeaheadTarget>
    <mat-label class="search-label">{{placeholderStr}}</mat-label>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search($event)" [panelWidth]="fixedwidthDropdown ? '500px' : ''">
      <ng-container *ngIf="typeaheadCtrl.value && typeaheadCtrl.value.length > 2 && !detailsOnly">
        <mat-option [value]="{text: typeaheadCtrl.value, extra: {path: 'search', parameter: 'q', value: typeaheadCtrl.value}}">
          <mat-icon>search</mat-icon>
          Search Pharos for '{{typeaheadCtrl.value}}'
        </mat-option>
      </ng-container>
      <mat-option *ngFor="let g of filteredGroups | async" [matTooltip]="getTooltip(g)"
        [value]="{text: typeaheadCtrl.value, extra: g}">
        <ng-container *ngIf="autocompleteOption.isDetailsPage(g); else dynamic">
          <mat-icon>description</mat-icon>
          <span [innerHTML]="g.value | highlight : typeaheadCtrl.value"></span>
          <span> ({{g.path.slice(0,-1) | titlecase}})</span>
        </ng-container>
        <ng-template #dynamic>
          <mat-icon>list</mat-icon>
          <ng-container *ngIf="g.parameter === 'collection'">
            <span [innerHTML]="g.value  | highlight : typeaheadCtrl.value"></span>
            <span> ({{g.path.slice(0,-1) | titlecase}} Collection)</span>
          </ng-container>
          <ng-container *ngIf="g.reference_id && g.parameter !== 'collection'">
            <span [innerHTML]="g.value  | highlight : typeaheadCtrl.value"></span>
            <span> (Associated {{g.path | titlecase}})</span>
          </ng-container>
          <ng-container *ngIf="!g.reference_id && g.parameter !== 'collection'">
            <span [innerHTML]="g.value  | highlight : typeaheadCtrl.value"></span>
            <span> ({{g.facet}})</span>
          </ng-container>
        </ng-template>
      </mat-option>
    </mat-autocomplete>
    <button mat-button mat-icon-button matSuffix aria-label="search" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
