// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../../partials/ncats-theme';

.typeahead-field {
  width: 90%;
}

span.search-highlight {
  font-weight: 500;
  color: mat-color($pharos-app-primary);
  text-decoration: underline;
}

.search-label {
  color: rgba(0,0,0,.54);
}
