<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center" class="body-row">
  <div fxFlex="30">
<pharos-summary-panel></pharos-summary-panel>
  </div>
  <div fxFlex="30">
  <pharos-disease-sources-panel [target]=target></pharos-disease-sources-panel>
  </div>
  <div fxFlex="30">
  <pharos-knowledge-panel></pharos-knowledge-panel>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around center" class="body-row">
<div fxFlex="95">
  <pharos-references-panel [data] = references></pharos-references-panel>
</div>
</div>
