@import '../node_modules/@angular/material/theming';
@include mat-core();


$ncats-primary: (
  50 : #ece6ed,
  100 : #d1c1d3,
  200 : #b297b6,
  300 : #936d98,
  400 : #7b4e82,
  500 : #642f6c,
  600 : #5c2a64,
  700 : #522359,
  800 : #481d4f,
  900 : #36123d,
  A100 : #e97aff,
  A200 : #e147ff,
  A400 : #d914ff,
  A700 : #d100f9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$ncats-secondary: (
  50 : #e5ebed,
  100 : #beccd2,
  200 : #93abb4,
  300 : #678995,
  400 : #476f7f,
  500 : #265668,
  600 : #224f60,
  700 : #1c4555,
  800 : #173c4b,
  900 : #0d2b3a,
  A100 : #74ceff,
  A200 : #41bcff,
  A400 : #0eaaff,
  A700 : #009ef4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$pharos-primary: (
  50 : #e5e7ea,
  100 : #bdc3ca,
  200 : #919ba7,
  300 : #657283,
  400 : #445469,
  500 : #23364e,
  600 : #1f3047,
  700 : #1a293d,
  800 : #152235,
  900 : #0c1625,
  A100 : #639dff,
  A200 : #307dff,
  A400 : #005dfc,
  A700 : #0054e3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$pharos-secondary: (
  50 : #fff6eb,
  100 : #ffe8cd,
  200 : #ffd9ac,
  300 : #ffc98b,
  400 : #ffbe72,
  500 : #ffb259,
  600 : #ffab51,
  700 : #ffa248,
  800 : #ff993e,
  900 : #ff8a2e,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe9da,
  A700 : #ffdac0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

html, body {
  height: 100%;
  margin: 0;
  background-color: #f7f7f7;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.pharos-main{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.primary {
  color: #23364e;
}

.primary-background {
  background-color: #23364e;
  color: #ffffff;
}

.accent {
  color: #ffb259;
}

.accent-background {
  background-color: #ffb259;
  color: #000000;
}

$ncats-app-primary: mat-palette($ncats-primary);
$ncats-app-accent:  mat-palette($ncats-secondary);
$pharos-app-primary:  mat-palette($pharos-primary);
$pharos-app-accent:  mat-palette($pharos-secondary);

$ncats-app-warn:    mat-palette($mat-red);

$ncats-app-theme: mat-light-theme($pharos-app-primary, $pharos-app-accent, $ncats-app-warn);

@include angular-material-theme($ncats-app-theme);
