/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 100px;
}

footer {
  margin: auto auto 0 auto;
}
