/* You can add global styles to this file, and also import other style files */
@import './ncats-theme';
@import '~katex/dist/katex.css';


html, body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pharos-main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: mat-color($pharos-app-primary);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
 // font-weight: 500;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.tbio{
  background-color: mat-color($pharos-app-accent);
  color: black;
}

.tdark {
  background-color: mat-color($ncats-app-warn);
  color: white;
}

.tchem {
  background-color: #5bc0de;
  color: black;
}

.tclin {
  background-color: #337ab7;
  color: white;
}

.inline-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.inline-list li {
  padding-right: 10px;
}

.section-card {
  margin-bottom: 2vh;
}

.width5 {
  max-width: 5%;
}

.width10 {
  max-width: 10%;
}

.width15 {
  max-width: 15%;
}

.width25 {
  max-width: 25%;
}

.width50 {
  max-width: 50%;
}

.width75 {
  max-width: 75%;
}

.width80 {
  max-width: 80%;
}

.width85 {
  max-width: 85%;
}

.full-height-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

pharos-custom-paginator.mat-paginator {
  background: transparent !important;
}

.loadingIcon {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  color:#642F6C;
  z-index: 666;
}

