/* You can add global styles to this file, and also import other style files */
@import './partials/ncats-theme';


html, body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
 // height: 100%;
}

body {
  margin: 0;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  flex-direction: column;
  box-sizing: border-box;
}

header, nav, main, footer, article, section, aside {
  display:block;
}

a {
  color: mat-color($pharos-app-primary);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
 // font-weight: 500;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.pharos-title {
  font: 400 3rem/3rem Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 3rem;
  letter-spacing: -0.02em;
}

.pharos-headline {
  font: 300 1.5rem/1.5rem Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 3rem;
  letter-spacing: -0.02em;
}

.tbio{
  background-color: mat-color($pharos-app-accent);
  color: black;
}

.tdark {
  background-color: mat-color($ncats-app-warn);
  color: white;
}

.tchem {
  background-color: #5bc0de;
  color: black;
}

.tclin {
  background-color: #337ab7;
  color: white;
}

.inline-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.inline-list li {
  padding-right: 10px;
}

.section-card {
  margin-bottom: 2vh;
}

.full-height-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.paginator-row {
  background-color: #ffffff;
  padding-left: 16px;
}

/*pharos-custom-paginator.mat-paginator {
  background: transparent !important;
}*/

.loadingIcon {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  color:#642F6C;
  z-index: 666;
}

.mat-tooltip.pharos-tooltip {
    font-size: .8rem;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.spinner{
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.modellist-header {
  font: 400 34px/40px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 0;
}

.circleUpset.inGroup {
  fill: mat-color($pharos-app-primary);
}

.circleUpset.inGroup:hover,.circleUpset.inGroup.hovered {
  fill: mat-color($pharos-app-accent);
}

.circleUpset.outGroup {
  fill: silver;
}

.shepherd-button.shepherd-button-primary,.shepherd-button.shepherd-button-primary:not(:disabled):hover {
  background-color: mat-color($pharos-app-primary);
  color: white;
}

.mat-menu-panel.tutorialMenu {
  max-width: 380px !important;
}
