/* You can add global styles to this file, and also import other style files */
@import './ncats-theme';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.flex-body{
  flex: 1;
}

.tbio{
  background-color: mat-color($pharos-app-accent);
  color: black;
}

.tdark {
  background-color: mat-color($ncats-app-warn);
  color: white;
}

.tchem {
  background-color: #5bc0de;
  color: black;
}

.tclin {
  background-color: #337ab7;
  color: white;
}

