
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start" class="search-content">
  <div fxFlex="75" fxFlex.lt-sm="90">
    <div fxLayout="row" class ="header-row">
    <div class="section-header active">Protein Sequence Search</div>
    </div>
    <div fxLayout="row" >
      <div fxFlex="100">
        <mat-form-field class="full-width-field">
          <textarea matInput placeholder="Query Sequence" [formControl]="sequenceCtrl" [rows]="5"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="85" class="buttons-row">
        <button mat-raised-button [color]="'primary'" [disabled]="sequenceCtrl.value.length === 0" (click)="search()">
          Explore Matching Targets <mat-icon>search</mat-icon></button>
      </div>
    </div>
  </div>
</div>

