@import '../../partials/ncats-theme';

.search-content {
  display: flex;
  min-height: 75vh;
  padding-top: 75px;
}

.full-width-field {
  width: 100%;
}

.section-header {
  font: 300 2.5rem Roboto, "Helvetica Neue", sans-serif;
  padding-left: 1vw;
}

.active {
  border-left: 8px solid mat-color($pharos-app-primary);
}

.header-row {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.slider-label {
  display: block;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0,0,0, .6);
}

.identity-slider {
  width: 100%;
}
