<mat-card *ngIf = data class ="section-card" id = "summary" #summary #scrollSection pharosTrackScroll>
  <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class ="tkrow"
         fxLayoutAlign="start stretch"
         #summary #scrollSection>
      <div fxFlex="95">
      <span class="mat-title">Protein Summary</span>
      </div>
      <div fxFlex="5">
      <pharos-help-panel-trigger [origin]="knowledge" [label]="'Protein Summary'"></pharos-help-panel-trigger>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="space-between start">
      <div fxFlex = "22" class="synonyms">
        <pharos-idg-level-indicator [level]="target?.idgTDL"></pharos-idg-level-indicator>

        TCLIN: <br>
        Drugs: <!--{{data.drugs?.length}}--> approved drugs

        TCHEM: <br>
        Ligands: <!--{{data.ligands?.length}}--> ChEMBL compounds with an activity cutoff of
        kinase: < 30 nM
         "Ion Channel" < 10uM
         "NR" < 10uM
        "GPCR" | "oGPCR" < 10uM

        TBIO:<br>
        These targets do not have known drug or small molecule activities that satisfy the
        activity thresholds detailed below AND satisfy one or more of the following criteria:<br>

        Gene Ontology Molecular Function: {{data.goFunction?.length + data.goProcess?.length + data.goComponent?.length}}<br>
        -or- <br>
        OMIM phenotype(s) {{data.omim?.length}}<br>

        TDARK: <br>
        Pubmed score: {{target?.jensenScore}} <br>
        Gene RIFs: {{data.generif?.length}} <br>
        Antibodies: {{target?.antibodyCount}} <br>


<!--

case TDL.Tbio => {
        passes the cutoffs for Tdark (Pubmed text mining score of @t.jensenScore, @IDGApp.getGeneRIFs(t).size()
        GeneRIFs and @t.antibodyCount antibodies). In addition it is annotated with
        @(IDGApp.getProperties(t, GO_COMPONENT, 0).size()+IDGApp.getProperties(t, GO_FUNCTION, 0).size()+IDGApp.getProperties(t, GO_PROCESS, 0).size())
        GO terms and has @IDGApp.getOmimPhenotypes(t).size() confirmed OMIM phenotypes.
        }

        case TDL.Tchem => {
        is associated with @IDGApp.getChemblLigands(t).size() ChEMBL compounds (@ligandActivityReport(t)) and passes the cutoffs for Tdark
        (Pubmed text mining score of @t.jensenScore, @IDGApp.getGeneRIFs(t).size()
        GeneRIFs and @t.antibodyCount antibodies), is annotated with
        @(IDGApp.getProperties(t, GO_COMPONENT, 0).size()+IDGApp.getProperties(t, GO_FUNCTION, 0).size()+IDGApp.getProperties(t, GO_PROCESS, 0).size())
        GO terms and has @IDGApp.getOmimPhenotypes(t).size() confirmed OMIM phenotypes.
        }

        case TDL.Tclin => {
        is associated with @IDGApp.getDrugLigands(t).size() approved drugs and passes the cutoffs for Tdark
        (Pubmed text mining score of @t.jensenScore, @IDGApp.getGeneRIFs(t).size()
        GeneRIFs and @t.antibodyCount antibodies), is annotated with
        @(IDGApp.getProperties(t, GO_COMPONENT, 0).size()+IDGApp.getProperties(t, GO_FUNCTION, 0).size()+IDGApp.getProperties(t, GO_PROCESS, 0).size())
        GO terms and has @IDGApp.getOmimPhenotypes(t).size() confirmed OMIM phenotypes.
        }
        -->






      </div>
      <div fxFlex = "22" class="synonyms">
        <ng-container *ngIf="data.synonyms?.length > 0">
          <mat-card-subtitle>Uniprot Accession IDs</mat-card-subtitle>
          <ul class = "inline-list wrap">
            <li *ngFor=" let term of data.synonyms">
              <pharos-term-display [term]= term [showLabel]="false"></pharos-term-display><br>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="data.symbol?.length > 0">
          <br>
          <mat-card-subtitle>Symbol</mat-card-subtitle>
          <ul class = "inline-list wrap">
            <li *ngFor=" let term of data.symbol">
              <pharos-term-display [term] = term [showLabel]="false"></pharos-term-display>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="data.gene?.length > 0">
          <br>
          <mat-card-subtitle>NCBI Gene</mat-card-subtitle>
          <ul class = "inline-list wrap">
            <li *ngFor=" let term of data.gene">
              <pharos-term-display [term]= term  [showLabel]="false"></pharos-term-display>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="data.ensembl?.length > 0">
          <br>
          <mat-card-subtitle>Ensembl ID</mat-card-subtitle>
          <ul class = "inline-list wrap">
            <li *ngFor=" let term of data.ensembl">
              <pharos-term-display [term]= term  [showLabel]="false"></pharos-term-display>
            </li>
          </ul>
        </ng-container>
      </div>
      <div fxFlex="22" class = "kchart full-height" *ngIf="data.knowledge && data.knowledge.length > 0; else noDataDiv">
        <pharos-radar-chart [data] = data.knowledge [shape]="false" [size] = "'medium'" (click)="openModal()" [origin]="'knowledge'"></pharos-radar-chart>
      </div>
        <div fxFlex = "22" class = "kchart full-height" *ngIf="data.knowledge && data.knowledge.length > 0; else noDataDiv">
          <pharos-knowledge-table [data] = data.knowledge></pharos-knowledge-table>
        </div>
        <br>
        <br>
      </div>
    <ng-template #noDataDiv>
      <br>
      <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="center center">
      <div fxFlex="25"></div>
      <div fxFlex="50" fxLayoutAlign="space-around center" class = "kchart full-height">
        <div><mat-icon class = "huge">error_outline</mat-icon></div><br>
        <div><h2>No data available</h2></div>
      </div>
      <br>
      <br>
      <br>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>


