
/*.full-height {
  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
  height: 100%;
}*/

.huge {
  font-size: 124px;
}

.kchart {
  margin: 0 auto;
  height: 30vh;
}


/*
.tkrow {
  height: 30vh;
}*/

@media only screen and (max-width: 768px) {

}
