:host {
  grid-column: 1 / 1;
}

.full-height {
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
  width: 100%;
}

.huge {
  font-size: 124px;
}

.kchart {
  margin: 0 auto;
  height: 30vh;
}

@media only screen and (max-width: 768px) {
  :host {
    grid-column: 1 / span 2;
  }
}
