<div fxFlexFill>
<mat-card class ="flex30 full-height" *ngIf = data>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="50">
        <span class="mat-title">Target Summary</span>
        <br>
        <br>
    <ng-container *ngIf="data.synonyms?.length > 0">
    <mat-card-subtitle>Accession</mat-card-subtitle>
      <ul class = "inline-list">
      <li *ngFor=" let term of data.synonyms">
    <pharos-term-display [term]= term [showLabel]="false"></pharos-term-display><br>
    </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="data.symbol?.length > 0">
      <br>
      <mat-card-subtitle>Symbol</mat-card-subtitle>
      <ul class = "inline-list">
    <li *ngFor=" let term of data.symbol">
    <pharos-term-display [term] = term [showLabel]="false"></pharos-term-display>
    </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="data.gene?.length > 0">
      <br>
      <mat-card-subtitle>NCBI Gene</mat-card-subtitle>
      <ul class = "inline-list">
    <li *ngFor=" let term of data.gene">
      <pharos-term-display [term]= term  [showLabel]="false"></pharos-term-display>
    </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="data.pubmed?.length > 0">
      <br>
      <mat-card-subtitle>NCBI Gene PubMed Count</mat-card-subtitle>
    <ul class ="inline-list">
      <li *ngFor=" let term of data.pubmed">{{term.intval}}</li>
    </ul>
    </ng-container>
      </div>
      <div fxFlex="50" *ngIf="data.knowledge">
      <span class="mat-title">Knowledge Summary</span>
      <br>
      <br>
      <ng-container>
        <pharos-spider-chart [data] = data.knowledge [size] = "'medium'" (click)="openModal()"></pharos-spider-chart>
<!--
        <pharos-radar-chart [data] = data.knowledge [size] = "'medium'" (click)="openModal()"></pharos-radar-chart>
-->
      </ng-container>
    </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title">PubMed Score</span>
        <br>
        <br>
    <ng-container *ngIf="data?.timelines?.length > 0">
    <pharos-line-chart [data]="getTimeline('PubMed Score')"></pharos-line-chart>
    <!--<pharos-line-chart [data]="getTimeline('PubTator')"></pharos-line-chart>-->
    </ng-container>
      </div>
    </div>
    <!--<div *ngIf="[data.gene].length > 0">
    <mat-card-subtitle>NCBI Gene</mat-card-subtitle>
    <div *ngFor=" let term of [data.gene]">
      <pharos-term-display [term]=term></pharos-term-display>
    </div>
    </div>
    <br>
    <div *ngIf="[data.gene].length > 0">
    <mat-card-subtitle>NCBI Gene</mat-card-subtitle>
    <div *ngFor=" let term of [data.gene]">
      <pharos-term-display [term]=term></pharos-term-display>
    </div>
    </div>
    -->
   <!--  PubMed Count
    PubMed Score	0.02

    2012● PubMed Score: 0.015

    PubTator Score  -->

  </mat-card-content>
</mat-card>
<br>


<!--
"Table summarizing target characteristics tallied by Pharos.
Antibody counts from Antibodypedia,
EBI Total Patent Count,
Monoclonal Antibody count from Antibodypedia,
NCBI Gene PubMed Count,
Grant Count,
R01 Count,
Funding ($) from NIH,
JensenLab PubMed Score and
temporal graph">


-->
</div>
