:host {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

.full-height {
  height: 100%;
  margin-left: 20px;
  margin-bottom: 1vh;
}

.kchart {
  margin: 0 auto;
  height: 30vh;
}

@media only screen and (max-width: 768px) {
  :host {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .full-height {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
