#summary {
  //height: 100%;
  //min-height: 100%;
}

.huge {
  font-size: 124px;
}

.kchart {
  margin: 0 auto;
  height: 40vh;
  margin-bottom: 4vh;
}


/*
.tkrow {
  height: 30vh;
}*/

@media only screen and (max-width: 768px) {

}
