<div fxFlexFill>
<mat-card class ="flex30 full-height" *ngIf = data>
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
      <div fxFlex="95">
      <span class="mat-title">Knowledge Summary</span>
      </div>
      <div fxFlex="5">
      <pharos-help-panel-trigger ></pharos-help-panel-trigger>
      </div>
    </div>
      <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
      <div fxFlex="50" class = "kchart full-height" *ngIf="data.knowledge">
        <pharos-radar-chart [data] = data.knowledge [shape]="false" [size] = "'medium'" (click)="openModal()" [origin]="'knowledge'"></pharos-radar-chart>
      </div>
        <div fxFlex = "50" *ngIf="data.knowledge">
          <pharos-knowledge-table [data] = data.knowledge></pharos-knowledge-table>
<!--
          <pharos-generic-table [data]="tableData" [fieldsConfig]="fields" [showPaginator]="false"></pharos-generic-table>
-->
        </div>
        <br>
        <br>
      </div>
  <!--
    <ng-container *ngIf="data.pubmed?.length > 0">
      <br>
      <mat-card-subtitle>NCBI Gene PubMed Count</mat-card-subtitle>
    <ul class ="inline-list wrap">
      <li *ngFor=" let term of data.pubmed">{{term.intval}}</li>
    </ul>-->

    <ng-container *ngIf="getTimeline('PubMed Score')?.length >0">
      <div fxLayout="row" fxLayoutAlign="start stretch" >
      <div fxFlex="95">
        <span class="mat-title">PubMed Score </span>&nbsp;<span>{{target.jensenScore.toFixed(2)}}</span>
      <pharos-line-chart [data]="getTimeline('PubMed Score')"></pharos-line-chart>
        </div>
      <div fxFlex = "5">
        <pharos-help-panel-trigger ></pharos-help-panel-trigger>
      </div>
      </div>
      </ng-container>
    <ng-container *ngIf="getTimeline('PubTator')?.length >0">
      <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="95">
        <span class="mat-title">PubTator Score </span>&nbsp;<span>{{raisePubtator()}}</span>
      <pharos-line-chart [data]="getTimeline('PubTator')"></pharos-line-chart>
        </div>
      <div fxFlex = "5">
        <pharos-help-panel-trigger ></pharos-help-panel-trigger>
      </div>
      </div>
      </ng-container>
    <ng-container *ngIf="getTimeline('Patent Count')?.length >0">
      <div fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="95">
          <span class="mat-title">Patents </span>
          <pharos-line-chart [data]="getTimeline('Patent Count')"></pharos-line-chart>
        </div>
      <div fxFlex = "5">
        <pharos-help-panel-trigger ></pharos-help-panel-trigger>
      </div>
      </div>
      </ng-container>
  </mat-card-content>
</mat-card>
<br>
</div>
