<article>
  <div class="sticky-container" #home>
    <div fxLayout="row wrap" fxLayoutAlign="start center" class="sticky disease-header" *ngIf="disease" [class.banner-visible]="bannerService.bannerVisible()">
      <div>
        <span class="pharos-title toolbar">{{disease?.name}}</span>
        <button mat-button class="tool-button" (click)="downloadData()"
                [matTooltip]="'Download Data for ' + (disease?.name)">
          Download <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
    <br>
  </div>
</article>
