<article>
  <div class ="flex30">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-around start">
    <div fxFlex="95" fxFlexAlign="stretch">
      <span class = "mat-display-3 toolbar">{{disease?.name}}</span>
      <span class="spacer"></span>
      <span fxFlex fxLayoutAlign= "end center">
 <!--   <button mat-icon-button><mat-icon class="example-icon">save</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">code</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">file_download</mat-icon></button>
    <button mat-icon-button><mat-icon class="example-icon">bookmark</mat-icon></button>-->
    </span>
    </div>
  </div>
  <br>
  <br>
</div>
</article>
