
// Import your custom theme
@use '@angular/material' as mat;
@import '../../../../../partials/ncats-theme';

.sticky {
  z-index: 666;
  position: fixed;
  top: 60px;
}

.banner-visible {
  top: 100px;
}

.disease-header {
  background-color: #f7f7f7;
  width: 100vw;
  border-bottom: mat.get-color-from-palette($pharos-app-primary) 6px solid;
}

.pharos-title {
  margin-left: 5vw;

}
@media only screen and (max-width: 960px) {
  .pharos-title {
    font-size: 2em;
  }

  .title-holder {
    margin-left: 2vw;
  }

  .disease-header {
    padding-top: 1vh;
    margin-top: -1vh;
  }
}


