a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

ul#footer-links {
  padding: 1% 0 0 0;
  margin: 0 auto;
  display: table;
}

#footer-links > li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
}

#footer-links > li:after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
  color: #c1c1c1;
}

footer {
  flex-shrink: 0;
  margin-top: auto;
}
