<ul>
  <li><a href ="https://reactome.org/" target="_blank">Reactome <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://www.genome.jp/kegg/pathway.html" target="_blank">KEGG Pathways <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://www.pathwaycommons.org" target="_blank">PathwayCommons <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://www.uniprot.org/" target="_blank">UniProt <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
  <li><a href ="https://www.wikipathways.org/index.php/WikiPathways" target="_blank">WikiPathways <mat-icon [inline]="true">open_in_new</mat-icon></a></li>
</ul>
