  #diseaseSources {
    padding-bottom: 8vh;
  }

  .disease-tree-invisible {
    display: none;
  }

  .disease-tree ul,
  .disease-tree li {
    margin-top: .5vh;
    margin-bottom: .5vh;
    list-style-type: none;
  }

  .tree-leaf {
    display: flex;
    align-items: center;
  }

  .scatter-plot-holder {
    height: 15vh;
    width: 65vw;
  }

  .tinx {
    padding-top: 2vh;
    padding-bottom: 5vh;
    height: 15vh;
    width: 75vw;
  }

  .tinx-row {
    margin-top: 2vh;
  }

  @media only screen and (max-width: 768px) {

  }

