  .diseaseSources {
    padding-bottom: 8vh;
  }

  .scatter-plot-holder {
    height: 30vh;
    width: 65vw;
  }
  .disease-card-container{
    padding-bottom: 3vh;
  }

  @media only screen and (max-width: 768px) {
    .headerRow{
      flex-direction: column;
    }
    mat-paginator{
      align-self: flex-end;
    }
  }

  .exploreSection li{
    list-style: none;
  }

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.disease-panels {
  display: flex;
  flex-direction: row;
  > div {
    width: 50%;
  }
}
