:host {
  grid-column: 2 / 2;
}

.full-height {
  align-self: stretch;
  justify-self: stretch;
  min-height: 100%;
}

.tinx {
  padding-top: 5vh;
  padding-bottom: 10vh;
}

@media only screen and (max-width: 768px) {
  :host {
    grid-column: 1 / span 2;
  }
}
