<mat-card *ngIf=data
          class="section-card"
          id = "diseaseRelationships"
          (pharosScrollspy)="active('diseaseRelationships')"
          #diseaseRelationships>
  <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch"
         #development #scrollSection>
      <div fxFlex="95">
        <span class="mat-title">Disease Associations by Source ({{sources?.length}})</span>
      </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin] = "'diseaseSources'" [label]="'Disease Sources'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
        <div fxFlex="100">
    <mat-tab-group (selectedTabChange)="changeTabData($event)" *ngIf = 'sources.length > 1; else tableOnly'>
      <mat-tab *ngFor="let source of sources" label = "{{source}} ({{getSourceCount(source)}})"  >
        <ng-template matTabContent>
        <pharos-generic-table [data]= tableArr [fieldsConfig] = getTableData(source)></pharos-generic-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <ng-template #tableOnly>
      <pharos-generic-table [data]= tableArr [fieldsConfig] = getTableData(sources[0])></pharos-generic-table>
    </ng-template>
        </div>
      </div>
      <div fxLayout="row" *ngIf="tinx && tinx.length > 0" fxLayout.lt-md="column" fxLayoutAlign="start stretch">
        <div fxFlex="95">
          <span class="mat-title">Disease Novelty (Tinx)</span>
        </div>
      </div>
      <div fxLayout="row" *ngIf="tinx && tinx.length > 0" fxLayout.lt-md="column" class ="tkrow tinx" fxLayoutAlign="start stretch">
        <div fxFlex="100">
      <pharos-line-chart [data]="tinx" [options]="chartOptions"></pharos-line-chart>
    </div>
      </div>
  </mat-card-content>
</mat-card>
