<mat-card *ngIf=data
          class="section-card"
          id = "diseaseRelationships"
          (pharosScrollspy)="active('diseaseRelationships')"
          #diseaseRelationships>
  <mat-card-content>
    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="tkrow"
         fxLayoutAlign="start stretch"
         #development>
      <div fxFlex="95">
        <span class="mat-title"
              [matTooltip] = description
              [matTooltipClass] = "'pharos-tooltip'">
          Disease Associations by Source ({{diseaseSourcesArray?.length}})</span>
      </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin] = "'diseaseSources'" [label]="'Disease Sources'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" class ="tkrow" fxLayoutAlign="start stretch">
        <div fxFlex="100">
    <mat-tab-group (selectedTabChange)="changeTabData($event)" *ngIf = 'diseaseSourcesArray.length > 1; else tableOnly'>
      <mat-tab *ngFor="let source of diseaseSourcesArray" label = "{{source}} ({{getSourceCount(source)}})"  >
        <ng-template matTabContent>
        <pharos-generic-table
          (pageChange)="paginate($event)"
          (sortChange)="sort($event)"
          [pageData]="pageData"
          [data]="tableArr"
          [fieldsConfig] = fieldsData>
        </pharos-generic-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <ng-template #tableOnly>
      <pharos-generic-table
        (pageChange)="paginate($event)"
        (sortChange)="sort($event)"
        [pageData]="pageData"
        [data]="tableArr"
        [fieldsConfig] = fieldsData>
      </pharos-generic-table>
    </ng-template>
        </div>
      </div>
      <div fxLayout="row" *ngIf="tinx && tinx.length > 0" fxLayout.lt-md="column" fxLayoutAlign="start stretch">
        <div fxFlex="95">
          <span class="mat-title">Disease Novelty (Tinx)</span>
        </div>
      </div>
        <div fxLayout="row" *ngIf="tinx && tinx.length > 0" fxLayout.lt-md="column" class ="tkrow tinx" fxLayoutAlign="start stretch">
        <div fxFlex="100">
          <pharos-scatter-plot [data]="tinx" [options]="chartOptions" #scatterInstance></pharos-scatter-plot>
    </div>
      </div>
  </mat-card-content>
</mat-card>
