<section>
  <div class="dashboard-main-div">
    <div class="overlay">
      <div fxLayout="row" fxLayoutAlign="center center" class="dashboard-search">
        <div fxFlex="60" fxFlex.lt-md="95">
          <pharos-search-component class="large-search searchcomponent"></pharos-search-component>
        </div>
      </div>
      <a (click)="goToDetails()" class="learn-link" fxHide.lt-md>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
          <div fxFlex="20" class="learn-more">
            Learn More
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch">
          <div fxFlex="20" class="learn-more">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!--
<pharos-data-types-panel #details></pharos-data-types-panel>
-->
<section>
  <pharos-about-panel #details></pharos-about-panel>
</section>
