@import '../../ncats-theme';

.dashboard-main-div {
  height:100vh;
  background-color: mat-color($pharos-app-primary);
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .dashboard-main-div {
  background-image: url("/assets/images/dna.webp");
}

.no-webp .dashboard-main-div {
   background-image: url("/assets/images/dna.jpg");
}

.spacer {
  height: 30vh;
}

.dashboard-search{
  height: 75vh;
}

.button-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.more-topics.mat-fab.mat-primary:hover {
  background-color: mat-color($pharos-app-accent);
  color:black;
}

.toi-row {
  padding-bottom: 4vh;
}

.large-search > .search-row > .typeahead-field {
  background-color: white;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 50px;
  border: 2px solid mat-color($pharos-app-primary);
}



.toi-grid-list {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw 22vw 5vw;
  grid-gap: 1em;
  grid-row-gap: 5em;
  padding: 1vw;
}

.toi-grid-list > div {
  min-height:100%;
}

.toi-grid-list > mat-card {
  height: 100%;
}

.topics-banner {
  color: white;
  font: 400 2.4em/3em Roboto, "Helvetica Neue", sans-serif;
}
.learn-link {
  bottom: -20vh;
  position: relative;
}

.learn-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.learn-more {
  color:#ffffff;
  font: 500 20px/20px Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrolled-banner {
background-color: whitesmoke;
  color: mat-color($pharos-app-primary);

}

@media only screen and (max-width: 960px) {
  .dashboard-main-div {
    background-size: inherit;
  }

  .large-search > .search-row > .typeahead-field {
    margin-left: 1.5vw;
  }

  .mobile-search > .search-row > .typeahead-field {
    margin-left: 3vw;
  }

  .toi-grid-list {
    grid-template-columns: repeat(2, minmax(45%, 1fr));
    grid-gap: 1em;
    grid-row-gap: 4em;
    padding: 1vw;
  }

  button.more-topics.mat-fab.mat-primary {
    background-color: mat-color($pharos-app-accent);
    color:black;
  }

}

@media  screen and (max-width: 768px) {
  .dashboard-search{
    height: 100vh;
  }

  .toi-grid-list {
    grid-template-columns: 75vw;
    justify-content: center;
  }

  .learn-link {
    margin-top: -7vh;
  }

  .topics-banner{
    padding-top:10vh;
  }
}
