<div class="faq-holder">
  <div class="faq-content" fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="65" fxFlex.lt-md="90" class="faq-wrapper">
      <div class="faq-header">FAQs</div>
      <mat-accordion [multi]="true">
        <mat-expansion-panel *ngFor="let subject of subjects" class="subject-panel" [expanded]="true">
          <mat-expansion-panel-header class="field-label">
            {{subject}}
          </mat-expansion-panel-header>
          <div *ngFor="let question of questionsMap.get(subject)" class="question-holder">
            <div [innerHTML]="question.question" class="faq-question"></div>
            <div [innerHTML]="question.answer" class="faq-answer" [ngClass]="{'equation': question.equation}"
                 #faqAnswer></div>
            <mat-divider class="question-divider"></mat-divider>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
