<ng-template #headerrow>
  <div fxLayout="row" *ngIf="target"
       class="tkrow"
       fxLayoutAlign="start stretch">
    <div fxFlex="95">
        <span class="mat-title"
              [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">
          {{label}} ({{target[params.countName]}})</span>
    </div>
    <div fxFlex="5">
      <pharos-help-panel-trigger [origin]="this.params.fieldName"></pharos-help-panel-trigger>
    </div>
  </div>
</ng-template>

<ng-template #nodata>
  <article>
  <mat-card [id]="field"
            class="section-card"
            (pharosScrollspy)="active(field)"
            #drugs>
    <mat-card-content>
  <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      No {{label | lowercase}} found
    </mat-card-content>
  </mat-card>
  </article>
</ng-template>

<article *ngIf="(this.target && this.target[this.params.fieldName].length > 0); else nodata">
  <mat-card id={{field}}
            class="section-card"
            *ngIf="data"
            (pharosScrollspy)="active(field)"
            #drugs>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <ng-template [ngTemplateOutlet]="headerrow"></ng-template>
      <div class="headerSection">
        <pharos-explore-list-button [path]="'/ligands'" [buttonText]="params.buttonText"
                                    [queryParams]="{associatedTarget:target.preferredSymbol,facet:'Type' + this.Facet.separator + params.buttonFilter}"></pharos-explore-list-button>
        <mat-paginator
          [pageSize]= pageData.top
          [pageIndex]="pageData.skip / pageData.top"
          [length]= pageData.total
          [hidePageSize]="true"
          [showFirstLastButtons]=true
          (page)=paginate($event)
          #drugsspaginator></mat-paginator>
      </div>
      <div class="structure-grid">
        <div *ngFor="let drug of target[params.fieldName]">
          <pharos-ligand-card [ligand]="drug" [target]="target" [apiSources]="apiSources" [internalLink]="true"></pharos-ligand-card>
        </div>
      </div>
      <div *ngIf="isSmallScreen">
      <mat-paginator
      [pageSize]= pageData.top
      [pageIndex]="pageData.skip / pageData.top"
      [length]= pageData.total
      [hidePageSize]="true"
      [showFirstLastButtons]=true
      (page)=paginate($event)
      #drugsspaginator></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</article>
