<mat-card class ="pharos-card toi-link" routerLink="/topics/{{toi?.id}}">
  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <mat-chip-list>
        <mat-chip  [color]="'accent'" [selected]="true">{{toi?.class}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100">
      <span class="topic-header primary">{{toi?.name}}</span>
    </div>
  </div>
    <div *ngIf="desc" fxLayout="row" fxLayoutAlign="center center" class="counts-row">
      <div fxFlex="75">
        {{toi?.description}}
      </div>
    </div>
  <div class = "pharos-card-spacer"></div>
    <div fxLayout="row" fxLayoutAlign="center center" class="counts-row">
      <div fxFlex="30" *ngIf="toi?.targetCt != 0" routerLink="/targets" class="toi-sub-link" fxFlexAlign="center">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{toi?.targetCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="counts-row">
        <span class = "counter-type">Targets</span>
      </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="toi?.targetCt != 0"></div>
      <div fxFlex="30" *ngIf="toi?.diseaseCt != 0" routerLink="/diseases" class="toi-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{toi?.diseaseCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class = "counter-type">Diseases</span>
        </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="toi?.diseaseCt != 0"></div>
      <div fxFlex="30" *ngIf="toi?.ligandCt != 0" routerLink="/ligands" class="toi-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{toi?.ligandCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter-type">Ligands</span>
        </div>
      </div>
      <div fxFlex="1" class="divider" *ngIf="toi?.publicationCt != 0"></div>
      <div fxFlex="30" *ngIf="toi?.publicationCt != 0" routerLink="/publications" class="toi-sub-link">
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter">{{toi?.publicationCt}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
        <span class = "counter-type">Publications</span>
        </div>
      </div>
    </div>
</mat-card>
