.source-text {
  margin-top: 20px;
  font-size: 1.3em;
}
.tissue-header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.uberon-id {
  padding-left: 10px;
}
.closeButton {
  width: 48px;
  place-self: baseline;
}
.source-explanation{
  margin-left: 15px;
  margin-top: 15px;
}
