.lower-content{
  display: flex;
  flex-direction: column;
}

.assoc-count {
  display: flex;
  align-items: center;
}

.assoc-count:first-child{
  padding-left: 0;
}

.pathway-container{
  flex-direction: column;
  display: flex;
  align-items: center;
  mat-card-title{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  pharos-reactome-pathway-browser{
    padding-bottom: 10px;
  }
}

.slice-help {
  text-align: center;
}

.help-icon {
  vertical-align: middle;
}
