<article *ngIf="target?.pathwayMap?.size > 0">
  <mat-card id="pathways"
            class="section-card"
            (pharosScrollspy)="active('pathways')"
            #pathways>
    <mat-card-content>
      <div *ngIf="loading" class="loadingIcon" fxLayoutAlign="center center">
        <img class="spinner rotating" alt="loading..." src="./assets/images/pharos_spinner.svg">
      </div>
      <div fxLayout="row"
           class="tkrow"
           fxLayoutAlign="start stretch">
        <div fxFlex="95" class="headerContainer">
        <span class="mat-title" [matTooltip]=description
              [matTooltipClass]="'pharos-tooltip'">Pathways ({{getTotalPathwayCount()}})</span>
        </div>
        <div fxFlex="5">
          <pharos-help-panel-trigger [origin]="'pathways'"></pharos-help-panel-trigger>
        </div>
      </div>
      <div class="lower-content">
        <mat-tab-group>
          <mat-tab *ngFor="let pathType of this.pathOrder"
                   [label]="pathType + ' (' + getPathwayCount(pathType) + ')'"
                   [matTooltip]="getTooltip('reactome')">
            <ng-template matTabContent>
              <div class="pathway-container"
                   *ngIf="pathType == 'Reactome' && selectedStructure && target.pathwayMap.get(pathType).length > 0">
                <mat-card-title>{{selectedStructure.name}} ({{selectedStructure.sourceID}})</mat-card-title>
                <pharos-reactome-pathway-browser
                  [symbol]="target.gene"
                  [reactomeID]="selectedStructure.sourceID">
                </pharos-reactome-pathway-browser>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                  <div>
                    <p class="slice-help">
                      <mat-icon [color]="'primary'" class="help-icon">info</mat-icon>
                      Click on a row in the table to change the structure displayed.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pathway-table">
              <div class="headerRow">
                <pharos-explore-list-button [path]="'/targets'" [buttonText]="'Find Similar Targets'"
                                            [facetName]="this.facetDataMap.get(pathType).friendlyName"
                                            [queryParams]="{similarity: '(' + target.preferredSymbol + ', ' + this.facetDataMap.get(pathType).facet + ')'}"></pharos-explore-list-button>
                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20, 50]"
                  [pageSize]=pageDataMap.get(pathType).top
                  [pageIndex]="pageDataMap.get(pathType).skip / pageDataMap.get(pathType).top"
                  [length]="pageDataMap.get(pathType).total"
                  [showFirstLastButtons]=true
                  (page)="changePage($event, pathType)">
                </mat-paginator>
              </div>
              <pharos-generic-table fxHide.lt-md
                                    [showPaginator]="false"
                                    [pageData]="pageDataMap.get(pathType)"
                                    [data]="targetsProps.pathwayMap.get(pathType)"
                                    [fieldsConfig]="pathwayFields"
                                    (rowClick)="changePath($event, pathType)">
              </pharos-generic-table>
              <pharos-generic-table fxHide.gt-sm
                                    [showPaginator]="false"
                                    [pageData]="pageDataMap.get(pathType)"
                                    [data]="targetsProps.pathwayMap.get(pathType)"
                                    [fieldsConfig]="shortPathwayFields"
                                    (rowClick)="changePath($event, pathType)">
              </pharos-generic-table>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</article>
