@import '../../../../partials/ncats-theme';

.d3-bar-chart {
  margin: 0 auto;
  height: 100%;
  width:100%;
}

.d3-bar-chart svg {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 14px sans-serif;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  pointer-events: none;
  z-index: 666;
}

.hovered {
  fill: mat-color($pharos-app-accent) !important;
}

.bar {
  fill: mat-color($pharos-app-primary) !important;
}

.exp{
  fill: mat-color($pharos-app-accent) !important;
}
.exp.hovered {
  fill: mat-color($pharos-app-accent, 0.6) !important;
}
.outOfBounds{
  fill: lightgray !important;
}

.bar:hover {
  fill: mat-color($pharos-app-accent) !important;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

pharos-bar-chart .x.axis path {
  display: none;
}
